@import '../../styles/helpers/index';

.form-container {
    position: relative;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    margin-bottom: 100px;
}

// .a-trac-field {
//     margin-top: 15px;

//     &:last-of-type {
//         padding-top: 35px;
//     }
// }