@import '../../../styles/helpers/index';

.modal-settings{
    .left-form {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;

        @include mq($sm) {
            width: 100%;
            display: block;
            padding-right: 0px;
        }

        .form-col {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;

            &:nth-child(1) {
                margin-bottom: 43px;
            }
        }
    }

    .right-form {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-left: 15px;

        @include mq($sm) {
            width: 100%;
            display: block;
            padding-left: 0px;
            margin-top: 43px;
        }

        .form-col {
            padding-right: 0px;
        }
    }
}

.p-account-settings {
    background: white;

    .section-wrapper {
        padding: 0px 30px;
        padding-top: 35px;
        padding-bottom: 48px;
        border-bottom: 1px solid #E8EAEC;

        @include mq($sm) {
            padding-left: 14px;
            padding-top: 22px;
            padding-bottom: 32px;
            padding-right: 14px;
        }

        .form-col {
            display: inline-block;
            width: 337px;
            margin: 0;
            vertical-align: top;

            &.initial {
                width: initial;
            }

            &:first-child {
                padding-right: 1.6rem;
            }

            &:nth-child(2) {
                padding-left: 1.6rem;
            }

            @include mq($lg) {
                &:first-child {
                    padding-right: 1.2rem;
                }

                &:nth-child(2) {
                    padding-left: 1.2rem;
                }
            }

            @include mq($md) {
                width: 100%;
                margin-bottom: 3.2rem;

                &:first-child {
                    padding-right: 0;
                }

                &:nth-child(2) {
                    padding-left: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        h3 {
            @include mq($sm) {
                font-size: 24px;
            }
        }

        .textIdentification {
            color: #8A959E;
            font-size: 14px;
        }
    }

    .profile-account-section {
        width: 100%;

        .profile-photo-wrapper {
            margin-bottom: 37px;

        }

        .profileAccount {
            width: 87px;
            height: 87px;
            border-radius: 100%;
            overflow: hidden;
            border: 2px solid rgba(255, 255, 255, 0.5);
            display: inline-block;
            vertical-align: middle;
        }

        .changePhotoAccount {
            display: inline-block;
            margin-left: 26px;
            border-radius: 7px;
            font-size: 14px;

            @include mq($sm) {
                margin-left: 22px;
            }
        }

        .form-row {
            width: 100%;
            display: inline-block;
            padding: 12px 0 30px 0px;

            &:last-child {
                margin-bottom: 0;
            }

            @include mq($lg) {
                margin-bottom: 3.2rem;
            }
        }

        .input-group {
            &-col {
                display: inline-block;
                padding: 0;
            }

            .phone-number {
                position: relative;
                z-index: 2;
                width: 72px;
                padding-bottom: 10px;
                border-bottom: 1px solid map-get($grey, light);
                margin-right: 10px;

                .select-item {
                    min-width: 180px;

                    @include mq($sm) {
                        left: 0;
                        right: auto;
                    }
                }

                .select-label {
                    display: none;
                }

                .selected {
                    padding-right: 0;
                    font-size: 1.6rem;
                    font-weight: map-get($fw, normal);

                    &:after {
                        top: 6px;
                        right: 0;
                    }
                }

                &+.input-group-col {
                    width: calc(100% - 82px);

                    label {
                        transform: translateX(0) translateY(10px);
                    }

                    input {

                        &:valid,
                        &:focus {
                            + {
                                label {
                                    transform: translateX(-82px) translateY(-12px);
                                }
                            }
                        }
                    }
                }
            }
        }

        .left-form {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding-right: 15px;

            @include mq($sm) {
                width: 100%;
                display: block;
                padding-right: 0px;
            }

            .form-col {
                width: 100%;
                padding-right: 0px;
                padding-left: 0px;

                &:nth-child(1) {
                    margin-bottom: 43px;
                }
            }
        }

        .right-form {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding-left: 15px;

            @include mq($sm) {
                width: 100%;
                display: block;
                padding-left: 0px;
                margin-top: 43px;
            }

            .form-col {
                padding-right: 0px;
            }
        }

        .change-password-wrapper {
            margin-top: 30px;
        }

        .social-icon {
            margin-top: -20px;

            p.label {
                font-size: 12px;
                margin-bottom: 5px;
                color: #8A959E;
            }

            .badge-wrapper {
                display: flex;
                justify-content: space-between;

                p.text-badge {
                    display: inline-block;
                    margin-bottom: 0px;
                }

                .badge {
                    background: #F3F4F5;
                    border-radius: 7px;
                    padding: 5px 10px;
                    display: inline-block;

                    &.gmail {
                        &::after {
                            content: '';
                            width: 18px;
                            height: 18px;
                            background: url("../../../assets/images/logo/google.svg") no-repeat;
                            background-size: contain;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 10px;
                            margin-top: -2px;
                        }
                    }

                    &.facebook {
                        &::after {
                            content: '';
                            width: 18px;
                            height: 18px;
                            background: url("../../../assets/images/logo/fb.svg") no-repeat;
                            background-size: contain;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 10px;
                            margin-top: -3px;
                        }
                    }
                }
            }
        }


    }

    .identification-information-section {
        .title-wrapper {
            width: 493px;
            display: inline-block;

            @include mq($sm) {
                width: 100%;
            }

            .select-citizen {
                .a-trac-field {
                    width: 50%;
                    height: auto;
                    display: inline-block;
                    margin-bottom: 30px;
                    margin-top: 20px;
                }
            }
        }

        .id-card-wrapper {
            float: right;

            @include mq($sm) {
                float: initial;
                width: 100% !important;
            }
        }

        .titleIdentification1 {
            padding: 12px 0 30px 0;

            .textIdentification {
                color: #8A959E;
                width: 493px;
                height: 42px;

                @include mq($sm) {
                    font-size: 14px;
                }
            }

            &.last {
                padding-bottom: 0px;
            }
        }

        .titleIdentification2 {
            padding: 10px 0 11px 0;

            .textIdentification {
                color: #8A959E;
                width: 574px;
                height: 42px;

                @include mq($sm) {
                    font-size: 14px;
                }
            }
        }

        .form-col {
            &.initial {}
        }
    }

    .credit-card-section {
        @include mq($sm) {
            padding: 15px;
        }

        .creditCard-list {
            padding-right: 30px;
            margin-bottom: 26px;

            @include mq($sm) {
                padding-right: 0px;
            }

            .card-item {
                padding-bottom: 20px;
                border-bottom: 1px solid #8B93A4;
                padding-left: 23px;
                padding-top: 20px;

                &.show {
                    background: #E8EAEC;
                    border-bottom: none;

                    .card-action {
                        display: block;
                    }

                    .card-info {
                        margin-bottom: 41px;
                    }

                    &:hover {
                        background: #E8EAEC;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background: #f9f9f9;
                }

                .card-info {
                    margin-bottom: 0px;

                    .select-icon {
                        width: 20px;
                        height: 20px;
                        border: 1px solid #d8d8d8;
                        border-radius: 50%;
                        overflow: hidden;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
                        background-color: white;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 39px;

                        @include mq($sm) {
                            margin-right: 19px;
                        }

                        &.selected {
                            background: url('../../../assets/images/icons/ic-card-selected.svg') no-repeat center;
                            background-size: contain;
                            border: none;
                        }
                    }

                    .card-img {
                        width: 39px;
                        height: 27px;
                        border: 1px solid #E8EAEC;
                        border-radius: 2px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 46px;
                        background: white;
                        padding: 2px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .card-desc {
                        display: inline-block;
                        margin-right: 48px;
                        vertical-align: middle;

                        @include mq($sm) {
                            margin-right: 0px;
                            display: block;
                            margin-top: 18px;
                            padding-left: 40px;
                        }

                        p.label-card {
                            font-size: 12px;
                            font-weight: 500;
                            color: #8A959E;
                            margin: 0px;
                            text-align: left;
                            margin-bottom: 5px;
                        }

                        p.value-card {
                            font-size: 16px;
                            font-weight: 500;
                            color: #2A2E36;
                            margin: 0px;
                            text-align: left;
                        }
                    }
                }

                .card-action {
                    display: none;

                    .btn-primary {
                        margin-right: 24px;

                        @include mq($sm) {
                            margin-right: 0px;
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }

    .remove-account {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin: 30px;

        @include mq($sm) {
            text-align: left;
            margin-left: 17px;
        }

        a {
            color: #2A2E36;
        }
    }

    .input-file.change-photo {
        display: none;
    }

    .a-modal.add-credit-card {
        .content-wrapper {
            max-width: 650px;

            @include mq($sm) {
                width: 100% !important;
            }

            .modal-content {
                @include mq($sm) {
                    max-height: initial;
                }
            }

            .info-header {
                margin-bottom: 12px;

                @include mq($sm) {
                    display: block;
                }

                h3 {
                    color: map-get($grey, darkest);
                    display: inline-block;
                    margin: 0 40px 0 0;

                    @include mq($lg) {
                        font-size: 2.2rem;
                        margin-right: 36px;
                    }

                    @include mq($md) {
                        margin-right: 40px;
                    }

                    @include mq($sm) {
                        display: block;
                        margin-right: 0;
                        margin-bottom: 12px;
                    }
                }

                .brand-wrapper {
                    display: inline-block;
                    vertical-align: bottom;

                    .item-brand {
                        height: 23px;
                        display: inline-block;
                        vertical-align: bottom;

                        img {
                            height: 100%;
                            width: auto;
                        }

                        @include mq($lg) {
                            height: 20px;
                        }
                    }
                }
            }

            .payment-info-form {
                max-width: 340px;

                +form .form-input {
                    padding-top: 28px;
                }

                @include mq($lg) {
                    max-width: initial;
                }

                .form-input {
                    padding-top: 34px;
                    clear: both;

                    &.terms-condition {
                        padding-top: 26px;

                        .a-modal.modal-on-add-card {
                            height: 0px;

                            &.open {
                                height: 100%;

                                .content-wrapper {
                                    .modal-content {
                                        @include mq($sm) {
                                            max-height: initial;
                                        }
                                    }

                                    .modal-footer {
                                        @include mq($sm) {
                                            padding-top: 30px;
                                        }
                                    }
                                }
                            }

                            .content-wrapper {
                                width: 100%;
                            }
                        }
                    }

                    @include mq($sm) {
                        padding-top: 36px;
                    }

                    @include mq($xsr) {
                        padding-top: 32px;
                    }

                    .col {
                        display: inline-block;
                        vertical-align: top;
                        box-sizing: border-box;
                        width: 50%;

                        &:nth-child(1) {
                            padding-right: 12px;
                        }

                        &.relative {
                            position: relative;

                            .info-note {
                                position: absolute;
                                bottom: -20px;
                                left: 0;

                                a {
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: #00C0F2;
                                }
                            }
                        }
                    }

                    .inline {
                        display: inline-block;
                        vertical-align: middle;

                        &:nth-child(1) {
                            margin-right: 4px;
                        }

                        a {
                            font-size: 12px;
                        }

                        .a-trac-field {
                            margin-top: 3px;
                        }
                    }

                    .action-wrapper-toggle {
                        position: relative;
                    }

                    &.save-info {
                        padding-top: 24px;
                        @include cf;

                        .desc {
                            float: left;
                            width: 210px;
                            line-height: 21px;
                            color: map-get($grey, light);
                            font-size: 14px;
                            font-weight: 500;
                        }

                        .toggle-wrapper {
                            float: right;
                        }

                        @include mq($xsr) {
                            padding-top: 20px;
                        }
                    }
                }
            }
        }
    }

    .a-modal.success.add-card-success {
        .content-wrapper {
            @include mq($sm) {
                width: 90%;
            }
        }
    }
}

//modal
.modal-remove-confirmation .content-wrapper {
    &.medium {
        max-width: 516px;

        @include mq($sm) {
            width: 90% !important;
            height: initial !important;
        }

        .dashboard-popup-content {
            .title-note {
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                color: #2A2E36;
                max-width: 328px;
                margin: auto;
                margin-bottom: 24px;
            }

            .sub-note {
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                color: #8A959E;
                margin-bottom: 19px;
            }
        }

        .modal-footer {
            padding-top: 0px;

            .success {
                width: 100%;

                .button-wrapper {
                    width: 288px;
                    display: block;
                    margin: auto;

                    @include mq($sm) {
                        width: 100%;
                    }

                    .a-btn {
                        width: 100%;
                        margin-bottom: 11px;

                        &:nth-child(2) {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

.btn-group.action {
    padding: 0px 30px;
    margin-bottom: 40px;

    button {
        @include mq($sm){
            width: 100%;
        }
        &:nth-child(1){
            @include mq($sm){
                margin-bottom: 20px;
            }
        }
        &.a-btn {
            margin-right: 18px;
        }
    }
}
