/*==========================================================================
  MIXIN
  ========================================================================== */

// Media Query
@mixin mq($breakpoints) {
  @if ($breakpoints) {
    @media only screen and (max-width: $breakpoints) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $small) {
      @content;
    }
  }
}

// Clearfix
@mixin cf() {
  &:before,
  &:after {
    content: ' '; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Centered container element
@mixin container-no-padding() {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @include cf;
}

// Centered container element
@mixin container-has-padding($gutter: map-get($grid, gutter)) {
  margin-right: auto;
  margin-left: auto;
  padding-left: floor(($gutter / 2));
  padding-right: ceil(($gutter / 2));
  width: 100%;
  @include cf;
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: map-get($grid, gutter)) {
  margin-left: ceil(($gutter / -2));
  margin-right: floor(($gutter / -2));
  @include cf;
}

// // [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin make-grid-columns(
  $i: 1,
  $list: '.col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}'
) {
  @for $i from (1 + 1) through map-get($grid, columns) {
    $list: '#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}';
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left: ceil((map-get($grid, gutter) / 2));
    padding-right: floor((map-get($grid, gutter) / 2));
  }
}

// // [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin float-grid-columns($class, $i: 1, $list: '.col-#{$class}-#{$i}') {
  @for $i from (1 + 1) through map-get($grid, columns) {
    $list: '#{$list}, .col-#{$class}-#{$i}';
  }
  #{$list} {
    float: left;
  }
}

@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .col-#{$class}-#{$index} {
      width: percentage(($index / map-get($grid, columns)));
    }
  }
  @if ($type == push) and ($index > 0) {
    .col-#{$class}-push-#{$index} {
      left: percentage(($index / map-get($grid, columns)));
    }
  }
  @if ($type == push) and ($index == 0) {
    .col-#{$class}-push-0 {
      left: auto;
    }
  }
  @if ($type == pull) and ($index > 0) {
    .col-#{$class}-pull-#{$index} {
      right: percentage(($index / map-get($grid, columns)));
    }
  }
  @if ($type == pull) and ($index == 0) {
    .col-#{$class}-pull-0 {
      right: auto;
    }
  }
  @if ($type == offset) {
    .col-#{$class}-offset-#{$index} {
      margin-left: percentage(($index / map-get($grid, columns)));
    }
  }
}

// // [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}

// // Create grid for specific class
@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns(map-get($grid, columns), $class, width);
  @include loop-grid-columns(map-get($grid, columns), $class, pull);
  @include loop-grid-columns(map-get($grid, columns), $class, push);
  @include loop-grid-columns(map-get($grid, columns), $class, offset);
}
