/*==========================================================================
  VARIABLES
  ========================================================================== */

/* COLORS ================================================================ */

// Main
$primary: #0038a9;
$secondary: #f47d00;
$secondary-disable: #ccd1db;
$tertiary: #005baa;
$black: #000;
$white: #fff;
$overlay: #000;
$line-thin: #e7e7e7;
$label-rent-form: #8e9bbf;
$date-range: #465b95;
$step-order: #14348b;
$red: #ff0000;
$red-dark: #9c1f3c;
$rent-navigation: #12265d;

$facebook: #3b5998;
$instagram: #c32aa3;
$twitter: #33ccff;
$youtube: #ff3333;

// Alternative
$primary-alt: (
  light: #2246a8,
  dark: #1f419b,
  darkest: #1a3681,
  medium-darkest: #162f74,
  extremely-darkest: #12265b,
);

// Grey
$grey: (
  filter-side: #f3f4f5,
  extremely-lightest: #f5f5f5,
  lightest: #d8d8d8,
  light: #8a959e,
  dark: #757b88,
  darkest: #2a2e36,
  body: #f0f0f3,
);

// Button
$button: (
  primary-default: #f47d00,
  primary-hover: #f69d57,
  primary-press: #ffb981,
  primary-disabled: #ccd1db,
  secondary-default: #0038a9,
  secondary-hover: #0949c9,
  secondary-press: #2a6cf1,
  outline-default: #2a2e36,
  outline-hover: #f47d00,
  outline-press: #ffb981,
  outline-disabled: #a9adb6,
);

// Navigation
$nav: (
  background: #0a1533,
  active-background: #0b1c4a,
  active-color: #f47d31,
);

/* TYPOGRAPHY ============================================================ */

$ff: 'Museo Sans';

$fw: (
  light: 300,
  normal: 500,
  bold: 700,
  extra-bold: 900,
);

$fz: (
  base: 62.5%,
  h1: 4rem,
  h2: 3rem,
  h3: 2.4rem,
  h4: 1.8rem,
  h5: 1.6rem,
  h6: 1.4rem,
  h1-md: 3.6rem,
  h2-md: 2.4rem,
  h3-md: 1.8rem,
  h4-md: 1.6rem,
  h5-md: 1.4rem,
  h6-md: 1.2rem,
  h1-sm: 3.2rem,
  h2-sm: 2.4rem,
  h3-sm: 1.8rem,
  h4-sm: 1.6rem,
  h5-sm: 1.4rem,
  h6-sm: 1.2rem,
  text1: 1.6rem,
  text2: 1.4rem,
  label: 1.4rem,
  button: 1.4rem,
  small-text: 1.2rem,
  text-link: 1.4rem,
  small-text-link: 1.2rem,
);

/* GRID ==================================================================== */

$grid: (
  columns: 12,
  gutter: 24px,
);

$container: (
  large: (
    1156px + map-get($grid, gutter),
  ),
  medium: (
    936px + map-get($grid, gutter),
  ),
  small: (
    716px + map-get($grid, gutter),
  ),
  extra-small: 540px,
);

/* SCREEN ================================================================== */

$lg: 1220px !default;
$md: 980px !default;
$sm: 767px !default;
$xs: 480px !default;
$xsr: 320px !default;
