.accordion-wrapper {
    margin-bottom: 19px;
    p.accordion-title {
        margin: 0;
        padding-bottom: 8px;
        border-bottom: 1px solid #8B93A4;
        font-size: 16px;
        font-weight: 500;
        color: #2A2E36;
        position: relative;
        &.show {
            &::after {
                transform: rotate(-180deg);
                transition: all 0.3s ease;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: 8px;
            top: 10px;
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 8px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #2a2e36;
            transition: all 0.3s ease;
        }
        &:hover {
            cursor: pointer;
        }
    }
    p.driver-info-title {
        font-size: 24px;
        margin: 0px;
        font-weight: 700;
        color: #2A2E36;
        &:hover {
            cursor: pointer;
        }
        &::before {
            content: '';
            width: 31px;
            height: 23px;
            background-image: url(../../assets/images/icons/driver-info.svg);
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
            margin-right: 18px;
        }
    }
    p.desc-info {
        margin: 0px;
        font-size: 14px;
        font-weight: 500;
        color: #8A959E;
        margin-bottom: 33px;
    }

    .accordion-content {
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
        &.show {
            margin-top: 30px;
            max-height: 1200px;
            transition: all 0.3s ease;
        }
    }
}