@import '../../styles/helpers/index';

.m-popular-destinations {
  margin-left: -1.2rem;
  margin-right: -1.2rem;
  @include cf;
}

.a-popular-destinations {
  float: left;
  width: 20%;
  padding: 1.2rem;
  .box-item {
    position: relative;
    width: 100%;
    padding-bottom: 65%;
    border-radius: 5px;
    overflow: hidden;
    transform: translateY(0);
    box-shadow: 0 0 20px 5px rgba($black, 0);
    transition: all 0.3s ease;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 50%;
      z-index: 2;
      background-image: linear-gradient(
        0deg,
        #000000 0%,
        rgba(255, 255, 255, 0) 86%
      );
    }
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 20px 5px rgba($black, 0.15);
      img {
        opacity: 1;
      }
    }
  }
  img {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h5 {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $white;
    padding: 0.8rem 1.6rem;
    margin: 0;
    line-height: 1.75;
  }
}
