@import '../../styles/helpers/index';

.m-section {
  position: relative;
  width: 100%;
  padding: 8rem 0 2rem;
  @include mq($lg) {
    padding: 7.2rem 0 1.6rem;
  }
  @include mq($md) {
    padding: 4.8rem 0 1.6rem;
  }
  @include mq($sm) {
    padding: 4.8rem 0 4rem;
  }
  @include mq($xsr) {
    padding: 4rem 0 3.2rem;
  }
  .line {
    width: 4rem;
    border: 1px solid $primary;
    border-radius: 1px;
    margin: 0 auto;
  }

  .content {
    padding: 4rem 0 0;
    &.flex {
      display: flex;
      justify-content: space-between;
    }
    @include mq($lg) {
      padding-top: 3.2rem;
    }
    @include mq($md) {
      padding-top: 2.4rem;
    }
  }
}
