@import '../../styles/helpers/index';

.m-card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  flex: 1;
  @include mq($sm) {
    display: block;
    padding: 0 0 2.4rem;
    &:last-child {
      padding-bottom: 0;
    }
  }
  @include mq($xsr) {
    padding: 0 0 2rem;
  }
  .card-icon {
    width: 100%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3.2rem 0;
    @include mq($lg) {
      height: 64px;
      margin: 2.8rem 0;
    }
    @include mq($md) {
      height: 48px;
      margin: 2.4rem 0;
    }
    @include mq($sm) {
      height: 62px;
    }
    @include mq($xsr) {
      height: 56px;
    }
    &.booking-process {
      background-image: url(../../assets/images/icons/booking-process.svg);
    }

    &.car-subtitution {
      background-image: url(../../assets/images/icons/car-subtitution.svg);
    }

    &.coverage-insurance {
      background-image: url(../../assets/images/icons/coverage-insurance.svg);
    }

    &.premium-car {
      background-image: url(../../assets/images/icons/premium-car.svg);
    }
  }
  h4 {
    @include mq($md) {
      margin-bottom: 1.2rem;
    }
    @include mq($sm) {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    @include mq($xsr) {
      font-size: 1.6rem;
    }
  }
  p {
    margin: 0;
    @include mq($md) {
      font-size: 1.4rem;
    }
    @include mq($sm) {
      font-size: 1.6rem;
    }
    @include mq($xsr) {
      font-size: 1.5rem;
    }
  }
}
