@import '../../styles/helpers/index';

.m-selected-car {
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px -2px 20px 0 rgba(#314a62,0.15);
    background-color: $white;
    opacity: 0;
    transform: translateY(100%);
    animation: .35s ease .1s normal forwards 1 showSelectedCar;
    @include mq($sm) {
        padding: 1.2rem 0;
    }
    .container{
        display: table;
        @include mq($xsr) {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
        }
    }
    .selected-lists {
        // display: table-cell;
        overflow-x: auto;
        width: 100%;
        @include cf;
        .item {
            height: 70px;
            float: left;
            padding: 1.4rem 2rem;
            position: relative;
            opacity: 0;
            transform: scale(0.75);
            border-right: solid 1px rgba(#979797, 0.25);
            animation: .25s ease 0s normal forwards 1 showSelectedCarItem;
            &:first-child{
                animation-delay: .4s;
            }
            &.active {
                background-color: #ececec;
            }
            @include mq($lg) {
                height: 64px;
                padding: 1.4rem 1.6rem;
            }
            @include mq($md) {
                height: 56px;
                padding: 1.4rem 1.4rem;
            }
        }
        .image {
            position: relative;
        }
        img {
            height: 46px;
            @include mq($lg) {
                height: 42px;
            }
            @include mq($md) {
                height: 34px;
            }
        }
        .cancel {
            position: absolute;
            top: -8px;
            right: -8px;
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            cursor: pointer;
            background-color: $red;
            border: solid 2px $white;
            overflow: hidden;
            opacity: 0;
            transform: rotate(45deg);
            animation: .25s ease .4s normal forwards 1 showCloseCarItem;
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background: url(../../assets/images/icons/cancel-order.svg) no-repeat center center / 10px auto;
                transition: all 0.25s ease;
            }
            &:hover {
                &:after {
                    transform: rotate(90deg);
                }
            }
        }
        @include mq($sm) {
            display: none;
        }
    }
    .selected-price {
        display: table-cell;
        width: 400px;
        vertical-align: middle;
        table-layout: fixed;
        padding-left: 20px;
        @include mq($lg) {
            width: 350px;
        }
        @include mq($md) {
            width: 348px;
        }
        @include mq($sm) {
            width: 100%;
        }
    }
    .selected-passanger{
        display: table-cell;
        width: 197px;
        background: #1F419B;
        padding: 13px 28px;
        .label {
            font-size: 14px;
            font-weight: 700;
            color: white;
            margin: 0px;
        }
        .value {
            font-size: 18px;
            font-weight: 700;
            color: white;
            margin: 0px;
        }
    }
    .selected-price-wrapper{
        display: table;
        width: 100%;
    }
    .total-payment{
        display: table-cell;
        vertical-align: middle;
        padding-right: 12px;
        .label{
            font-size: 1.4rem;
            margin: 0;
            color: map-get($grey, light);
            font-weight: map-get($fw, bold);
            @include mq($xsr) {
                font-size: 1.2rem;
            }
        }
        .price{
            font-size: 1.8rem;
            margin: 0;
            color: map-get($grey, darkest);
            font-weight: map-get($fw, bold);
            .period{
                font-size: 1.2rem;
                font-weight: map-get($fw, normal);
                color: map-get($grey, light);
            }
            @include mq($xsr) {
                font-size: 1.6rem;
                letter-spacing: -0.5px;
                .period{
                    font-size: 1.1rem;
                }
            }
        }
        @include mq($lg) {
            padding-right: 10px;
        }
        @include mq($md) {
            padding-right: 8px;
        }
        @include mq($sm) {
            padding-right: 10px;
        }
        @include mq($xsr) {
            padding-right: 8px;
        }
    }
    .selected-action{
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-left: 12px;
        width: 156px;
        @include mq($lg) {
            padding-left: 10px;
        }
        @include mq($md) {
            padding-left: 8px;
        }
        @include mq($sm) {
            width: 130px;
            padding-left: 0;
            .a-btn{
                min-width: 130px;
                padding-left: 1.6rem;
                padding-right: 1.6rem;
            }
        }
        @include mq($xsr) {
            width: 110px;
            .a-btn{
                min-width: 110px;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}

@keyframes showSelectedCar {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showSelectedCarItem {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes showCloseCarItem {
    from {
        opacity: 0;
        transform: rotate(45deg);
    }
    to {
        opacity: 1;
        transform: rotate(0);
    }
}
