@import '../../styles/helpers/index';

// ORDER DETAIL
.order-detail {
    padding: 2rem 0 3.2rem;
    @include mq($lg) {
        padding: 1.6rem 0 2.8rem;
    }
    @include mq($md) {
        padding: 1.2rem 0 2.4rem;
    }
    @include mq($sm) {
        padding: 0;
        > .container{
            padding: 0;
        }
    }
    .order-detail-container{
        width: 100%;
        display: table;
        table-layout: fixed;
        @include mq($sm) {
            display: block;
        }
    }
    .left-content {
        display: table-cell;
        vertical-align: top;
        @include mq($sm) {
            display: block;
        }
    }
}

// EXTRAS
.m-extras {
    @include cf;
    .extras-card {
        float: left;
        padding: 8px;
        @include mq($lg) {
            padding: 6px;
        }
        .box {
            width: 100%;
            min-height: 200px;
            background-color: $white;
            box-shadow: 0 2px 20px rgba(#314a62, 0.2);
            padding: 1.6rem 2rem 4.8rem;
            text-align: center;
            position: relative;
            transition: all 0.3s ease;
            &:hover {
                box-shadow: 0 2px 20px rgba(#314a62, 0.35);
                transform: translateY(-2px);
            }
            @include mq($sm) {
                padding: 1.6rem 1.6rem 4.8rem;
            }
            @include mq($xsr) {
                min-height: 188px;
            }
        }
        .icon {
            width: 80px;
            height: 56px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            @include mq($xsr) {
                width: 72px;
                height: 51px;
            }
        }
        .add-hour {
            background-image: url(../../assets/images/icons/add-hour.svg);
        }
        .out-of-town {
            background-image: url(../../assets/images/icons/out-of-town.svg);
        }
        .overnight {
            background-image: url(../../assets/images/icons/overnight.svg);
        }
        .fuel-plans {
            background-image: url(../../assets/images/icons/fuel-plans.svg);
        }
        .baby-car-seat {
            background-image: url(../../assets/images/icons/baby-car-seat.svg);
        }
        .wifi {
            background-image: url(../../assets/images/icons/wifi.svg);
        }
        .wedding-decoration {
            background-image: url(../../assets/images/icons/wedding-decoration.svg);
        }
        .wheel-chair {
            background-image: url(../../assets/images/icons/wheel-chair.svg);
        }
        .food {
            background-image: url(../../assets/images/icons/Food.svg);
        }
        .travel {
            background-image: url(../../assets/images/icons/TravelNeccessities.svg);
        }
        .partner {
            background-image: url(../../assets/images/icons/Playground.svg);
        }
        .title {
            font-size: 1.4rem;
            font-weight: map-get($fw, extra-bold);
            color: map-get($grey, darkest);
            margin-bottom: 8px;
            text-transform: uppercase;
            @include mq($xsr) {
                font-size: 1.3rem;
            }
        }
        .caption {
            font-size: 1.2rem;
            line-height: 1.5;
            height: 26px;
            color: map-get($grey, light);
            @include mq($xsr) {
                font-size: 1.1rem;
            }
        }
        .action-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            height: 48px;
            .o-toggle-input {
                position: absolute;
                bottom: 50%;
                left: 50%;
                transform: translate3d(-50%, 50%, 0);
            }
            &.toggle{
                bottom: 1.2rem;
            }
            @include mq($lg) {
                height: 42px;
                &.toggle{
                    bottom: 1rem;
                }
            }
            @include mq($xsr) {
                &.toggle{
                    bottom: .8rem;
                }
            }
            .extra-dropdown {
                border-top: 1px solid #D8D8D8;
                height: 48px;
                &.active {
                    background: #0038A9;
                    .icon {
                        background-image: url(../../assets/images/icons/arrow-bottom-white.svg);
                    }
                }
                &:hover {
                    cursor: pointer;
                }
                .icon {
                    width: 16px;
                    height: 16px;
                    background-image: url(../../assets/images/icons/counter-increment.svg);
                    margin: 0px auto;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .o-counter {
            width: 100%;
            @include mq($xsr) {
                .counter-col:first-child,
                .counter-col:last-child{
                    min-width: 40px;
                }
            }
        }
    }
}
