@import '../../styles/helpers/index';

.p-site-map {
    .static-content {
        padding-top: 72px;
        padding-bottom: 88px;
        @include mq($sm){
            padding-top: 32px;
            padding-bottom: 48px;
        }
    }
    ul.site-list-group {
        display: inline-block;
        vertical-align: top;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-right: 68px;
        @include mq($sm){
            display: block;
        }
        li.site-list {
            margin-bottom: 20px;
            a {
                text-decoration: none;
                font-size: 16px;
                color: #2A2E36;
                font-weight: 500;
            }
            &:nth-child(1) {
                a {
                    font-weight: 900;
                }
            }
        }
    }
}