@import '../../styles/helpers/index';

.m-sidebar-booking-detail {
    background-color: $white;
    margin-bottom: 5px;
    &.show {
        .booking-detail-title span {
            transform: rotate(-180deg);
        }
        .booking-detail-content {
            max-height: 1000px;
            .item {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.15s;
            }
        }
    }
    .booking-detail-title {
        padding: 2rem;
        font-size: 1.2rem;
        font-weight: map-get($fw, bold);
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        span {
            display: inline-block;
            position: relative;
            top: -1px;
            width: 0;
            height: 0;
            margin-left: 8px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid map-get($grey, darkest);
            transition: all 0.3s ease;
        }
        @include mq($lg) {
            padding: 1.6rem;
            font-size: 1.15rem;
            span {
                border-width: 5px;
            }
        }
        @include mq($md) {
            padding: 1.4rem;
            font-size: 1.1rem;
            span {
                border-width: 4px;
            }
        }
        @include mq($sm) {
            display: none;
            padding: 2rem;
            font-size: 1.2rem;
            span {
                border-width: 6px;
            }
        }
        @include mq($xsr) {
            font-size: 1.15rem;
            span {
                border-width: 5px;
            }
        }
    }
    .booking-detail-content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.25s ease;
        .item {
            padding: 1.6rem 2rem;
            border-bottom: solid 1px $line-thin;
            opacity: 0;
            transition: all 0.35s ease;
            transform: translateY(4px);
            transition-delay: 0s;
            .arrow-right {
                width: 20px;
                height: 10px;
                background: url('../../assets/images/icons/date-from-to.svg') no-repeat center center / contain;
                display: inline-block;
                vertical-align: middle;
                margin: 0px 8px;
            }
            &:last-child {
                border-bottom: 0;
            }
            @include mq($lg) {
                padding: 1.4rem 1.6rem;
            }
            @include mq($md) {
                padding: 1.2rem 1.4rem;
            }
            @include mq($sm) {
                padding: 1.6rem 2rem;
            }
        }
        .label {
            font-size: 1.2rem;
            margin-bottom: 8px;
            font-weight: map-get($fw, bold);
            text-transform: uppercase;
            @include mq($lg) {
                font-size: 1.15rem;
            }
            @include mq($md) {
                font-size: 1rem;
            }
            @include mq($sm) {
                font-size: 1.2rem;
            }
            @include mq($xsr) {
                font-size: 1.15rem;
            }
        }
        .description {
            font-size: 1.4rem;
            line-height: 1.65;
            @include mq($lg) {
                font-size: 1.3rem;
                line-height: 1.5;
            }
            @include mq($md) {
                font-size: 1.2rem;
            }
            @include mq($sm) {
                font-size: 1.4rem;
            }
            @include mq($xsr) {
                font-size: 1.3rem;
            }
        }
        @include mq($sm) {
            max-height: initial;
            overflow: visible;
            .item {
                opacity: 1;
                transform: none;
            }
        }
    }
}
.booking-detail-content{
    display: block !important;
}