@import '../../styles/helpers/index';

.title{
    &.wraper{
        height: 400px;
        width: 100%;
        @include mq($sm){
            height: 450px;
        } 
    }      

    .t-main{
        &.t-auth {
            
        }    
        .left {
            height: 100%;
            display: table-cell;                    
            vertical-align: middle;
            position: relative;
            @include mq($sm){
                display: block;
            }     
            .m-slideshow {
                
                .slide-item{
                    
                    &:before{
                        
                    }
                    .slide-text{
                        .container{
                            h3{

                            }
                            .persentase-text{
                                font-size: 50px;
                            }
                        }
                    } 
                }
                .a-cover{
                    background-position: center;
                }
            }
        }
    }
    .promo-icon{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0;
        @include mq($sm){
            margin: 0;
            font-size: 12px;
            margin-bottom: -20px;
        }
        li.active{
            display: inline-block;
            border-bottom: 2px solid #F27C21;
            padding-bottom: 0px;
            margin-right: 115px;   
            @include mq($sm){
                margin-right: 10px;
                padding-bottom: 10px;
                margin-top: 20px;
            }
        }
        li{
            display: inline-block;
            border-bottom: 1px solid transparent;
            padding-bottom: 10px;
            margin-right: 115px; 
            @include mq($sm){
                margin-right: 10px;
            }
            &:nth-last-child(1){
                @include mq($sm){
                    margin-right: 0px;
                }
            }
            &:hover{
                cursor: pointer;
                color: orange;
            }
            &::before {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../../assets/images/logo/promo-1.svg);
                background-repeat: no-repeat;
                vertical-align: middle;
                margin-left: 0px;
                margin-top: 20px;
                display: inline-block;
                @include mq($sm){
                    margin-left: 0px;
                    display: none;
                }
                
            }
        }
        .car-promo{
            &::before {
                background-image: url(../../assets/images/logo/promo-2.svg);
                background-repeat: no-repeat;
                width: 45px;
                height: 45px;
            }
        }
        .airport-promo{
            &::before {
                background-image: url(../../assets/images/logo/promo-3.svg);
                background-repeat: no-repeat;
            }   
        }
        .bus-promo{
            &::before {
                background-image: url(../../assets/images/logo/promo-4.svg);
                background-repeat: no-repeat;
            }
        }
    }  
}

.promo-line{
    border-top: 1px solid #E8EAEC;
    margin-top: 70px;
    margin-bottom: 30px;
    @include mq($sm){
        margin: 0; 
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .promo-section{
        .m-list-blog {
            float: left;
            width: 31%;
            padding: 1rem;
            margin-top: 52px;
            margin-bottom: 0x;
            margin-right: 20px;
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            border-radius: 5px;
            border: 1px solid #E8EAEC;
            @include mq($sm){
                float: none;
                width: 100%;
                padding: 0;
                margin-bottom: -0.8rem;
                margin-top: 20px;
            }
            .blog-description{
                margin-top: -50px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .a-btn{
                width: 100%;
                &.btn-outline{
                    margin-top: 35px;
                    margin-bottom: 12px;
                }
            }
            .period-promo{
                color:#8A959E;
                font-size: 12px;
                margin-bottom: 13px;
            }
            .label-date{
                border: 1px solid #2145A7;
                background-color: #2145A7;
                color: #ffffff;
                display: inline;
                padding-left: 12px;
                padding-right: 15px;
                padding-top: 8px;
                padding-bottom: 8px;
                border-radius: 5px;
                font-size: 14px;
                font-weight: bold;
                &.grey{
                    background-color: #8A959E;
                    border: 1px solid #8A959E;
                }
            }
            
        }
        .blog-image{
            margin-bottom: 0;

            img{
              object-fit: contain;  
              margin-top: -33px;
            }
        }
    }
    .section-btn{
        text-align: center;
        .a-btn{
            margin-top:60px;
            margin-bottom: 140px;
            padding-left: 45px;
            padding-right: 45px;
            padding-top: 12px;
            padding-bottom: 11px;
        }
    }
}

.detail-promosi{
    .t-static{
        .static-banner{
            img{
                
            }
        }
        .breadcumb{
           
        }
        .static-content{
            .container{
                .content-promo{
                    margin-top: 53px;
                }
                .promo-wrapper {
                    &::after {
                        content: '';
                        clear: both;
                        display: table;
                    }
                }
                .left-promo{
                    width: 70%;
                    float: left;
                    @include mq($sm){
                        float: none;
                        width: 100%;
                    }
                    p{
                        color: #8A959E;
                    }
                    h4{
                        font-weight: bold;
                        margin-top: 40px;
                    }
                    li{
                        color: #8A959E;
                    }
                    table{
                        margin-bottom: 80px;
                        width: 538px;
                        @include mq($sm){
                            width: 100%;
                        }
                        tr{
                           th{
                              background-color: #f4f4f7; 
                              color:#2a2e36;;
                              text-align: left;
                           } 
                           td{
                               border-right: 1px solid rgba(138, 149, 158, 0.2);
                           }
                        }
                        .avanza{
                            td{
                                border-right: none;
                                background-color: #f4f4f7;
                            }
                        }
                    }
                }
                .right-promo{
                    width: 30%;
                    float: right;
                    @include mq($sm){
                        float: none;
                        width: 100%;
                    }
                    .copy-promo{
                        border: 1px solid;
                        margin-left: 55px;
                        background-color: #8A959E;
                        @include mq($sm){
                            margin-left: 0;
                        }
                        .teks-copy{
                            color: #ffffff;
                            &.promo{
                                margin-left: 27px;
                                margin-top: 27px;
                                margin-right: 20px;
                            }
                            .promo-period{
                                font-size: 14px;
                                span{
                                    font-size: 16px;
                                }
                            }
                            p{
                                font-size: 14px;
                            }
                            .promo-code{
                                width: 100%;
                                text-align: left;
                                padding-top: 20px;
                                padding-bottom: 20px;
                                padding-left: 17px;
                                font-size: 20px;
                                background: #979797;
                                color: #ffffff;
                            }
                            .text-coupon{
                                font-size: 12px;
                                margin-top: 15px;
                            }
                            .a-btn{
                                width: 100%;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    
                }
                .promo-line{
                    &.detail{
                        margin-top: 77px;
                        margin-bottom: 58px;
                        @include mq($sm){
                            margin-top: 33px;
                            margin-bottom: 29px;
                        }
                    }
                }
                
                .promo-section{
                    .m-list-blog {
                        float: left;
                        width: 31%;
                        padding: 1rem;
                        margin-top: 22px;
                        margin-bottom: 158px;
                        margin-right: 20px;
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0;
                        border-radius: 5px;
                        border: 1px solid #E8EAEC;
                        @include mq($sm){
                            float: none;
                            width: 100%;
                            padding: 0;
                            margin-bottom: 2.0rem;
                            margin-top: 20px;
                        }
                        .blog-description{
                            margin-top: -50px;
                            margin-left: 20px;
                            margin-right: 20px;
                        }
                        .a-btn{
                            width: 100%;
                            &.btn-outline{
                                margin-top: 35px;
                                margin-bottom: 12px;
                            }
                        }
                        .period-promo{
                            color:#8A959E;
                            font-size: 12px;
                            margin-bottom: 13px;
                        }
                        .label-date{
                            border: 1px solid #2145A7;
                            background-color: #2145A7;
                            color: #ffffff;
                            display: inline;
                            padding-left: 12px;
                            padding-right: 15px;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            border-radius: 5px;
                            font-size: 14px;
                            font-weight: bold;
                            &.grey{
                                background-color: #8A959E;
                                border: 1px solid #8A959E;
                            }
                        }
                        
                    }
                    .blog-image{
                        margin-bottom: 0;
            
                        img{
                          object-fit: contain;  
                          margin-top: -33px;
                        }
                    }
                }
            }
        }
    }
}  
.text-promo{
    
    .title-promo{
        color: #ffffff;
        padding-top: 52px;
        margin-bottom: 0;
        @include mq($sm){
            padding-top: 60px;
            font-size: 12px;
            padding-bottom: 10px;
        }
        
    }
    .disc-promo{
        font-size: 120px;
        color: #ffffff;
        @include mq($sm){
            font-size: 40px;
        }
        span{
            font-size: 78px;
            color: #ffffff;
            vertical-align: middle;
            @include mq($sm){
                font-size: 25px;
            }
        }
    }
    p{
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 27px;
        @include mq($sm){
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
    .a-btn{
        margin-bottom: 39px;
        @include mq($sm){
            padding: 5px;
            font-size: 10px;
        }
    }
}  
