@import "../../styles/helpers/index";

.o-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    color: $white;
    background-color: map-get($nav, background);
    @include mq($sm) {
        position: static;
        .container{
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    .trac-logo{
        width: 86px;
        height: 44px;
        display: block;
        text-indent: -99999px;
        background: url(../../assets/images/logo/trac-logo-white.svg) no-repeat center center / contain;
        margin-bottom: 3.2rem;
        @include mq($sm) {
            display: inline-block;
            margin-top: 1rem;
            margin-bottom: 2.4rem;
        }
        @include mq($xsr) {
            display: inline-block;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: $white;
        transition: color .25s ease;
        &:hover{
            color: $secondary;
        }
    }
    .top-section{
        padding-top: 4rem;
        padding-bottom: 1.6rem;
        border-bottom: solid 1px rgba(map-get($grey, lightest), .4);
        @include cf;
        @include mq($sm) {
            border-bottom: 0;
            padding-top: 3.6em;
            padding-bottom: 3.2rem;
        }
        @include mq($xsr) {
            padding-top: 3.2em;
            padding-bottom: 2.8rem;
        }
    }
    .footer-row{
        @include cf;
        margin-bottom: 4.8rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .footer-col{
        float: left;
        margin-right: 8rem;
        @include mq($lg) {
            margin-right: 6.4rem;
        }
        @include mq($sm) {
            float: none;
            margin-right: 0;
            border-bottom: solid 1px rgba(map-get($grey, lightest), .4);
            padding: 1rem 0;
            .footer-title{
                margin: 0;
                > a {
                    padding: 1rem 0;
                    display: block;
                }
                &.has-submenu{
                    position: relative;
                    &:after{
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        margin-top: -6px;
                        background: url(../../assets/images/icons/plus.svg) no-repeat center center;
                        transition: all .5s ease;
                        transition-delay: 0s;
                        transform: rotate(0deg);
                    }
                }
            }
            @include mq($sm) {
                &.show{
                    .footer-navigation{
                        max-height: 280px;
                        overflow: hidden;
                        padding-bottom: 1rem;
                        li{
                            opacity: 1;
                            transform: translateX(0);
                            transition-delay: .25s;
                        }
                    }
                    .footer-title.has-submenu{
                        > a{
                            color: $secondary;
                        }
                        &:after{
                            transition-delay: .3s;
                            transform: rotate(135deg);
                        }
                    }
                }
            }
        }
    }
    .footer-navigation-section{
        &-row{
            &:last-child{
                .footer-col:last-child{
                    margin-right: 0;
                }
            }
        }
        @include mq($md) {
            display:inline-block;
            &-row{
                margin-bottom: 3.2rem;
                @include cf;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .footer-col{
                min-width: 110px;
            }
        }
        @include mq($sm) {
            display: block;
            margin-bottom: 4.8rem;
            &-row{
                margin-bottom: 0;
            }
        }
        @include mq($xsr) {
            margin-bottom: 4rem;
        }
    }
    .footer-right-section{
        float: right;
        @include mq($sm) {
            float: none;
        }
    }
    .footer-title{
        margin-bottom: 1.6rem;
        line-height: 1.5;
        font-weight: map-get($fw, extra-bold);
    }
    .footer-navigation{
        li{
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
        a{
            font-size: 1.4rem;
            line-height: 24/14;
        }
        @include mq($sm) {
            max-height: 0;
            overflow: hidden;
            padding-bottom: 0;
            transition: all .3s ease;
            li{
                transition: all .35s ease;
                opacity: 0;
                transform: translateX(4px);
                transition-delay: .2s;
            }
        }
    }
    .form-section{
        margin-bottom: 3.2rem;
    }
    form{
        min-width: 300px;
        width: 100%;
        position: relative;
        height: 40px;
        @include mq($xsr) {
            min-width: 240px;
        }
    }
    input[type="text"]{
        padding:.8rem 1.6rem;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: solid 1px #ecece9;
        border-radius: 7px;
        outline: 0;
        transition: border-color .25s ease;
        font-size: 1.4rem;
        &:focus{
            border-color: $secondary;
        }
    }
    button{
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 100%;
        border-radius: 0 7px 7px 0;
        text-indent: -9999px;
        transition: background-color .3s ease;
        background-color: map-get($button, primary-default);
        cursor: pointer;
        overflow: hidden;
        &:before,
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: url(../../assets/images/icons/subscribe.svg) no-repeat center center;
            transition: all .45s ease;
        }
        &:before{
            opacity: 0;
            transform: translate3d(-50%, 50%, 0);
        }
        &:after{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        &:hover{
            background-color: map-get($button, primary-hover);
            &:before{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
            &:after{
                opacity: 0;
                transform: translate3d(50%, -50%, 0);
            }
        }
    }
    .social-media-section{
        h6{
            margin-bottom: 1.6rem;
        }
    }
    .social-media-list{
        @include cf;
        li{
            float: left;
            margin-left: 2.4rem;
            &:first-child{
                margin-left: 0;
            }
        }
        a{
            display: block;
            width: 3.6rem;
            height: 3.6rem;
            border: solid 2px $white;
            border-radius: 50%;
            text-indent: -99999px;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all .25s ease;
            &:hover{
                transform: translateY(-2px);
                box-shadow: 0 0 10px 5px rgba($black, .1);
            }
        }
        .icon-instagram{
            background-image: url(../../assets/images/icons/instagram.svg);
            &:hover{
                background-color: $instagram;
            }
        }
        .icon-facebook{
            background-image: url(../../assets/images/icons/facebook.svg);
            &:hover{
                background-color: $facebook;
            }
        }
        .icon-twitter{
            background-image: url(../../assets/images/icons/twitter.svg);
            &:hover{
                background-color: $twitter;
            }
        }
        .icon-youtube{
            background-image: url(../../assets/images/icons/youtube.svg);
            &:hover{
                background-color: $youtube;
            }
        }
    }
    .footer-navigation-inline{
        font-size: 1.4rem;
        a{
            padding-right: 1.2rem;
            padding-left: 1.2rem;
            position: relative;
            &:after{
                content: "|";
                position: absolute;
                right: -2px;
                color: $white;
            }
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
                &:after{
                    display: none;
                }
            }
        }
    }
    .bottom-section{
        padding: 2.4rem 0;
        @include cf;
        @include mq($md) {
            padding:2rem 0;
        }
        @include mq($sm) {
            padding: 1.2rem 2rem;
            margin-left: -2rem;
            margin-right: -2rem;
            background-color: map-get($grey, extremely-lightest);
            color: map-get($grey, light);
            text-align: center;
        }
        .copyright{
            font-size: 1.2rem;
            line-height: 18/12;
            margin: 0;
        }
    }
}