@import '../../styles/helpers/index';

.m-modal-success {
  position: relative;
  display: block;

  .header {
    width: 300px;
    height: 236px;
  }

  .content {
    padding: 12px;
    text-align: center;

    p.a-text {
      font-size: 28px;

      &:last-child {
        font-size: 16px;
        color: map-get($grey, light);
      }
    }
  }
}
