@import '../../styles/helpers/index';

.p-dashboard {
    position: relative;
    &::before {
        content: '';
        height: 213px;
        width: 50%;
        background: #1A3681;
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        z-index: 0;
        @include mq($sm){
            display: none;
        }
    }
    &::after {
        content: '';
        height: 213px;
        width: 50%;
        background: #12265B;
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        z-index: 0;
        @include mq($sm){
            display: none;
        }
    }
    .dashboard-header {
        position: relative;
        display: block;
        margin: auto;
        width: 100%;
        max-width: 1180px;
        z-index: 1;
        @include mq($sm){
            z-index: 2;
        }
        &.show-popup-dashboard {
            @include mq($sm){
                z-index: 1;
            }
        }
        .profile {
            display: inline-block;
            width: 340px;
            background: #1A3681;
            padding: 36px;
            padding-left: 13px;
            vertical-align: top;
            height: 213px;
            position: relative;
            @include mq($sm){
                width: 100%;
                height: 66px;
                padding: 21px 14px;
                padding-left: 18px;
            }
            .profile-img {
                width: 58px;
                height: 58px;
                border-radius: 100%;
                overflow: hidden;
                border: 2px solid rgba(255, 255, 255, 0.5);
                display: inline-block;
                vertical-align: top;
                @include mq($sm){
                    width: 23px;
                    height: 23px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .profile-desc {
                display: inline-block;
                vertical-align: top;
                margin-left: 18px;
                width: 69%;
                @include mq($sm){
                    margin-left: 22px;
                }
                .name {
                    font-size: 19px;
                    margin: 0px;
                    color: white;
                    font-weight: 700;
                    @include mq($sm){
                        font-size: 18px;
                    }
                }
                .address {
                    white-space: nowrap;
                    overflow: hidden;

                    text-overflow: ellipsis;
                    font-size: 15px;
                    margin: 0px;
                    color: white;
                    font-weight: 500;
                    @include mq($sm){
                        display: none;
                    }
                }
            }
            .mobile-show-desc {
                display: none;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 50%;
                right: 14px;
                transform: translateY(-50%);
                transition: all 0.35s ease;
                @include mq($sm){
                    display: block;
                    background: url('../../assets/images/icons/arrow-bottom-solid-white.svg') no-repeat center;
                    background-size: contain;
                }
                &.show {
                    background: url('../../assets/images/icons/arrow-bottom-solid-white.svg') no-repeat center;
                    background-size: contain;
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
        .detail-profile {
            display: inline-block;
            width: calc(100% - 340px);
            background: #12265B;
            height: 213px;
            @include mq($sm){
                display: block;
                width: 100%;
                height: 0px;
                overflow: hidden;
                position: absolute;
                top: 66px;
                left: 0;
                transition: height 0.5s ease;
            }
            &.show {
                transition: height 0.5s ease;
                @include mq($sm){
                    height: 100vh;
                }
            }
            .detail-item {
                display: inline-block;
                padding: 44px 30px 48px;
                @include mq($sm){
                    display: block;
                    padding: 10px 24px 10px 64px;
                }
                .label {
                    color: #8A959E;
                    margin: 0px;
                    font-size: 12px;
                    text-transform: uppercase;
                }
                .value {
                    color: white;
                    margin: 0px;
                    font-size: 16px;
                }
            }
        }
    }
    .dashboard-content {
        position: relative;
        display: block;
        margin: auto;
        width: 100%;
        max-width: 1180px;
        background: #F0F0F3;
        z-index: 1;
        .dashboard-content-wrapper {
            width: 100%;
            min-height: 500px;
            margin-top: -86px;
            background: white;
            margin-bottom: 75px;
            box-shadow: 0px 2px 20px 0px rgba(49, 74, 98, 0.2);
            @include mq($sm){
                background: #F3F4F5;
                margin-bottom: 0px;
                margin-top: 0px;
            }
            .side-menu {
                width: 340px;
                display: inline-block;
                vertical-align: top;
                @include mq($sm) {
                    width: 52px;
                }
                .list-item {
                    border-bottom: 1.3px solid rgba(42, 46, 54, 0.2);
                    padding: 27px 30px 28px;
                    position: relative;
                    @include mq($sm) {
                        padding: 21px 14px 21px;
                    }
                    &:hover {
                        cursor: pointer;
                        background: rgba(138, 149, 158, 0.1);
                    }
                    &.active {
                        background: rgba(138, 149, 158, 0.1);
                    }
                    .icon {
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 36px;
                        @include mq($sm) {
                            width: 21px;
                            height: 21px;
                            margin-right: 0px;
                        }
                        &.booking {
                            background: url('../../assets/images/icons/ic-booking.svg') no-repeat center;
                            background-size: contain;
                        }
                        &.voucher {
                            background: url('../../assets/images/icons/ic-voucher.svg') no-repeat center;
                            background-size: contain;
                        }
                        &.history {
                            background: url('../../assets/images/icons/ic-history.svg') no-repeat center;
                            background-size: contain;
                        }
                        &.message {
                            background: url('../../assets/images/icons/ic-message.svg') no-repeat center;
                            background-size: contain;
                        }
                        &.setting {
                            background: url('../../assets/images/icons/ic-setting.svg') no-repeat center;
                            background-size: contain;
                        }
                    }
                    .label {
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 16px;
                        color: #2A2E36;
                        margin: 0px;
                        @include mq($sm) {
                            display: none;
                        }
                    }
                    .badge {
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0px;
                        font-size: 16px;
                        color: #2A2E36;
                        float: right;
                        text-align: right;
                        @include mq($sm) {
                            min-width: 18px;
                            height: 18px;
                            background: #ccc;
                            border-radius: 100px;
                            position: absolute;
                            top: 14px;
                            left: 24px;
                            font-size: 12px;
                            text-align: center;
                            padding: 0px 5px;
                        }
                    }
                }
            }
            .content {
                width: calc(100% - 340px);
                display: inline-block;
                vertical-align: top;
                @include mq($sm){
                    background: white;
                    width: calc(100% - 52px);
                    min-height: 500px;
                }
            }
        }
    }

    .a-modal.open {
        .content-wrapper {
            @include mq($sm){
                width: 100%;
                height: 100%;
            }
        }
        &.success {
            .content-wrapper {
                @include mq($sm){
                    width: initial;
                    height: initial;
                }
            }
        }
    }

    .dashboard-popup-header {
        width: calc(100% + 50px);
        background: #12265B;
        margin-left: -25px;
        margin-right: -25px;
        margin-top: -25px;
        border-radius: 3.14px 3.14px 0px 0px;
        padding: 27px 34px;
        position: relative;
        p {
            color: white;
            font-size: 24px;
            font-weight: 500;
            margin: 0px;
            margin-bottom: 0px;
            @include mq($sm){
                font-size: 14px;
                text-align: center;
            }
        }
        .icon-close {
            position: absolute;
            width: 17px;
            height: 17px;
            background: url('../../assets/images/icons/close.svg') no-repeat center;
            background-size: contain;
            top: 50%;
            right: 34px;
            transform: translateY(-50%);
            &:hover {
                cursor: pointer;
            }
        }
    }
    .dashboard-popup-content {
        width: 100%;
        .form-wrapper {
            width: 80%;
            display: block;
            margin: auto;
            padding-top: 16px;
            @include mq($sm){
                width: 90%;
            }
            .a-trac-field {
                margin-bottom: 40px;
            }
        }
        .img-thumb {
            width: 267px;
            height: 187px;
            display: block;
            margin: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .success-text {
            font-size: 24px;
            text-align: center;
            color: #2A2E36;
            font-weight: 700;
            margin-top: 16px;
            @include mq($sm){
                font-size: 20px;
            }
        }
    }
    .dashboard-popup-footer {
        width: 80%;
        display: block;
        margin: auto;
        &.success {
            width: 100%;
            .a-btn {
                width: initial;
                margin: auto;
                text-align: center;
            }
        }
        @include mq($sm){
            width: 90%;
        }
        .a-btn {
            width: 100%;
        }
        &.add-card {
            width: 200px;
            width: 200px;
            margin-left: 0px;
        }
    }
    .a-modal.change-password {
        .content-wrapper {
            &.medium {
                @include mq($sm){
                    width: 100% !important;
                    height: 100%;
                }
            }
            .modal-footer {
                .a-btn {
                    @include mq($sm){
                        width: 100%;
                        margin: 6px auto;
                    }
                }
            }
        }
    }
    .a-modal.success {
        .content-wrapper {
            &.medium {
                @include mq($sm){
                    width: 90% !important;
                }
            }
        }
    }
    p.under-construction {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-top: 20%;
        color: #d8d8d8;
    }
}