@import '../../styles/helpers/index';

.p-booking-success {
    .container{
        display: table;
        @include mq($md) {
            display: block;
        }
    }
    .booking-success-image{
        display: table-cell;
        width: 47.5%;
        padding: 78px 0;
        vertical-align: middle;
        img{
            max-width: 100%;
        }
        @include mq($md) {
            display: block;
            width: 100%;
            text-align: center;
            padding: 56px 0;
        }
        @include mq($sm) {
            padding: 32px 0 12px;
        }
        @include mq($xsr) {
            padding: 24px 0 8px;
        }
    }
    .booking-success-description{
        display: table-cell;
        padding: 78px 148px 78px 90px;
        vertical-align: middle;
        .title{
            line-height: 1.45;
            margin-bottom: 32px;
        }
        @include mq($lg) {
            padding: 56px 64px;
        }
        @include mq($md) {
            display: block;
            padding: 24px 32px 48px;
        }
        @include mq($sm) {
            padding: 12px 0 40px;
        }
        @include mq($xsr) {
            padding: 8px 0 32px;
            .title{
                margin-bottom: 24px;
            }
        }
    }
    .booking-detail,
    .referral-code {
        color: map-get($grey, light);
        font-size: 1.4rem;
        margin-bottom: 40px;
        p{
            line-height: 1.45;
            margin-bottom: 12px;
            &:first-child{
                margin-bottom: 20px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        strong{
            color: map-get($grey, darkest);
        }
        @include mq($xsr) {
            margin-bottom: 32px;
            p{
                margin-bottom: 10px;
                &:first-child{
                    margin-bottom: 16px;
                }
            }
        }
    }
    .referral-code{
        margin-bottom: 48px;
        p{
            margin-bottom: 12px;
            &:first-child{
                margin-bottom: 12px;
            }
        }
        @include mq($xsr) {
            margin-bottom: 40px;
            p{
                margin-bottom: 10px;
                &:first-child{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .referral-code-box{
        padding: 16px 36px;
        display: inline-block;
        color: map-get($grey, darkest);
        border: dashed 1px map-get($grey, light);
        border-radius: 3px;
        margin: 8px 0;
        h3{
            margin: 0;
            transition: all 0.2s ease;
            &.copied {
                position: relative;
                background: #b3b3b3;
                &::after {
                    content: 'Copy to Clipboard';
                    background: rgba(0,0,0,0.5);
                    width: 130px;
                    font-size: 10px;
                    color: white;
                    position: absolute;
                    top: -40px;
                    right: 0px;
                    padding: 10px 14px;
                    text-align: center;
                    border-radius: 8px;
                    transition: all 0.2s ease;
                }
            }
        }
    }
    .copy-code-button{
        button{
            border: 0;
            outline: 0;
            padding: 0;
            margin: 0;
            background-color: transparent;
            font-size: 1.4rem;
            color: map-get($grey, light);
            border-radius: 0;
            cursor: pointer;
        }
    }
    .other-links{
        &-item{
            margin-bottom: 10px;
            max-width: 200px;
            &:last-child{
                margin-bottom: 0;
            }
            .a-btn{
                width: 100%;
            }
            @include mq($sm) {
                max-width: initial;
            }
        }
    }
}