.tnc-list {
    margin-top: 5px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            position: relative;
            padding: 2.1rem 2rem;
            background: #0038A9;
            color: white;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            transition: all 0.25s ease;
            margin-bottom: 0.5rem;
            &:hover {
                cursor: pointer;
                transform: translateY(-1px);
                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
            }
            &::after {
                content: '';
                height: 1.2rem;
                width: 0.6rem;
                background: url('../../assets/images/icons/ic-next-white.svg') no-repeat;
                background-size: contain;
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%)
            }
        }
    }
}