@import '../../styles/helpers/index';

.m-list-deal {
    .list-deal-item {
        transition: all 0.3s ease;
        box-shadow: 0 0 20px 5px rgba($black, 0);
        transform: translateY(0);
        a {
            display: block;
            overflow: hidden;
            border-radius: 5px;
        }
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 0 20px 5px rgba($black, 0.15);
        }
    }
    @include mq($sm) {
        white-space: nowrap;
        overflow: -moz-scrollbars-none;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        &::-webkit-scrollbar {
            display: none;
        }
        .list-deal-item {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            width: 95%;
            &:last-child{
                margin-right: 20px;
            }
        }
    }
    @include mq($xsr) {
        .list-deal-item {
            width: 92.5%;
        }
    }
    .a-image {
        width: 100%;
        opacity: 1;
        display: block;
    }
    .slick-slide > div {
        padding: 0 1rem;
        @include mq($md) {
            padding: 0 0.8rem;
        }
    }
    .slick-list {
        overflow: visible;
    }
    .slick-prev,
    .slick-next {
        z-index: 2;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $white;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 0 1px 7px rgba($color: $black, $alpha: 0.15);
        text-indent: -99999px;
        cursor: pointer;
        transition: all 0.3s ease;
        transform: translate(0, -50%);
        @include mq($lg) {
            width: 40px;
            height: 40px;
        }
        @include mq($md) {
            width: 32px;
            height: 32px;
            background-size: 7px auto;
        }
        &:before {
            content: '';
            display: none;
        }
        &.slick-disabled {
            opacity: 0;
            cursor: default;
        }
        &:hover {
            transform: translate(0, -52%);
        }
    }
    .slick-prev {
        background-image: url(../../assets/images/icons/slick-prev.svg);
        &.slick-disabled {
            transform: translate(-12px, -50%);
        }
        @include mq($lg) {
            left: -10px;
        }
    }
    .slick-next {
        background-image: url(../../assets/images/icons/slick-next.svg);
        &.slick-disabled {
            transform: translate(12px, -50%);
        }
        @include mq($lg) {
            right: -10px;
        }
    }
}
