@import '../../styles/helpers/index';

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba($overlay, .6);
    opacity: 0;
    visibility: hidden;
    transition: all .35s ease;
    transition-delay: .6s;

    &.show {
        opacity: 1;
        visibility: visible;
        transition-delay: .1s;
    }

    &.popup-form {
        background-color: rgba($overlay, .8);
    }

    @include mq($sm) {
        display: none;
    }
}


.close-overlay {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 11;

    &.show {
        display: block;
    }

    img {
        height: 100%;
    }
}
