@import '../../styles/helpers/index';

.t-main{

    &.product-service{
        &.page{
            .t-static{
                .static-banner{

                    img.cover{

                    }
                    .container{
                        display: block;
                        .content-banner{

                            p.title-banner{

                            }
                            p.sub-title-banner{
                                max-width: 50%;
                            }
                        }    
                    }
                }      
            }
            .page-landing{
                margin-top: 20px;
                &:nth-child(odd){
                    .container-txt{
                        float: right;
                    }
                }
                &.product{
                    .landing-product{
                        float: left;
                        width: 50%;
                        height: 50vh;
                        margin-bottom: 20px;
                        @include mq($sm){
                            float: none;
                            width: 100%;
                            height: 50%;
                            margin-bottom: 0;
                        }
                    }
                    .teks-landing{
                        float: right;
                        width: 50%;
                        padding-left: 55px;
                        padding-top: 75px;
                        background: #F6F7F8;
                        height: 50vh;
                        margin-bottom: 20px;
                        @include mq($sm){
                            float: none;
                            width: 100%;
                            height: 50%;
                        }
                        p{
                            width: 80%;
                        }
                        .a-btn{
                            &.btn-text{
                                margin-bottom: 0;
                                @include mq($sm){
                                    margin-bottom: 20px;
                                }
                            }
                        }
                        .container-txt{
                            max-width: 590px;
                        }
                    }
                    .landing-product{
                        &.page {
                            float: right;
                            width: 50%;
                            height: 50vh;
                            margin-bottom: 20px;
                            @include mq($sm){
                                float: none;
                                width: 100%;
                                height: 50%;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }  
    }
    &.landing-corporate{
        .t-static{
            .static-content{
                .container{
                    .container{
                        margin-top: 44px;
                        .title-corporate{
                            float: left;
                            width: 30%;
                            margin-bottom: 0;
                            @include mq($sm){
                                float: none;
                                width: 100%;
                            }
                        }
                        .desc-corporate{
                            float: right;
                            width: 70%;
                            text-align: justify;
                            color:#8A959E;
                            font-weight: 500;
                            margin-bottom: 0;
                            @include mq($sm){
                                float: none;
                                margin-top: 10px;
                                width: 100%;
                            }
                        }
                    }
                    .lease-paragraph{
                        margin-top: 80px;
                        margin-bottom: 58px;
                        @include mq($sm){
                            margin-top: 40px;
                            margin-bottom: 20px;
                        }
                    }
                    .image-lease{
                        display: inline-flex;
                        justify-content: space-between;
                        @include mq($sm){
                            display: block;
                        }
                        .card-detail{
                            &.active{
                                border-bottom: 3px solid orange;
                            }
                        }
                        .card-detail{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                            padding: 0 1rem;
                            flex: 1 1;
                            border: 1px solid #C3C8D3;
                            margin-right: 25px;
                            top: 0;
                            width: 225px;
                            height: 220px;
                            background: white;
                            border-radius: 5px;
                            box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
                            margin-bottom: 56px;
                            @include mq($sm){
                                width: 100%;
                                height: auto;
                                margin-bottom: 25px;
                            }
                            &:hover{
                                cursor: pointer;
                                color: orange;
                            }
                            .car-lease{
                                width: 100%;
                                height: 40px;
                                background-size: contain;
                                background-position: center;
                                margin-top: 78px;
                                margin-bottom: 36px;
                                @include mq($sm){
                                    margin-top: 40px;
                                    margin-bottom: 20px;
                                }
                                &.detail{
                                    background-image: url(../../assets/images/logo/car-lease.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .drive-lease{
                                width: 100%;
                                height: 80px;
                                background-size: contain;
                                background-position: center;
                                margin-top: 48px;
                                margin-bottom: 27px;
                                @include mq($sm){
                                    margin-top: 40px;
                                    margin-bottom: 20px;
                                }
                                &.detail{
                                    background-image: url(../../assets/images/logo/drive-lease.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .motor-lease{
                                width: 100%;
                                height: 80px;
                                background-size: contain;
                                background-position: center;
                                margin-top: 49px;
                                margin-bottom: 26px;
                                @include mq($sm){
                                    margin-top: 40px;
                                    margin-bottom: 20px;
                                }
                                &.detail{
                                    background-image: url(../../assets/images/logo/motor-lease.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .bus-lease{
                                width: 100%;
                                height: 48px;
                                background-size: contain;
                                background-position: center;
                                margin-top: 63px;
                                margin-bottom: 45px;
                                @include mq($sm){
                                    margin-top: 40px;
                                    margin-bottom: 20px;
                                }
                                &.detail{
                                    background-image: url(../../assets/images/logo/bus-lease.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .center-text{
                                text-align: center;
                                width: 120px;
                            }
                        }
                        .paragraph-lease{

                        }
                    }
                    h5{
                        margin-bottom: 30px;
                        font-weight: 500;
                    }
                    .content-car{
                            
                        &.lease{
                            margin-bottom: 50px;
                            p{
                               color: #8A959E; 
                               margin-bottom: 20px;
                            }   
                            li{
                                color: #8A959E;  
                            }    
                        }
                    }
                    .notif-lease{
                        display: inline-flex;
                        .card-lease{
                            padding: 0px;
                            margin-right: 60px;
                            margin-bottom: 35px;
                            @include mq($sm){
                                margin-right: 20px;
                            }
                            .lease-notif{
                                min-width: 100px;
                                height: 86px;
                                background-size: contain;
                                background-position: center;
                                margin-bottom: 14px;
                                @include mq($sm){
                                    margin-bottom: 5px;
                                    min-width: 50px;
                                }
                                &.timer{
                                    background-image: url(../../assets/images/logo/timer-lease.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .lease-notif{
                                min-width: 100px;
                                height: 86px;
                                background-size: contain;
                                background-position: center;
                                margin-bottom: 14px;
                                @include mq($sm){
                                    margin-bottom: 5px;
                                    min-width: 50px;
                                }
                                &.security{
                                    background-image: url(../../assets/images/logo/security-lease.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .lease-notif{
                                min-width: 100px;
                                height: 86px;
                                background-size: contain;
                                background-position: center;
                                margin-bottom: 14px;
                                @include mq($sm){
                                    margin-bottom: 5px;
                                    min-width: 50px;
                                }
                                &.comfort{
                                    background-image: url(../../assets/images/logo/comfort-lease.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .lease-notif{
                                min-width: 100px;
                                height: 86px;
                                background-size: contain;
                                background-position: center;
                                margin-bottom: 14px;
                                @include mq($sm){
                                    margin-bottom: 5px;
                                    min-width: 50px;
                                }
                                &.prodrive{
                                    background-image: url(../../assets/images/logo/prodrive-lease.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .lease-notif{
                                min-width: 100px;
                                height: 86px;
                                background-size: contain;
                                background-position: center;
                                margin-bottom: 14px;
                                @include mq($sm){
                                    margin-bottom: 5px;
                                    min-width: 50px;
                                }
                                &.achievement{
                                    background-image: url(../../assets/images/logo/achiev.svg);
                                    background-repeat: no-repeat;
                                }
                            }
                            .text-color{
                                text-align: center;
                                color: #8A959E;
                                width: 100px;
                                @include mq($sm){
                                    width: 50px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .category-lease{
                        @include cf;
                        .left-category{
                            float: left;
                            width: 50%;
                            @include mq($sm){
                                float: none;
                                width: 100%;
                            }
                            .category-luxury{
                                margin-top: 70px;
                            }
                            .category-medium{
                                margin-top: 35px;
                            }
                            .text-spesifikasi{
                                color: #8A959E;
                                .descrip{
                                    margin-top: 40px;
                                }
                            }
                        }
                        .right-category{
                            float: right;
                            width: 50%;
                            @include mq($sm){
                                float: none;
                                width: 100%;
                            }
                            .category-small{
                                margin-top: 70px;
                            }
                            .category-big{
                                margin-top: 35px;
                            }
                            .text-spesifikasi{
                                color: #8A959E;
                                .descrip{
                                    margin-top: 40px;
                                }
                            }
                        }
                    }
                    .content-last{
                        color: #8A959E;
                        margin-top: 42px;
                        margin-bottom: 37px;
                    }
                }
            }     
        }
    }
}
    
    
   