@import '../../styles/helpers/index';

.o-car-detail {
    background-color: $white;
    .car-detail-header {
        position: relative;
        border-bottom: 1px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
    }
    .car-navigation {
        position: absolute;
        top: 50%;
        z-index: 2;
        color: $white;
        transform: translateY(-50%);
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        padding-top: 4.2rem;
        user-select: none;
        @include mq($lg) {
            font-size: .95rem;
            padding-top: 4rem;
        }
        @include mq($md) {
            font-size: .9rem;
            padding-top: 3.4rem;
        }
        @include mq($sm) {
            padding: 0;
            text-indent: -99999px;
        }
        &:hover {
            cursor: pointer;
        }
        &:before {
            content: '';
            width: 16px;
            height: 26px;
            display: block;
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 14px auto;
            top: 0;
            transition: all 0.25s ease;
            @include mq($lg) {
                background-size: 12px auto;
            }
            @include mq($md) {
                background-size: 10px auto;
            }
            @include mq($sm) {
                background-size: 14px auto;
            }
            @include mq($xsr) {
                background-size: 12px auto;
            }
        }
    }
    .prev-car {
        left: 2rem;
        &:before {
            left: 4px;
            background-image: url(../../assets/images/icons/prev-car.svg);
        }
        &:hover {
            &:before {
                transform: translateX(-4px);
            }
        }
        @include mq($md) {
            left: 1.2rem;
        }
        @include mq($sm) {
            left: 1.6rem;
        }
        @include mq($xsr) {
            left: 1.2rem;
        }
    }
    .next-car {
        right: 2rem;
        &:before {
            right: 4px;
            background-image: url(../../assets/images/icons/next-car.svg);
        }
        &:hover {
            &:before {
                transform: translateX(4px);
            }
        }
        @include mq($md) {
            right: 1.2rem;
        }
        @include mq($sm) {
            right: 1.6rem;
        }
        @include mq($xsr) {
            right: 1.2rem;
        }
    }
    .top-section {
        height: 255px;
        position: relative;
        padding: 4rem 2.4rem;
        color: $white;
        text-align: center;
        background-image: linear-gradient(-180deg, #12265b 2%, #2246a8 100%);
        overflow: hidden;
        @include mq($lg) {
            height: 240px;
            padding: 3.2rem 2.4rem;
        }
        @include mq($md) {
            height: 196px;
            padding: 3.2rem 2.4rem;
        }
        @include mq($sm) {
            height: 240px;
            padding: 3.2rem 2.4rem 2.4rem;
        }
        @include mq($xsr) {
            height: 224px;
            padding: 2.8rem 2rem 2.4rem;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: url(../../assets/images/background/detail-car.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0.2;
        }
    }
    .car-name {
        font-weight: map-get($map: $fw, $key: extra-bold);
        margin-bottom: 8px;
        @include mq($lg) {
            margin-bottom: 6px;
        }
        @include mq($sm) {
            font-size: 1.8rem;
            margin-bottom: 8px;
        }
        @include mq($xsr) {
            font-size: 1.6rem;
            margin-bottom: 6px;
        }
    }
    .car-service-description {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        @include mq($lg) {
            font-size: 1.3rem;
        }
        @include mq($md) {
            font-size: 1.2rem;
            margin-bottom: 1.6rem;
        }
        @include mq($sm) {
            font-size: 1.4rem;
            margin-bottom: 2.4rem;
        }
        @include mq($xsr) {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
    }
    .car-spesification {
        display: inline-block;
        .item {
            float: left;
            position: relative;
            min-height: 32px;
            padding: 8px 0 8px 32px;
            margin-right: 1.2rem;
            font-weight: map-get($fw, bold);
            &:last-child {
                margin-right: 0;
            }
            &:before {
                content: '';
                display: block;
                width: 32px;
                height: 32px;
                position: absolute;
                left: 0;
                top: 0;
                background-position: center center;
                background-repeat: no-repeat;
            }
            @include mq($lg) {
                font-size: 1.5rem;
                padding: 8px 0 8px 30px;
                margin-right: 1rem;
                &:before{
                    transform: scale(.85);
                }
            }
            @include mq($md) {
                font-size: 1.4rem;
                &:before{
                    transform: scale(.8);
                }
            }
            @include mq($sm) {
                font-size: 1.6rem;
                padding: 8px 0 8px 32px;
                &:before{
                    transform: none;
                }
            }
            @include mq($xsr) {
                font-size: 1.5rem;
                padding: 8px 0 8px 30px;
                margin-right: 1rem;
                &:before{
                    transform: scale(.85);
                }
            }
        }
        .air-conditioner,
        .karaoke,
        .wifi,
        .charger,
        .air-bag {
            padding-right: 16px;
            text-indent: -99999px;
            font-size: 0;
            background: url(../../assets/images/icons/checklist-white.svg) no-repeat right center;
            @include mq($lg) {
                padding-right: 14px;
                background-size: auto 11px;
            }
            @include mq($md) {
                background-size: auto 10px;
            }
            @include mq($sm) {
                padding-right: 16px;
                background-size: auto 12px;
            }
            @include mq($xsr) {
                padding-right: 14px;
                background-size: auto 11px;
            }
        }
        .passenger:before {
            background-image: url(../../assets/images/icons/passenger.svg);
        }
        .baggage:before {
            background-image: url(../../assets/images/icons/baggage.svg);
        }
        .transmission:before {
            background-image: url(../../assets/images/icons/transmission.svg);
        }
        .air-conditioner:before {
            background-image: url(../../assets/images/icons/air-conditioner.svg);
        }
        .air-bag:before {
            background-image: url(../../assets/images/icons/air-bag.svg);
        }
        .karaoke:before{
            background-image: url(../../assets/images/icons/karaoke-white.svg);
        }
        .wifi:before{
            background-image: url(../../assets/images/icons/wifi-feature-white.svg);
            width: 27px;
        }
        .charger:before{
            background-image: url(../../assets/images/icons/charger-white.svg);
        }
    }
    .car-special-deal {
        position: absolute;
        top: 1.4rem;
        left: -3.2rem;
        height: 34px;
        width: 124px;
        font-size: 1rem;
        line-height: 1.5;
        padding: 8px 0;
        font-weight: map-get($fw, extra-bold);
        text-transform: uppercase;
        text-shadow: 0 1px 2px rgba($black, 0.2);
        text-align: center;
        background-image: linear-gradient( 90deg, #dc721e 12%, #e7a010 48%, #dc721e 92%);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.34);
        border-top: solid 2px rgba(#c76c25, 0.5);
        border-bottom: solid 2px rgba(#c76c25, 0.5);
        transform: rotate(-45deg);
        @include mq($lg) {
            height: 32px;
            font-size: .9rem;
        }
        @include mq($md) {
            height: 24px;
            font-size: 8px;
            padding: 5px 0;
        }
        @include mq($sm) {
            height: 34px;
            font-size: 1rem;
            padding: 8px 0;
        }
        @include mq($xsr) {
            height: 32px;
            font-size: .9rem;
        }
    }
    .car-image {
        height: 220px;
        margin: -100px auto 0;
        position: relative;
        text-align: center;
        img {
            height: 100%;
            width: auto;
        }
        @include mq($lg) {
            height: 180px;
            margin: -80px auto 0;
        }
        @include mq($md) {
            height: 132px;
            margin: -56px auto 0;
        }
        @include mq($sm) {
            margin: -72px auto 0;
        }
        @include mq($xsr) {
            height: 116px;
            margin: -64px auto 0;
        }
    }
    .car-price {
        padding: 1.2rem 2.4rem 2rem;
        text-align: center;
        font-size: 2rem;
        color: $secondary;
        font-weight: map-get($map: $fw, $key: bold);
        .price-before {
            position: relative;
            display: inline-block;
            margin-right: 1.6rem;
            font-size: 1.4rem;
            color: map-get($grey, darkest);
            @include mq($lg) {
                font-size: 1.3rem;
                margin-right: 1.4rem;
            }
            @include mq($sm) {
                font-size: 1.4rem;
                margin-right: 1.6rem;
            }
            @include mq($xsr) {
                font-size: 1.3rem;
                margin-right: 1.4rem;
            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                z-index: 2;
                top: 50%;
                left: -2px;
                right: -2px;
                border-bottom: solid 1px #dd0000;
                transform: translateY(-50%);
            }
        }
        span.package {
            font-size: 1.2rem;
            color: map-get($grey, light);
            position: relative;
            top: -2px;
        }
        @include mq($lg) {
            font-size: 1.9rem;
            span.package {
                font-size: 1.1rem;
            }
        }
        @include mq($md) {
            font-size: 1.8rem;
            span.package {
                font-size: 1rem;
            }
        }
        @include mq($sm) {
            margin-top: 1.6rem;
            padding: 1.2rem 2.4rem;
            font-size: 2rem;
            border-top: 1px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
            span.package {
                font-size: 1.2rem;
            }
        }
        @include mq($xsr) {
            font-size: 1.9rem;
            span.package {
                font-size: 1.1rem;
            }
        }
    }
    .car-detail-extras {
        text-align: center;
        padding: 2.4rem 1.6rem;
        > .title {
            margin-bottom: 1.2rem;
        }
        .extras-card {
            width: 33.33%;
            .info-extras {
                color: $secondary;
            }
            @include mq($md) {
                width: 50%;
            }
        }
        @include mq($lg) {
            padding: 2.2rem 1.2rem;
            > .title {
                margin-bottom: 1rem;
            }
        }
        @include mq($sm) {
            padding: 2rem;
            > .title {
                text-align: left;
            }
            .m-extras{
                margin-left: -6px;
                margin-right: -6px;
            }
        }
        @include mq($xsr) {
            > .title {
                margin-bottom: 1rem;
            }
        }
    }
    .car-selected {
        display: table;
        width: 100%;
        box-shadow: 0 -4px 6px rgba(#314a62, 0.1);
        .summary-payment-mobile{
            display: none;
        }
        @include mq($sm) {
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            z-index: 10;
            background-color: $white;
            display: block;
            .summary-payment-mobile{
                width: 100%;
                display: table;
                table-layout: fixed;
            }
            .summary-total{
                display: table-cell;
                vertical-align: middle;
                padding: 1.2rem .8rem 1.2rem 2rem;
            }
            .total-payment-label{
                font-size: 1.4rem;
                line-height: 1.5;
                font-weight: map-get($fw, bold);
                color: map-get($grey, light);
            }
            .total-payment-ammount{
                &>span {
                    font-size: 1.8rem;
                    font-weight: map-get($fw, bold);
                }
                span.price-per{
                    font-size: 1.2rem;
                    font-weight: map-get($fw, normal);
                    color: map-get($grey, light);
                }
            }
            .summary-button{
                width: 45%;
                display: table-cell;
                vertical-align: middle;
                text-align: right;
                padding: 1.2rem 2rem 1.2rem .8rem;
            }
        }
        @include mq($xsr) {
            .summary-total{
                width: 55%;
                padding: 1rem .8rem 1rem 2rem;
            }
            .total-payment-label{
                font-size: 1.25rem;
            }
            .total-payment-ammount{
                & > span {
                    font-size: 1.6rem;
                }
                span.price-per{
                    font-size: 1.05rem;
                }
            }
            .summary-button{
                padding: 1rem 2rem 1rem .8rem;
                .a-btn{
                    min-width: 110px;
                    padding-left: 1.6rem;
                    padding-right: 1.6rem;
                }
            }
        }
        .title {
            width: 172px;
            display: table-cell;
            vertical-align: middle;
            padding: 1.2rem 2.4rem 1.2rem 3.2rem;
            border-right: solid 1px rgba(#979797, 0.25);
            @include mq($lg) {
                font-size: 1.7rem;
                width: 164px;
                padding: 1.2rem 2rem 1.2rem 2.8rem;
            }
            @include mq($md) {
                font-size: 1.6rem;
                width: 148px;
                padding: 1rem 1.6rem 1rem 2.4rem;
            }
            @include mq($sm) {
                display: none;
            }
        }
        .car-selected-lists {
            display: table-cell;
            @include cf;
            .item {
                height: 70px;
                float: left;
                padding: 1.4rem 1.6rem 1.2rem;
                border-right: solid 1px rgba(#979797, 0.25);
                position: relative;
                &.active {
                    background-color: #ececec;
                }
                @include mq($lg) {
                    height: 64px;
                }
                @include mq($md) {
                    height: 56px;
                }
            }
            .image {
                position: relative;
            }
            img {
                height: 46px;
                @include mq($lg) {
                    height: 42px;
                }
                @include mq($md) {
                    height: 34px;
                }
            }
            .cancel {
                position: absolute;
                top: -8px;
                right: -8px;
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                cursor: pointer;
                background-color: $red;
                border: solid 2px $white;
                overflow: hidden;
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url(../../assets/images/icons/cancel-order.svg) no-repeat center center / 10px auto;
                    transition: all 0.25s ease;
                }
                &:hover {
                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }
            @include mq($sm) {
                display: block;
                text-align: center;
                padding: .6rem 1rem;
                border-bottom: 1px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
                .item{
                    float: none;
                    display: inline-block;
                    border-right: 0;
                    height: 50px;
                    padding: 8px 12px;
                    border-radius: 3px;
                    margin:0 2px;
                }
                img {
                    height: 38px;
                }
                .cancel{
                    width: 18px;
                    height: 18px;
                    border: solid 1px $white;
                    &:after {
                        background-size: 8px auto;
                    }
                }
            }
            @include mq($xsr) {
                .item{
                    height: 48px;
                    padding: 7px 10px;
                    margin:0 1px;
                }
                img {
                    height: 36px;
                }
            }
        }
    }
}

.bus-extraitems-detail {
    .tabs-list {
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 21px;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
        }
        .tab-item {
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            color: #2A2E36;
            padding: 10px 32px;
            border-bottom: 4px solid transparent;
            transition: all 0.35s ease;
            &:hover {
                cursor: pointer;
                color: #F47D00
            }
            &.active {
                border-bottom: 4px solid #F47D00;
            }
        }
    }
    .tab-content {
        padding-bottom: 105px;
        .content-item {
            box-shadow: 0px 2px 20px 0px rgba(49, 74, 98, 0.2);
            margin: 0px 20px;
            margin-bottom: 10px;
            height: 128px;
            @include mq($sm){
                margin: 0px 0px;
                margin-bottom: 10px;
                height: 100%;
                padding: 20px;
            }
            .product {
                display: inline-block;
                width: calc(100% - 170px);
                height: 100%;
                @include mq($sm){
                    width: 100%;
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba(49, 74, 98, 0.2);
                }
                .img-product {
                    display: inline-block;
                    width: 186px;
                    height: 100%;
                    @include mq($sm){
                        width: 100px;
                        height: 100px;
                    }
                    img {
                        width: 70%;
                        height: 70%;
                        object-fit: contain;
                        margin: auto;
                        display: block;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        @include mq($sm){
                            width: 80%;
                            height: 80%;
                        }
                    }
                }
                .desc-product {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 186px);
                    padding-right: 40px;
                    height: 100%;
                    padding-top: 26px;
                    @include mq($sm){
                        width: calc(100% - 100px);
                        padding-right: 0px;
                    }
                    .title-product{
                        margin: 0px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #2A2E36;
                        margin-bottom: 4px;
                    }
                    .sub-product {
                        margin: 0px;
                        font-size: 12px;
                        font-weight: 500;
                        color: #8A959E;
                    }
                }
            }
            .amount {
                display: inline-block;
                vertical-align: top;
                width: 170px;
                height: 100%;
                padding-top: 26px;
                @include mq($sm){
                    width: 100%;
                }
                .price-wrapper {
                    @include mq($sm){
                        display: inline-block;
                        width: 50%;
                    }
                    .price {
                        margin: 0px;
                        font-size: 18px;
                        font-weight: 700;
                        color: #F27C21;
                        margin-bottom: 8px;
                        span {
                            font-size: 14px;
                            font-weight: 300;
                            color: #8A959E;
                        }
                    }
                }
                .quantity-wrapper {
                    @include mq($sm){
                        display: inline-block;
                        width: 50%;
                        text-align: right;
                    }
                    .label {
                        margin: 0px;
                        font-size: 14px;
                        font-weight: 700;
                        color: #2A2E36;
                        display: inline-block;
                        margin-right: 10px;
                    }
                    .sum {
                        outline: none;
                        font-size: 14px;
                        font-weight: 700;
                        color: #2A2E36;
                        padding: 10px 14px;
                        width: 83px;
                        border: 1px solid rgba(49, 74, 98, 0.2);
                        box-sizing: border-box;
                        border-radius: 6px;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
