@import '../../styles/helpers/index';

.o-car-box {
    border-bottom: 1px solid rgba(map-get($grey, darkest), .12);
    @include mq($sm) {
        border-bottom: 0;
    }
    .car-box-wrapper{
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        @include mq($md) {
            display: block;
        }
    }
    .box-image{
        display: table-cell;
        vertical-align: top;
        width: 22rem;
        padding: 4.8rem 2.4rem;
        position: relative;
        overflow: hidden;
        @include mq($lg) {
            width: 18rem;
            padding: 4rem 2rem;
        }
        @include mq($md) {
            width: 100%;
            display: block;
            padding: 3.2rem 12rem 4rem;
        }
        @include mq($sm) {
            padding: 4rem 6rem 4.8rem;
        }
        @include mq($xsr) {
            padding: 4rem 4.8rem 4.8rem;
        }
        .special-deal{
            color:$white;
            position: absolute;
            top: 1.4rem;
            left: -3.2rem;
            height: 34px;
            width: 124px;
            font-size: 1rem;
            line-height: 1.5;
            padding: 8px 0;
            font-weight: map-get($fw, extra-bold);
            text-transform: uppercase;
            text-shadow: 0 1px 2px rgba($black, 0.2);
            text-align: center;
            background-image: linear-gradient( 90deg, #dc721e 12%, #e7a010 48%, #dc721e 92%);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.34);
            border-top: solid 2px rgba(#c76c25, 0.5);
            border-bottom: solid 2px rgba(#c76c25, 0.5);
            transform: rotate(-45deg);
            @include mq($lg) {
                font-size: .9rem;
                height: 30px;
                padding: 7px 0;
            }
            @include mq($sm) {
                font-size: 1rem;
                height: 34px;
                padding: 8px 0;
            }
        }
        .car-status{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: $white;
            font-size: 1.2rem;
            padding: .8rem 1.2rem;
            text-align: center;
            background-color: $primary;
            font-weight: map-get($fw, bold);
            &.red{
                background-color: $red-dark;
            }
            &.blue{
                background-color: map-get($primary-alt, light);
            }
            @include mq($lg) {
                font-size: 1.1rem;
            }
            @include mq($sm) {
                font-size: 1.2rem;
                padding: 1rem 1.2rem;
            }
        }
    }
    .box-description{
        display: table-cell;
        vertical-align: top;
        padding: 2.4rem 4.8rem 2.4rem 2.4rem;
        @include mq($lg) {
            padding: 2rem 4rem 2rem 2rem;
        }
        @include mq($md) {
            padding: 2rem 2.4rem;
        }
        @include mq($sm) {
            padding: 2rem 2rem 0;
        }
    }
    .description-item{
        width: 100%;
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        @include mq($sm) {
            &.car-description-detail{
                position: relative;
                background-color: map-get($grey, filter-side);
                @include mq($sm) {
                    &:after{
                        content: "";
                        left: -2rem;
                        right: -2rem;
                        top: 0;
                        bottom: 0;
                        position: absolute;
                        z-index: 1;
                        background-color: map-get($grey, filter-side);
                    }
                }
            }
        }
    }
    .car-name,.car-price{
        display: table-cell;
        vertical-align: top;
        h4{
            margin: 0;
        }
        @include mq($sm) {
            vertical-align: middle;
            padding-bottom: 1rem;
            h4{
                line-height: 1.3;
            }
        }
    }
    @include mq($sm) {
        .car-name h4{
            font-size: 1.65rem;
        }
    }
    .car-price{
        text-align: right;
    }
    .price-per-package{
        font-size: 1.8rem;
        margin-bottom: 6px;
        line-height: 1.25;
        color: $secondary;
        font-weight: map-get($fw, bold);
        @include mq($lg) {
            font-size: 1.65rem;
            margin-bottom: 4px;
        }
        @include mq($sm) {
            font-size: 1.8rem;
            margin-bottom: 0;
        }
        @include mq($xsr) {
            span{
                display: block;
            }
        }
    }
    .before-discount{
        font-size: 1.4rem;
        color: map-get($grey, darkest);
        @include mq($lg) {
            font-size: 1.3rem;
        }
        @include mq($sm) {
            display: none;
        }
    }
    .price-before{
        position: relative;
        display: inline-block;
        &:before{
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: -2px;
            right: -2px;
            border-bottom: solid 1px #dd0000;
            transform: translateY(-50%);
        }
    }
    .price-per-3days{
        font-size: 1.4rem;
        line-height: 1.25;
        font-weight: map-get($fw, bold);
        margin-bottom: 6px;
        @include mq($lg) {
            font-size: 1.3rem;
            margin-bottom: 4px;
        }
        @include mq($sm) {
            display: none;
        }
    }
    .package-label,
    .tax-note{
        color: map-get($grey, light);
        font-size: 1.2rem;
        font-weight: map-get($fw, normal);
        @include mq($lg) {
            font-size: 1.15rem;
        }
        @include mq($sm) {
            font-size: 1.2rem;
        }
    }
    .stock-note{
        color: $red;
        font-size: 1.2rem;
        font-weight: map-get($fw, normal);
        text-align: center;
        margin-top: 5px;
        @include mq($lg) {
            font-size: 1.15rem;
        }
        @include mq($sm) {
            font-size: 1.2rem;
        }
    }
    .car-specification{
        margin-bottom: 1.6rem;
        //margin-top: -2.4rem;
        @include mq($sm) {
            margin-top: 0;
            padding-top: 1.2rem;
            margin-bottom: 1.2rem;
            display: block;
            border-top: 1px solid rgba(map-get($grey, darkest), .12);
        }
    }
    .car-specification-list{
        @include cf;
        .item{
            float: left;
            position: relative;
            min-height: 32px;
            padding: 8px 0 8px 32px;
            margin-right: 1.2rem;
            font-size: 1.4rem;
            font-weight: map-get($fw, bold);
            &:last-child{
                margin-right: 0;
            }
            &:before{
                content: '';
                display: block;
                width: 32px;
                height: 32px;
                position: absolute;
                left: 0;
                top: 0;
                background-position: center center;
                background-repeat: no-repeat;
            }
            @include mq($lg) {
                font-size: 1.35rem;
                padding: 8px 0 8px 30px;
                margin-right: 1rem;
                &:before{
                    transform: scale(.85);
                }
            }
            @include mq($sm) {
                font-size: 1.4rem;
                padding: 8px 0 8px 32px;
                margin-right: 1.2rem;
                &:before{
                    transform: none;
                }
            }
            @include mq($xsr) {
                margin-right: 1rem;
            }
            .tooltip-item {
                position: absolute;
                top: -20px;
                left: 0;
                background: #2d0d0d;
                color: white;
                font-size: 10px;
                font-weight: normal;
                padding: 4px 10px;
                border-radius: 2px;
                text-align: center;
                white-space: nowrap;
                display: none;
                z-index: 1;
                &::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    background: #2d0d0d;
                    z-index: -1;
                    transform: rotate(45deg) translateX(-50%);
                }
            }
            &:hover {
                cursor: pointer;
                .tooltip-item {
                    display: block;
                }
            }
        }
        .air-conditioner,
        .karaoke,
        .wifi,
        .charger,
        .air-bag {
            padding-right: 16px;
            // text-indent: -99999px;
            // font-size: 0;
            background: url(../../assets/images/icons/checklist-grey.svg) no-repeat right center;
            @include mq($lg) {
                padding-right: 14px;
                background-size: auto 11px;
            }
        }
        .passenger:before{
            background-image: url(../../assets/images/icons/passenger.svg);
        }
        .baggage:before{
            background-image: url(../../assets/images/icons/baggage.svg);
        }
        .transmission:before{
            background-image: url(../../assets/images/icons/transmission.svg);
        }
        .air-bag:before{
            background-image: url(../../assets/images/icons/air-bag.svg);
        }
        .air-conditioner:before{
            background-image: url(../../assets/images/icons/air-conditioner.svg);
        }
        .karaoke:before{
            background-image: url(../../assets/images/icons/karaoke.svg);
        }
        .wifi:before{
            background-image: url(../../assets/images/icons/wifi-feature.svg);
            width: 27px;
        }
        .charger:before{
            background-image: url(../../assets/images/icons/charger.svg);
        }
    }
    .seating-arrangement {
        p {
            font-size: 12px;
            font-weight: 500;
            color: #2A2E36;
            margin: 0px;
            margin-top: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        .list-seating {
            margin-top: 18px;
            display: inline-block;
            vertical-align: middle;
            .seating-item {
                display: inline-block;
                vertical-align: middle;
                margin-right: 12px;
                .seat-icon {
                    width: 11px;
                    height: 10px;
                    background-image: url(../../assets/images/icons/seat.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 4px;
                }
            }
        }
    }
    .bus-detail {
        .interior-img-list {
            .img-item {
                width: 86px;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 6px;
            }
        }
        .detail-content {
            .col {
                display: inline-block;
                width: 48%;
                vertical-align: top;
                &:nth-child(1){
                    margin-right: 2%;
                }
                .list-item {
                    margin-bottom: 22px;
                    ul {
                        li {
                            width: 100%;
                            &:nth-child(2n){
                                margin-left: 0px;
                            }
                        }
                    }
                }
                @include mq($sm){
                    width: 100%;
                }
            }
        }
    }
    .slick-track {
        margin-left: unset !important
    }
    .thumb {
        border: 1px solid #eee;
        padding: 4px;
        // width: 100px;
    }
    .description-detail{
        display: table-cell;
        vertical-align: top;
        padding: 2rem 0 0;
        @include mq($lg) {
            padding-top: 1.6rem;
        }
        @include mq($sm) {
            padding: 2.1rem 2rem;
        }
        .detail{
            width: 142.5%;
            max-height: 0;
            overflow: hidden;
            transition: all .25s ease;
            &.show{
                max-height: 1500px;
                .detail-content{
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: 0.15s;
                }
            }
            @include mq($lg) {
                width: 152%;
            }
            @include mq($sm) {
                width: 200%;
            }
            @include mq($xsr) {
                width: 240%;
            }
        }
        .detail-content{
            margin-top: 2.4rem;
            opacity: 0;
            padding-bottom: 1rem;
            transform: translateY(4px);
            transition: all .35s ease;
            transition-delay: 0s;
            @include mq($lg) {
                margin-top: 2rem;
            }
            @include mq($sm) {
                margin-top: 2.4rem;
            }
            &-title{
                margin-bottom: 2rem;
                &:nth-child(2){
                    margin-bottom: 1.2rem;
                }
                @include mq($lg) {
                    margin-bottom: 1.6rem;
                    &:nth-child(2){
                        margin-bottom: 1rem;
                    }
                }
                @include mq($sm) {
                    font-size: 1.4rem;
                    margin-bottom: 2rem;
                    &:nth-child(2){
                        margin-bottom: 1.2rem;
                    }
                }
                @include mq($xsr) {
                    margin-bottom: 1.6rem;
                    &:nth-child(2){
                        margin-bottom: 1rem;
                    }
                }
            }
        }
        .list-item{
            ul{
                list-style: disc;
                @include cf;
                width: 100%;
                margin-bottom: 0;
            }
            li{
                width: 50%;
                float: left;
                font-size: 1.4rem;
                @include mq($lg) {
                    font-size: 1.3rem;
                    padding-left: 0;
                    &:nth-child(2n){
                        margin-left: -2rem;
                    }
                }
                @include mq($sm) {
                    font-size: 1.4rem;
                    &:nth-child(2n){
                        margin-left: -3.2rem;
                    }
                }
            }
            a{
                text-decoration: none;
            }
        }
    }
    .description-button{
        display: table-cell;
        vertical-align: top;
        width: 12.4rem;
        text-align: right;
        .a-btn{
            width: 124px;
            min-width: initial;
        }
        .o-counter{
            height: 44px;
            width: 124px;
            min-width: initial;
        }
    }
    @include mq($sm) {
        .tax-note{
            display: none;
        }
        .description-detail{
            position: relative;
            z-index: 2;
            padding-left: 0;
            padding-right: 0;
        }
        .description-button{
            display: block;
            float: right;
            padding: .8rem 0;
            position: relative;
            z-index: 2;
        }
    }
}
