@import '../../styles/helpers/index';

.m-list-blog {
  float: left;
  width: 25%;
  padding: 1rem;
  @include mq($md) {
    padding: 1rem 0.6rem;
  }
  @include mq($sm) {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 3.2rem;
  }
  @include mq($xsr) {
    margin-bottom: 2.4rem;
  }
  &:nth-child(4n) {
    @include cf;
  }
  .blog-image {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 67.5%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 2.4rem;
    @include mq($md) {
      margin-bottom: 2rem;
    }
    @include mq($sm) {
      padding-bottom: 65%;
      margin-bottom: 1.6rem;
    }
    @include mq($xsr) {
      padding-bottom: 62.5%;
      margin-bottom: 1.2rem;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.35s ease;
      transform: scale(1.05);
    }
    &:hover {
      img {
        transform: scale(1);
      }
    }
  }
  .blog-description {
    h4 {
      margin-bottom: 1.4rem;
      @include mq($md) {
        margin-bottom: 1.2rem;
      }
      @include mq($sm) {
        font-size: 1.8rem;
      }
    }
    a {
      text-decoration: none;
      color: map-get($grey, darkest);
      transition: color 0.25s ease;
      &:hover {
        color: $secondary;
      }
    }
  }
  .blog-label {
    text-transform: uppercase;
    color: map-get($grey, light);
    font-weight: map-get($fw, extra-bold);
    margin-bottom: 1.2rem;
    @include mq($md) {
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
    @include mq($sm) {
      display: none;
    }
  }
  .blog-date {
    color: map-get($grey, light);
    @include mq($md) {
      font-size: 1.4rem;
    }
    @include mq($sm) {
      font-size: 1.6rem;
    }
    @include mq($xsr) {
      font-size: 1.4rem;
    }
  }
  &.full-width {
    width: 100%;
    display: table;
    vertical-align: top;
    @include cf;
    @include mq($sm) {
      display: block;
    }
    .blog-image {
      display: table-cell;
      width: 40%;
      padding-bottom: 26%;
      margin-bottom: 0;
      position: relative;
      @include mq($md) {
        padding-bottom: 25%;
      }
      @include mq($sm) {
        display: block;
        width: 100%;
        padding-bottom: 65%;
        margin-bottom: 1.6rem;
      }
    }
    .blog-description {
      display: table-cell;
      vertical-align: middle;
      padding-left: 2.4rem;
      @include mq($md) {
        padding-left: 2rem;
      }
      @include mq($sm) {
        padding-left: 0;
        .a-btn {
          display: none;
        }
      }
      h2 {
        margin-bottom: 2rem;
        @include mq($md) {
          margin-bottom: 1.6rem;
        }
        @include mq($sm) {
          font-size: 1.8rem;
          margin-bottom: 1.2rem;
        }
      }
      .blog-date {
        margin-bottom: 1.8rem;
        @include mq($md) {
          margin-bottom: 1.4rem;
        }
        @include mq($sm) {
          margin-bottom: 0;
        }
      }
      p {
        margin-bottom: 2.5rem;
        color: map-get($grey, light);
        @include mq($md) {
          margin-bottom: 2rem;
          font-size: 1.4rem;
        }
        @include mq($sm) {
          display: none;
        }
      }
    }
  }
}
