@import '../../styles/helpers/index';
.m-navigation-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    background-color: map-get($nav, background);
    transition: all 0.5s ease;
    transform: translateX(100%);
    transition-delay: .7s;
    z-index: 11;
    &.show {
        transform: translateX(0);
        transition-delay: 0s;
        .navigation-menu-list {
            transition-delay: .45s;
            opacity: 1;
            transform: translateY(0);
        }
        .navigation-menu-list > li{
            opacity: 1;
            transform: translateY(0);
            &:nth-child(1){
                transition-delay: .5s;
            }
            &:nth-child(2){
                transition-delay: .575s;
            }
            &:nth-child(3){
                transition-delay: .65s;
            }
            &:nth-child(4){
                transition-delay: .625s;
            }
            &:nth-child(5){
                transition-delay: .7s;
            }
            &:nth-child(6){
                transition-delay: .775s;
            }
            &:nth-child(7){
                transition-delay: .85s;
            }
            &:nth-child(8){
                transition-delay: .925s;
            }
        }
        .language {
            opacity: 1;
            transition-delay: .45s;
            transform: translateY(0);
        }
        .btn-call-center {
            opacity: 1;
            transform: translateY(0);
            transition-delay: .55s;
        }
        .close-button {
            opacity: 1;
            transform: rotate(0deg) scale(1);
            transition-delay: .8s;
        }
    }
    @include mq($sm) {
        width: 100%;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: $white;
        font-size: 1.6rem;
        @include mq($xsr) {
            font-size: 1.4rem;
        }
    }
    .top-menu {
        @include cf;
        @include mq($sm) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 58px;
            z-index: 9;
            background-color: map-get($nav, background);
        }
    }
    .close-button {
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        top: 1.8rem;
        right: 2.4rem;
        text-indent: -99999px;
        background: url(../../assets/images/icons/close.svg) no-repeat center center;
        cursor: pointer;
        opacity: 0;
        transform: rotate(90deg) scale(.5);
        transition-delay: .1s;
        transition: all .3s ease;
        @include mq($sm) {
            top: 1.2rem;
            right: 1.6rem;
        }
        @include mq($xsr) {
            right: 1.2rem;
        }
    }
    .language {
        @include cf;
        display: none;
        opacity: 0;
        transform: translateY(4px);
        transition-delay: .3s;
        transition: all .3s ease;
        @include mq($sm) {
            display: block;
        }
        li {
            float: left;
            margin-right: 2.8rem;
            position: relative;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                &:after {
                    content: '-';
                    color: $white;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: -16px;
                    @include mq($sm) {
                        right: -15px;
                    }
                }
            }
        }
        a {
            display: block;
            position: relative;
            padding-left: 2.8rem;
            font-weight: map-get($fw, light);
            transition: color 0.25s ease;
            &:hover,
            &.active {
                color: map-get($nav, active-color);
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 2px;
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-position: center center;
                border: solid 1px #e1e1e1;
                background-size: 18px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        &-en:before {
            background-image: url(../../assets/images/icons/en.svg);
        }
        &-id:before {
            background-image: url(../../assets/images/icons/id.svg);
        }
        @include mq($sm) {
            float: left;
            padding: 1.6rem 0 1.5rem 2.4rem;
            li {
                margin-right: 2.4rem;
            }
            a {
                padding-left: 2.4rem;
                font-size: 1.8rem;
                &:before {
                    top: 4px;
                }
            }
        }
        @include mq($xsr) {
            a {
                font-size: 1.6rem;
                &:before {
                    top: 3px;
                }
            }
        }
    }
    .a-btn.btn-outline-white.btn-call-center {
        border: solid 0.5px rgba($white, 0.5);
    }
    .btn-call-center {
        min-width: initial;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        display: none;
        text-transform: initial;
        float: right;
        border-radius: 3px;
        vertical-align: top;
        margin: 1rem 6.8rem 1rem 1.2rem;
        font-size: 1.4rem;
        opacity: 0;
        transform: translateY(4px);
        transition-delay: .4s;
        transition: all .3s ease;
        @include mq($sm) {
            display: inline-block;
        }
        @include mq($xsr) {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
            margin-right: 5.6rem;
        }
    }
    ul.navigation-menu-list {
        @include mq($sm) {
            padding-bottom: 3.2rem;
        }
    }
}

.navigation-menu-list {
    position: absolute;
    top: 68px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include mq($sm) {
        top: 58px;
    }
    >li {
        opacity: 0;
        transform: translateY(4px);
        transition: all .25s ease;
        &:nth-child(1){
            transition-delay: .2s;
        }
        &:nth-child(2){
            transition-delay: .25s;
        }
        &:nth-child(3){
            transition-delay: .3s;
        }
        &:nth-child(4){
            transition-delay: .4s;
        }
        &:nth-child(5){
            transition-delay: .45s;
        }
        &:nth-child(6){
            transition-delay: .5s;
        }
        &:nth-child(7){
            transition-delay: .55s;
        }
        &:nth-child(8){
            transition-delay: .6s;
        }
        >a {
            padding: 2.5rem 3.6rem 2.2rem;
            display: block;
            border-top: solid 1px rgba($white, .2);
            position: relative;
            transition: all 0.25s ease;
            &:before {
                content: '';
                width: 5px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: $secondary;
                transform: scaleX(0);
                transform-origin: left center;
                transition: all 0.3s ease;
            }
            @include mq($sm) {
                padding: 2.3rem 2.4rem 2.2rem;
            }
            @include mq($xsr) {
                padding: 1.7rem 2rem 1.6rem;
                &:before {
                    width: 3px;
                }
            }
        }
        &:first-child>a {
            border-color: transparent;
        }
        &.active a,
        >a:hover {
            background-color: map-get($nav, active-background);
            border-color: transparent;
            &:before {
                transform: scaleX(1);
            }
        }
        &.active+li a,
        &:hover+li a {
            border-color: transparent;
        }
    }
    .has-sub-menu {
        ul {
            padding: 0 4rem;
            @include mq($sm) {
                padding: 0 3.2rem;
            }
        }
        li {
            a {
                display: block;
                padding: 1.2rem;
                transition: color 0.25s ease;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}