@import '../../styles/helpers/index';

.title{
    &.wraper{
        height: 450px;
        width: 100%;
        @include mq($sm){
            height: 450px;
        } 
    }      

    .t-main{
        &.t-auth {
            position: relative;
            display: table;
            width: 100%;
            height: 100%;
            table-layout: fixed;
        }    
        .left {
            height: 100%;
            display: table-cell;                    
            vertical-align: middle;
            position: relative;
            @include mq($sm){
                display: block;
            }     
            .m-slideshow {
                background-color: $black;
                width: 100%;
                height: 100%;
                
                .slide-item{
                    height: 100%;
                    position: relative;
                    &:before{
                        content: "";
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        height: 60%;
                        max-height: 360px;
                        display: block;
                        position: absolute;
                        z-index: 1;
                        background-image: linear-gradient(-180deg, rgba($black,0) 0%, rgba(black,.7) 100%);
                        
                    }
                }
                .a-cover{
                    background-position: top center;
                }
                .slide-text{
                    width: 100%;
                }
                .slick-slide{
                    &.slick-current{
                        .a-cover{
                            transform: scale(1.025) translateX(0);
                        }
                        .slide-text{
                            h2,p{
                                opacity: 1;
                                transform: translateX(0);
                            }
                            h2{
                                transition-delay: .25s;
                            }
                            p{
                                transition-delay: .4s;
                            }
                        }
                        + .slick-slide{
                            .a-cover{
                                transform: scale(1.025) translateX(16px);
                            }
                            .slide-text{
                                h2, p{
                                    transform: translateX(16px);
                                }
                            }
                        }
                    }
                }
                .a-cover{
                    transform: scale(1.025) translateX(-16px);
                    transition: all 1s ease;
                }
                .slide-text{
                    position: absolute;
                    bottom: 0;
                    padding: 90px 60px;
                    color: $white;
                    z-index: 2;
                    h2{
                        width: 100%;
                        max-width: 430px;
                        margin: 0 0 12px;
                        font-weight: map-get($fw, extra-bold);
                        opacity: 0;
                        transform: translateX(-16px);
                        transition: all .75s ease;
                    }
                    p{
                        width: 100%;
                        max-width: 430px;
                        margin: 0;
                        opacity: 0;
                        transform: translateX(-16px);
                        transition: all .75s ease;
                    }
                    @include mq($lg) {
                        padding: 64px 48px;
                    }
                    @include mq($md) {
                        padding: 56px 32px;
                    }
                }
                .slick-dots{
                    position: absolute;
                    bottom: 24px;
                    z-index: 2;
                    @include mq($lg) {
                        bottom: 20px;
                    }
                    @include mq($md) {
                        bottom: 16px;
                    }
                    li{
                        margin: 0;
                        &.slick-active{
                            button:before{
                                opacity: 1;
                                background-color: $secondary;
                            }
                        }
                    }
                    button{
                        width: 16px;
                        height: 16px;
                        position: relative;
                        cursor: pointer;
                        &:before{
                            content: "";
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -4px;
                            margin-top: -4px;
                            background-color: $white;
                            opacity: .7;
                            transition: all .3s ease;
                        }  
                        
                    }
                }
    
            }
        }
    }
        
    .ban-slider{
        width: 100%;
        object-fit: contain;
    }
    .feat-icon{
        text-align: center;
        margin-top: 31px;
        margin-bottom: 0;
        @include mq($sm){
            margin: 20px 20px 20px;
            font-size: 12px;
            margin-bottom: -20px;
        }
        li.active{
            display: inline-block;
            border-bottom: 2px solid #F27C21;
            padding-bottom: 20px;
            margin-right: 115px;   
            @include mq($sm){
                margin-right: 10px;
            }
        }
        li{
            display: inline-block;
            border-bottom: 1px solid transparent;
            padding-bottom: 20px;
            margin-right: 115px; 
            @include mq($sm){
                margin-right: 10px;
            }
            &:nth-last-child(1){
                @include mq($sm){
                    margin-right: 0px;
                }
            }
            &:hover{
                cursor: pointer;
                color: orange;
            }
            &::before {
                content: '';
                width: 30px;
                height: 30px;
                background-image: url(../../assets/images/logo/feature.svg);
                background-repeat: no-repeat;
                vertical-align: middle;
                margin-left: 5px;
                margin-top: -2px;
                display: inline-block;
                @include mq($sm){
                    margin-left: 0px;
                }
                
            }
        }
        .guidance-images{
            &::before {
                background-image: url(../../assets/images/logo/guidance.svg);
                background-repeat: no-repeat;
            }
        }
        .news-images{
            &::before {
                background-image: url(../../assets/images/logo/news.svg);
                background-repeat: no-repeat;
            }   
        }
        .event-images{
            &::before {
                background-image: url(../../assets/images/logo/event.svg);
                background-repeat: no-repeat;
            }
        }
    }  
}     

.news-line{
    border-top: 1px solid #E8EAEC;
    margin-top: 80px;
    @include mq($sm){
        margin: 0; 
        margin-top: 70px;
    }

    .section1{
        .m-list-blog {
            float: left;
            width: 25%;
            padding: 1rem;
            margin-top: 36px;
            margin-bottom: 0;
            @include mq($sm){
                float: none;
                width: 100%;
                padding: 0;
                margin-bottom: -0.8rem;
                margin-top: 20px;
            }
        }
    }
    .section2{
        .m-list-blog {
            float: left;
            width: 25%;
            padding: 1rem;
            margin-top: 50px;
            margin-bottom: 0;
            @include mq($sm){
                float: none;
                width: 100%;
                padding: 0;
                margin-bottom: -0.8rem;
                margin-top: 20px;
            }
        }
    }
    .section-btn{
        text-align: center;
        .a-btn{
            margin-top:76px;
            margin-bottom: 79px;
        }
    }
}

.detail-wrapper{
    .ban-slider{
        width: 100%;
        object-fit: contain;
    }
    .page1{
        background: white;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        top: -155px;
        max-height: 450px;
        @include mq($sm){
            margin-left: 0px;
            margin-right: 0px;
            top: -40px;
        }    
        .desc-title{
            font-size: 12px;
            margin-left: 200px;
            margin-right: 200px;
            padding-top: 70px;
            font-weight: bold;
            margin-bottom: 0;
            @include mq($sm){
                font-size: 10px;
                margin-left: 20px;
                margin-right: 20px;
                padding-top: 35px;
            }
            li{
                display: inline-block;
                margin-right: 10px;
                @include mq($sm){
                    margin-right: 0;
                }    
                &:hover{
                    cursor: pointer;
                    color: orange;
                }
                &::after {
                    content: '';
                    width: 30px;
                    height: 30px;
                    margin-left: 10px;
                    margin-top: 5px;
                    display: inline-block;
                    vertical-align: top;
                    @include mq($sm){
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            .home-desc{
                &::after {
                    background-image: url(../../assets/images/logo/Path.svg);
                    background-repeat: no-repeat;
                }    
            }
            .blog-desc{
                &::after {
                    background-image: url(../../assets/images/logo/Path.svg);
                    background-repeat: no-repeat;
                } 
            }
            .libur-desc{
                
            }
        }
        .title-content{
            margin-left: 200px;
            margin-right: 200px;
            font-weight: bold;
            @include mq($sm){
                margin-left: 20px;
                margin-right: 20px;
            }
            h1{
                margin-bottom: 34px;
                width: 85%;
                @include mq($sm){
                    font-size: 24px;
                    max-width: 300px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    font-size: 16px;
                }    
            }
            
            p{
                font-size: 16px;
                color:#8A959E;
                margin-top: 34px;
                position: absolute;
                margin-bottom: 0;
                
                @include mq($sm){
                    font-size: 10px;
                }    
            }
            h3{
                font-size: 14px;
                color:#8A959E;
                @include mq($sm){
                    font-size: 10px;
                    margin-bottom: 40px;
                }
            }
            .detail-content{
               p{
                    width: 685px;
                    margin-top: 0px;
                    @include mq($sm){
                        max-width: 250px;
                        margin-top: 0;
                        font-size: 10px;
                    }    
               } 
            }
            
            
        }

    } 
    .page2{
        background: white;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        top: -155px;
        max-height: 450px;
        @include mq($sm){
            margin-left: 0px;
            margin-right: 0px;
            top: -80px;
        } 
        .detail-content{
            p{
                margin-left: 200px;
                margin-right: 200px;
                width: 685px;
                font-size: 14px;
                color: #8A959E;
                font-weight: bold;
                font-size: 16px;
                margin-top: 10px;
                 @include mq($sm){
                    max-width: 250px;
                    font-size: 10px;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 10px;
                }    
            } 
            .share{
                .logo-icon{
                    float: right;
                    margin-top: -70px;
                    margin-right: 150px;
                    @include mq($sm){
                        margin-right: 0;
                        margin-top: -40px;
                    }
                    .text-under{
                        margin-bottom: 20px;
                        font-size: 14px;
                        color: #8A959E;
                        @include mq($sm){
                            font-size: 10px;
                        }
                    }
                    img{
                        margin-left: 10px;
                        @include mq($sm){
                            margin-left: 0;
                        }    
                    }
                    .text-icon{
                        margin-top: 5px;
                        margin-bottom: 20px;
                        font-size: 10px;
                        color: #8A959E;
                        margin-left: 10px;
                        @include mq($sm){
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .image2{
            width: 100%;
            padding-left: 200px;
            padding-right: 300px;
            object-fit: contain;
            @include mq($sm){
                padding-left: 0px;
                padding-right: 30px;
            }
        }
        h3{
            margin-left: 200px;
            margin-top: 58px;
            font-size: 18px;
            @include mq($sm){
                margin-left: 0px;
                margin-top: 20px;
                font-size: 10px;
            }    
        }
        .image-page2{
            width: 100%;
            padding-left: 200px;
            padding-right: 200px;
            @include mq($sm){
                padding-left: 0px;
                padding-right: 30px;
            }
            .image-detail1{
                float: left;
                width: 43%;
                margin-right: 10px;
                margin-bottom: 43px;
                @include mq($sm){
                    margin-bottom: 20px;
                    float: none;
                    width: 100%;
                }
            }
            .image-detail2{
                float: left;
                width: 43%;
                margin-right: 10px;
                margin-bottom: 43px;
                @include mq($sm){
                    margin-bottom: 20px;
                    float: none;
                    width: 100%;
                }
            }
        }
        .tag-news-detail{
            .tag-detail{
                margin-left: 200px;
                margin-bottom: 43px;
                @include mq($sm){
                    margin-left: 0px;
                    text-align: center;
                }
                li{
                    border: 1px solid #979797;
                    display: inline-block;
                    margin-right: 20px;
                    padding: 5px 38px;
                    color: white;
                    background: #1F419B;
                    @include mq($sm){
                        margin-right: 5px;
                        margin-top: 5px;
                        font-size: 12px;
                        width: 50%;
                    }
                }
            }
            &:hover{
                cursor: pointer;
            }
        }
        .detail-line{
            border-top: 1px solid #E8EAEC;
        }
        .related-artc{
            margin-top: 45px;
            .section1{
                .m-list-blog{
                    margin-bottom: 100px;
                    @include mq($sm){
                        margin-bottom: 20px;
                    }    
                }
            }
        }
        .news-comment{
            margin-left: 216px;
            margin-right: 304px;
            @include mq($sm){
                margin-left: 0;
                margin-right: 0;
            }
            p{
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .comment-text{
                border: 1px solid #8A959E;
                background: white;
                textarea{
                    font-size: 16px;
                    color: #8A959E;
                    margin: 20px 20px 80px;
                }
            }
            .a-btn{
                float: right;
                margin-top: 10px;
                &.btn-primary{
                    
                }
            }
        }
    }    
           
}
