@import '../../styles/helpers/index';

.m-slideshow {
    background-color: $black;
    .slide-item{
        height: 100%;
        position: relative;
        &:before{
            content: "";
            width: 100%;
            bottom: 0;
            left: 0;
            height: 60%;
            max-height: 360px;
            display: block;
            position: absolute;
            z-index: 1;
            background-image: linear-gradient(-180deg, rgba($black,0) 0%, rgba(black,.7) 100%);
        }
    }
    .slick-slide{
        &.slick-current{
            .a-cover{
                transform: scale(1.025) translateX(0);
            }
            .slide-text{
                h2,p{
                    opacity: 1;
                    transform: translateX(0);
                }
                h2{
                    transition-delay: .25s;
                }
                p{
                    transition-delay: .4s;
                }
            }
            + .slick-slide{
                .a-cover{
                    transform: scale(1.025) translateX(16px);
                }
                .slide-text{
                    h2, p{
                        transform: translateX(16px);
                    }
                }
            }
        }
    }
    .a-cover{
        transform: scale(1.025) translateX(-16px);
        transition: all 1s ease;
    }
    .slide-text{
        position: absolute;
        bottom: 0;
        padding: 90px 60px;
        color: $white;
        z-index: 2;
        h2{
            width: 100%;
            max-width: 430px;
            margin: 0 0 12px;
            font-weight: map-get($fw, extra-bold);
            opacity: 0;
            transform: translateX(-16px);
            transition: all .75s ease;
        }
        p{
            width: 100%;
            max-width: 430px;
            margin: 0;
            opacity: 0;
            transform: translateX(-16px);
            transition: all .75s ease;
        }
        @include mq($lg) {
            padding: 64px 48px;
        }
        @include mq($md) {
            padding: 56px 32px;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: 24px;
        z-index: 2;
        @include mq($lg) {
            bottom: 20px;
        }
        @include mq($md) {
            bottom: 16px;
        }
        li{
            margin: 0;
            &.slick-active{
                button:before{
                    opacity: 1;
                    background-color: $secondary;
                }
            }
        }
        button{
            width: 16px;
            height: 16px;
            position: relative;
            cursor: pointer;
            &:before{
                content: "";
                width: 8px;
                height: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -4px;
                margin-top: -4px;
                background-color: $white;
                opacity: .7;
                transition: all .3s ease;
            }
        }
    }
}
