@import '../../styles/helpers/index';

.m-sidebar-car-order {
    @include mq($sm) {
        margin-bottom: 1rem;
    }
    .item {
        background-color: $white;
        margin-bottom: 5px;
        display: table;
        width: 100%;
        padding: 10px;
        @include mq($lg) {
            padding: 8px;
            margin-bottom: 4px;
        }
        @include mq($md) {
            padding: 6px;
            margin-bottom: 3px;
        }
        @include mq($sm) {
            padding: 10px;
            margin-bottom: 0;
        }
    }
    .image {
        padding: 15px 12px;
        width: 150px;
        display: table-cell;
        vertical-align: middle;
        background-color: map-get($grey, body);
        transition: all 0.25s ease;
        img {
            display: block;
            max-height: 70px;
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            transition: all 0.5s ease;
        }
        &:hover {
            background-color: rgba($color: $label-rent-form, $alpha: 0.35);
            img {
                transform: translateX(-2px);
            }
        }
        @include mq($lg) {
            width: 120px;
            padding: 12px 10px;
            img {
                max-height: 56px;
            }
        }
        @include mq($md) {
            width: 88px;
            padding: 10px;
            img {
                max-height: 40px;
            }
        }
        @include mq($sm) {
            width: 120px;
            padding: 12px 10px;
            img {
                max-height: 56px;
            }
        }
        @include mq($xsr) {
            width: 108px;
            padding: 10px;
            img {
                max-height: 48px;
            }
        }
    }
    .description {
        display: table-cell;
        vertical-align: middle;
        padding: 5px 10px;
        @include mq($md) {
            padding: 4px 8px;
        }
    }
    .label {
        font-size: 1.2rem;
        margin-bottom: 4px;
        color: map-get($grey, light);
        @include mq($lg) {
            font-size: 1.15rem;
        }
        @include mq($md) {
            font-size: 1.05rem;
        }
        @include mq($sm) {
            font-size: 1.2rem;
        }
        @include mq($xsr) {
            font-size: 1.15rem;
        }
    }
    .name {
        margin-bottom: 4px;
        a {
            color: map-get($grey, darkest);
            text-decoration: none;
            transition: color 0.25s ease;
            &:hover {
                color: $secondary;
            }
        }
        @include mq($lg) {
            font-size: 1.65rem;
        }
        @include mq($md) {
            font-size: 1.45rem;
        }
        @include mq($sm) {
            font-size: 1.8rem;
        }
        @include mq($xsr) {
            font-size: 1.65rem;
        }
    }
    .services-type {
        font-size: 1.4rem;
        @include mq($lg) {
            font-size: 1.3rem;
        }
        @include mq($md) {
            font-size: 1.2rem;
        }
        @include mq($sm) {
            font-size: 1.4rem;
        }
        @include mq($xsr) {
            font-size: 1.3rem;
        }
    }
}
