@import '../../styles/helpers/index';

.m-order-steps {
    padding: 1.4rem 0;
    background-color: map-get($map: $primary-alt, $key: extremely-darkest);
    text-align: center;
    @include mq($sm) {
        .container{
            padding: 0;
        }
        .steps-wrapper{
            padding: 0 20px;
            white-space: nowrap;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            overflow-y: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                display: none;
                width: 0;
            }
        }
    }
    @include mq($xsr) {
        .steps-wrapper{
            padding: 0 8px;
        }
    }
    .item {
        min-width: 120px;
        margin-right: 100px;
        display: inline-block;
        color: rgba($color: $white, $alpha: 0.5);
        position: relative;
        padding-top: 22px;
        font-size: 1.2rem;
        @include mq($lg) {
            font-size: 1.15rem;
            min-width: 100px;
            margin-right: 80px;
        }
        @include mq($md) {
            font-size: 1.1rem;
            min-width: 80px;
            margin-right: 64px;
        }
        @include mq($sm) {
            font-size: 1.2rem;
            margin-right: 32px;
        }
        @include mq($xsr) {
            font-size: 1.1rem;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
        }
        &:before {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            left: 50%;
            top: 0;
            background-color: $step-order;
            margin-left: -7px;
            z-index: 2;
            @include mq($lg) {
                width: 12px;
                height: 12px;
            }
            @include mq($sm) {
                width: 14px;
                height: 14px;
            }
            @include mq($xsr) {
                width: 12px;
                height: 12px;
            }
        }
        &:after {
            height: 4px;
            top: 5px;
            left: 50%;
            right: -135%;
            z-index: 1;
            background-color: $step-order;
            @include mq($lg) {
                height: 3px;
            }
            @include mq($sm) {
                right: -78px;
                height: 4px;
            }
            @include mq($xsr) {
                height: 3px;
                right: -76px;
            }
        }
        &:last-child {
            margin-right: 0;
            &:after {
                display: none;
            }
        }
    }
    .done,
    .current {
        color: $white;
        &:before {
            background-color: $secondary;
        }
    }
    .done:after {
        background-color: $secondary;
    }
}