@import '../../styles/helpers/index';

.m-main-slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: $black;
    transition-delay: 1.25s;
    &.hide{
        background-color: $white;
        transition: background-color .1s ease;
        .item{
            opacity: 0;
            transform: scale(1.02);
        }
    }
    .item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        opacity: 1;
        transition: opacity .75s ease, transform .75s ease;
        transform: scale(1);
        transition-delay: .3s;
        &.active {
            z-index: 2;
            .caption {
                opacity: 1;
                transform: translateY(-50%) translateX(0);
                transition-delay: 0.9s;
                @include mq($sm) {
                    transform: translateY(0) translateX(0);
                }
            }
            .image {
                opacity: 1;
                transform: scale(1.1) translateX(0);
                transition-delay: 0.15s;
            }
            ~ .item {
                .caption {
                    transform: translateY(-50%) translateX(16px);
                    transition-delay: 0.35s;
                    @include mq($sm) {
                        transform: translateY(0) translateX(16px);
                    }
                }
                .image {
                    transform: scale(1.1) translateX(32px);
                    transition-delay: 0s;
                }
            }
        }
    }
    .container {
        height: 100%;
    }
    .caption {
        position: absolute;
        top: 50%;
        z-index: 2;
        width: 510px;
        color: $white;
        transform: translateY(-50%) translateX(-16px);
        opacity: 0;
        transition: all 0.75s ease;
        transition-delay: 0.35s;
        h1 {
            line-height: 1.2;
            margin: 0;
            text-shadow: 0 2px 10px rgba($black, 0.3);
        }
        @include mq($md) {
            width: 460px;
        }
        @include mq($sm) {
            width: auto;
            max-width: 320px;
            top: auto;
            bottom: 168px;
            transform: translateY(0) translateX(-16px);
            h1 {
                font-size: 2.4rem;
            }
        }
    }
    .image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: all 1.25s ease;
        transform: scale(1.1) translateX(-32px);
        transition-delay: 0s;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 40%;
            z-index: 2;
            background-image: linear-gradient(
                0deg,
                $black 0%,
                #040404 18%,
                rgba(20, 20, 20, 0) 100%
                );
            @include mq($sm) {
                height: 50%;
                background-image: linear-gradient(
                    0deg,
                    #000000 0%,
                    #040404 50%,
                    rgba(20, 20, 20, 0) 100%
                    );
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            &.desktop {
                display: block;
            }
            &.mobile {
                display: none;
            }
            @include mq($sm) {
                &.desktop {
                    display: none;
                }
                &.mobile {
                    display: block;
                }
            }
        }
    }
}
