@import '../../styles/helpers/index';

.o-total-payment-mobile{
    display: none;
    @include mq($sm) {
        display: block;
        position: fixed;
        z-index: 9;
        bottom: 0;
        width: 100%;
        display: table;
        table-layout: fixed;
        background-color: $white;
        box-shadow: 0 -2px 10px rgba($black, .1);
        transition: all .35s ease;
        opacity: 1;
        transform: translateY(0);
        transition-delay: .3s;
        &.hide{
            opacity: 0;
            transform: translateY(100%);
            transition-delay: 0s;
        }
        .summary-total{
            display: table-cell;
            vertical-align: middle;
            padding: 1.2rem .8rem 1.2rem 2rem;
        }
        .total-payment-label{
            font-size: 1.4rem;
            line-height: 1.5;
            font-weight: map-get($fw, bold);
            color: map-get($grey, light);
        }
        .total-payment-ammount{
            & > span {
                font-size: 1.8rem;
                font-weight: map-get($fw, bold);
            }
            span.price-per{
                font-size: 1.2rem;
                font-weight: map-get($fw, normal);
                color: map-get($grey, light);
            }
        }
        .summary-button{
            width: 40%;
            display: table-cell;
            vertical-align: bottom;
            text-align: right;
            padding: 1.2rem 2rem 1.6rem .8rem;
        }
        .button-detail{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: map-get($fw, bold);
            position: relative;
            padding-right: 2rem;
            cursor: pointer;
            &:after{
                position: absolute;
                top: 2px;
                right: 0;
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid map-get($grey, darkest);
            }
        }
    }
}