@import '../../styles/helpers/index';

.p-home {
    width: 100%;
    height: 100%;
    // Rent Form
    .rent-form-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 140px;
        z-index: 6;
        transition: all .35s ease;
        transition-delay: .75s;
        opacity: 1;
        transform: translateY(0);
        &.hide{
            opacity: 0;
            transform: translateY(4px);
        }
        .container {
            height: 100%;
            padding: 0;
            transition: max-width .25s ease;
            transition-delay: .35s;
        }
        &.opened {
            z-index: 11;
            transition: none;
            transition-delay: 0s;
            .container {
                max-width: 1440px;
                transition-delay: 0s;
            }
        }
        @include mq($lg) {
            height: 120px;
        }
        @include mq($md) {
            height: 100px;
        }
        @include mq($sm) {
            position: fixed;
            height: 100%;
            top: 0;
            opacity: 0;
            transform: translateY(100%);
            transition-delay: 0s;
            transition: all .45s ease;
            background-color: map-get($map: $primary-alt, $key: extremely-darkest);
            &.opened {
                z-index: 13;
            }
            &.hide{
                transform: translateY(100%);
            }
        }
    }
    // Deals
    .deals-section {
        .m-list-deal {
            margin-bottom: 3.2rem;
            @include mq($lg) {
                margin-bottom: 2.8rem;
            }
            @include mq($md) {
                margin-bottom: 2.4rem;
            }
        }
    }
    // Car Info
    .card-info-section {
        @include mq($sm) {
            background-color: map-get($map: $grey, $key: extremely-lightest);
            .content.flex {
                display: block;
                padding-bottom: 2.4rem;
            }
            .m-card-info {
                display: block;
            }
        }
        @include mq($xsr) {
            .content.flex {
                padding-bottom: 2rem;
            }
        }
    }
    // Pick Your Style
    .pick-your-style-section {
        padding-bottom: 0;
        .content {
            padding-top: 2.4rem;
            @include mq($md) {
                padding-top: 2rem;
            }
        }
        @include mq($sm) {
            padding-bottom: 4.8rem;
        }
        @include mq($xsr) {
            padding-bottom: 4rem;
        }
    }
    // Blog
    .blog-section {
        padding-bottom: 0;
        @include mq($sm) {
            padding-bottom: 4rem;
            background-color: map-get($map: $grey, $key: extremely-lightest);
        }
        @include mq($xsr) {
            padding-bottom: 3.2rem;
        }
    }
    .blog-list {
        margin-top: 2.4rem;
        margin-left: -1rem;
        margin-right: -1rem;
        @include cf;
        .wrapper-button {
            margin-top: 5rem;
        }
        @include mq($lg) {
            margin-top: 2rem;
            .wrapper-button {
                margin-top: 4rem;
            }
        }
        @include mq($md) {
            margin-top: 1.6rem;
            margin-left: -0.6rem;
            margin-right: -0.6rem;
            .wrapper-button {
                margin-top: 3.2rem;
            }
        }
        @include mq($sm) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 1.2rem;
            .wrapper-button {
                margin-top: 1.2rem;
            }
        }
        @include mq($xsr) {
            margin-top: 0.8rem;
            .wrapper-button {
                margin-top: 0.8rem;
            }
        }
    }
    .blog-list-row {
        padding: 0 0 1.5rem;
        @include cf;
        &:nth-child(2) {
            padding: 1.5rem 0 8rem;
            background-color: map-get($map: $grey, $key: extremely-lightest);
        }
        @include mq($md) {
            padding: 0 0 1.2rem;
            &:nth-child(2) {
                padding: 1.2rem 0 5.6rem;
            }
        }
        @include mq($sm) {
            padding: 0;
            &:nth-child(2) {
                padding: 0;
                background-color: transparent;
            }
        }
    }
    // User Testimonial
    .user-testimonial-section {
        padding: 8rem 0;
        @include mq($lg) {
            padding: 7.2rem 0;
        }
        @include mq($md) {
            padding: 5.6rem 0;
        }
        @include mq($sm) {
            padding: 4.8rem 0;
        }
        @include mq($xsr) {
            padding: 4rem 0;
        }
    }
    // Product Service
    .product-service-section {
        @include mq($sm) {
            padding-top: 2rem;
            padding-bottom: 6rem;
        }
        @include mq($xsr) {
            padding-top: 1.6rem;
            padding-bottom: 4.8rem;
        }
    }
}

// Main Slider
.main-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 720px;
    // overflow: hidden;
    opacity: 1;
    @include mq($sm) {
        min-height: 375px;
        max-height: 816px;
        transition: height .45s ease;
    }
    .container {
        padding: 0 10rem;
        @include mq($lg) {
            padding: 0 8rem;
        }
        @include mq($md) {
            padding: 0 4.8rem;
        }
        @include mq($sm) {
            padding: 0 2.4rem;
        }
        @include mq($xsr) {
            padding: 0 2rem;
        }
    }
    .rental-navigation {
        position: absolute;
        bottom: 26%;
        z-index: 5;
        width: 100%;
        opacity: 1;
        transform: translateY(0);
        transition: all .35s ease;
        transition-delay: .6s;
        &.hide{
            opacity: 0;
            transform: translateY(4px);
        }
        .rental-booking-title,
        .rental-navigation-close {
            display: none;
        }
        @include mq($sm) {
            top: 0;
            bottom: auto;
            z-index: 7;
            height: 100%;
            opacity: 1;
            transform: translateY(calc(100% - 131px));
            transition: transform .35s ease;
            transition-delay: .1s;
            &.hide{
                transform: translateY(calc(100% - 115px));
            }
            .mouse-scroll {
                max-height: 40px;
                opacity: 1;
                transition: all .15s ease;
            }
            .container {
                padding: 0;
            }
            &.show {
                position: fixed;
                z-index: 12;
                top: 0;
                height: 121px;
                transform: translateY(0);
                transition: all .45s ease;
                .mouse-scroll {
                    max-height: 0;
                    overflow: hidden;
                    opacity: 0;
                    margin-bottom: 0;
                }
                .rental-booking-title,
                .rental-navigation-close {
                    display: block;
                }
                .rental-booking-title {
                    color: $white;
                    padding: 1.2rem 2.4rem;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    font-weight: map-get($fw, bold);
                    text-align: center;
                    background-color: $rent-navigation;
                }
                .rental-navigation-close {
                    position: absolute;
                    top: 5px;
                    right: 8px;
                    width: 32px;
                    height: 32px;
                    text-indent: -99999px;
                    background: url(../../assets/images/icons/close.svg) no-repeat center center / 16px auto;
                }
                .rental-navigation-button {
                    border-color: rgba($white,.45);
                }
                .rental-navigation-button .a-btn {
                    background-color: $rent-navigation;
                    border-color: rgba($white,.45);
                    &.active {
                        background-color: $secondary;
                        border-color: transparent;
                        +.a-btn {
                            border-color: transparent;
                        }
                    }
                }
                // Rent Form
                +.rent-form-wrapper {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
    .mouse-scroll {
        position: relative;
        padding-left: 3.2rem;
        font-size: 1.4rem;
        color: $white;
        font-weight: map-get($fw, bold);
        margin-bottom: 2.8rem;
        @include mq($sm) {
            margin-left: 2.4rem;
            margin-bottom: 4rem;
        }
        @include mq($xsr) {
            margin-left: 2rem;
        }
    }
    .mouse-icon {
        display: block;
        width: 16px;
        height: 21px;
        border: solid 1px $secondary;
        border-radius: 6px;
        position: absolute;
        top: -2px;
        left: 0;
        &:before {
            content: '';
            width: 1px;
            height: 6px;
            position: absolute;
            left: 50%;
            margin-left: -1px;
            background-color: $secondary;
            animation: mouseScroll 1s infinite;
            transform: translateY(2px);
        }
    }
    .rental-navigation-button {
        margin-left: -1rem;
        margin-right: -1rem;
        .a-btn {
            margin: 0 1rem;
        }
        @include mq($sm) {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            display: table;
            border: 0;
            border-collapse: collapse;
            border-top: solid 1px rgba($color: $white, $alpha: 0.25);
            .a-btn {
                margin: 0;
                min-width: initial;
                width: 33.33%;
                display: table-cell;
                border-radius: 0;
                border: 0;
                padding: 4.8rem 1.6rem 1.4rem;
                background-position: center 14px;
                font-size: 1.2rem;
                border-left: solid 1px rgba($color: $white, $alpha: 0.25);
                transition: none;
                &.car-rental,
                &.bus-rental {
                    background-position: center 20px;
                }
                &.car-rental {
                    border-left: 0;
                }
                &.active {
                    background-color: transparent;
                }
            }
        }
        @include mq($xsr) {
            .a-btn {
                padding: 4.8rem 1.2rem 1.4rem;
                font-size: 1.1rem;
            }
        }
    }
}

// Pick Your Style
.pick-your-style {
    padding: 0 12rem;
    margin-bottom: 4rem;
    @include mq($lg) {
        padding: 0 15rem;
    }
    @include mq($md) {
        padding: 0 8.8rem;
        margin-bottom: 3.2rem;
    }
    @include mq($sm) {
        padding: 0;
        margin-bottom: 2.8rem;
    }
    @include mq($xsr) {
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: 2.4rem;
    }
    .slick-track {
        // transition-timing-function: ease-out !important;
    }
    .slick-list {
        overflow: visible;
    }
    .slick-slide {
        width: 100%;
        position: relative;
        padding-bottom: 4rem;
        a {
            display: block;
            text-align: center;
        }
        img {
            width: 100%;
            transition: all 0.3s ease;
            &:hover {
                opacity: 0.9;
                transform: translateY(-2px);
            }
        }
    }
    .slick-active {
        .categories-car {
            span {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 2.55s;
            }
            h4:before,
            h4:after {
                transform: scaleX(1);
                transition-delay: 2.3s;
            }
        }
    }
    .categories-car {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        h4 {
            display: inline-block;
            text-transform: uppercase;
            position: relative;
            margin: 0;
            &:before,
            &:after {
                content: '';
                display: block;
                width: 180px;
                height: 2px;
                position: absolute;
                top: 8px;
                transition: all 0.15s ease;
                transform: scaleX(0);
                transition-delay: 0s;
                @include mq($lg) {
                    width: 160px;
                }
                @include mq($md) {
                    width: 120px;
                }
                @include mq($sm) {
                    width: 80px;
                }
                @include mq($xsr) {
                    width: 60px;
                }
            }
            &:before {
                left: -200px;
                background-image: linear-gradient(90deg, #ffffff 0%, #d8d8d8 100%);
                @include mq($lg) {
                    left: -180px;
                }
                @include mq($md) {
                    left: -140px;
                }
                @include mq($sm) {
                    left: -94px;
                }
                @include mq($xsr) {
                    left: -74px;
                }
            }
            &:after {
                right: -200px;
                background-image: linear-gradient(-90deg, #ffffff 0%, #d8d8d8 100%);
                @include mq($lg) {
                    right: -180px;
                }
                @include mq($md) {
                    right: -140px;
                }
                @include mq($sm) {
                    right: -94px;
                }
                @include mq($xsr) {
                    right: -74px;
                }
            }
            span {
                display: inline-block;
                opacity: 0;
                transform: translateY(2px);
                transition: all 0.2s ease;
                transition-delay: 0s;
            }
        }
    }
}

// User testimonial
.user-testimonial {
    padding: 0 10rem;
    @include cf;
    @include mq($lg) {
        padding: 0 7.2rem;
    }
    @include mq($md) {
        padding: 0 2rem;
    }
    @include mq($sm) {
        padding: 0;
    }
    .title {
        margin-bottom: 3.2rem;
        color: map-get($map: $grey, $key: darkest);
        @include mq($lg) {
            margin-bottom: 2.4rem;
        }
        @include mq($md) {
            margin-bottom: 2rem;
        }
        @include mq($sm) {
            margin-bottom: 2.4rem;
        }
        @include mq($xsr) {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
    .user-testimonial-col {
        float: left;
        width: 50%;
        &:first-child {
            padding-right: 3.2rem;
        }
        @include mq($sm) {
            width: 100%;
            float: none;
            &:first-child {
                margin-bottom: 2.4rem;
            }
        }
        @include mq($xsr) {
            &:first-child {
                margin-bottom: 2rem;
            }
        }
    }
    .user-testimonial-avatar-lists {
        @include cf;
        margin-bottom: 3.6rem;
        @include mq($lg) {
            margin-bottom: 3rem;
        }
        @include mq($md) {
            margin-bottom: 2.4rem;
        }
    }
    .avatar-item {
        float: left;
        width: 53px;
        height: 53px;
        border: solid 3px transparent;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        transition: border-color 0.3s ease;
        margin-right: 1.6rem;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.active {
            border-color: $primary;
        }
        &:not(.active):hover {
            border-color: $secondary;
        }
        @include mq($lg) {
            width: 48px;
            height: 48px;
            border: solid 2px transparent;
            margin-right: 1rem;
        }
        @include mq($md) {
            width: 40px;
            height: 40px;
            margin-right: 0.8rem;
        }
        @include mq($sm) {
            width: 52px;
            height: 52px;
            margin-right: 1rem;
        }
        @include mq($xsr) {
            width: 45px;
            height: 45px;
            margin-right: 0.5rem;
        }
    }
    .user-testimonial-description-lists {
        position: relative;
        .description-item {
            display: none;
            &.active {
                display: block;
                opacity: 0;
                transform: translateY(-8px);
                animation: .35s ease .1s normal forwards 1 showTestimonial;
            }
            &.hide {
                opacity: 1;
                transform: translateY(0);
                transform-origin: center center;
                animation: .35s ease 0s normal forwards 1 hideTestimonial;
            }
        }
    }
    .name-occupation {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: map-get($map: $fw, $key: bold);
        color: map-get($map: $grey, $key: light);
        .name {
            color: map-get($map: $grey, $key: darkest);
        }
        @include mq($lg) {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
        }
        @include mq($md) {
            font-size: 1.4rem;
        }
        @include mq($sm) {
            font-size: 1.6rem;
        }
        @include mq($xsr) {
            font-size: 1.4rem;
            margin-bottom: 1.2rem;
        }
    }
    .testimony-description {
        font-size: 2rem;
        line-height: 1.5;
        color: map-get($map: $grey, $key: light);
        @include mq($lg) {
            font-size: 1.8rem;
            line-height: 1.35;
        }
        @include mq($md) {
            font-size: 1.6rem;
        }
        @include mq($sm) {
            font-size: 1.8rem;
        }
        @include mq($xsr) {
            font-size: 1.6rem;
        }
    }
    .user-testimonial-image-list {
        position: relative;
        width: 100%;
        .image-item {
            display: none;
            &.active {
                display: block;
                opacity: 0;
                transform: translateY(-8px);
                animation: .35s ease .2s normal forwards 1 showTestimonial;
            }
            &.hide {
                opacity: 1;
                transform: translateY(0);
                transform-origin: center center;
                animation: .35s ease .1s normal forwards 1 hideTestimonial;
            }
        }
        .box {
            position: relative;
            padding-bottom: 63%;
            border-radius: 5px;
            overflow: hidden;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Product & Services
.product-service {
    overflow: hidden;
    .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        @include mq($sm) {
            display: block;
        }
    }
    .image {
        width: 60%;
        margin-right: -10%;
        img {
            display: block;
        }
        @include mq($sm) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 2.4rem;
        }
        @include mq($xsr) {
            margin-bottom: 2rem;
        }
    }
    .caption {
        width: 50%;
        padding-right: 3.2rem;
        @include mq($md) {
            padding-right: 2.4rem;
        }
        @include mq($sm) {
            width: 100%;
            padding-right: 0;
        }
    }
    h2 {
        margin-bottom: 2.4rem;
        @include mq($md) {
            margin-bottom: 1.6rem;
        }
        @include mq($sm) {
            margin-bottom: 2rem;
        }
        @include mq($xsr) {
            margin-bottom: 1.6rem;
        }
    }
    p {
        color: map-get($map: $grey, $key: light);
        margin-bottom: 2.4rem;
        @include mq($md) {
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }
        @include mq($sm) {
            font-size: 1.6rem;
            margin-bottom: 2.4rem;
        }
        @include mq($xsr) {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
}

// Download App
.download-app {
    padding: 2rem 0;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: $primary;
    @include mq($sm) {
        position: relative;
        background-image: none !important;
        padding: 4.8rem 0 104%;
        .container {
            z-index: 2;
        }
    }
    @include mq($xsr) {
        padding-top: 4rem;
        padding-bottom: 110%;
    }
    .image-mobile {
        display: none;
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        @include mq($sm) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    .caption {
        float: right;
        width: 50%;
        padding: 9rem 16rem 9rem 0;
        color: $white;
        @include mq($lg) {
            padding: 5.6rem 6rem 5.6rem 0;
        }
        @include mq($md) {
            padding: 4rem 2rem 4rem 0;
        }
        @include mq($sm) {
            float: none;
            width: 100%;
            padding: 0;
        }
    }
    h2 {
        line-height: 1.5;
        margin-bottom: 2rem;
        @include mq($lg) {
            margin-bottom: 1.6rem;
        }
    }
    .text {
        margin-bottom: 3.2rem;
        @include mq($lg) {
            margin-bottom: 2.8rem;
        }
        @include mq($xsr) {
            margin-bottom: 2.4rem;
        }
    }
    ul {
        list-style: disc;
        margin-bottom: 0;
    }
    li {
        padding-left: 0;
        line-height: 29/16;
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .apps-links {
        @include cf;
        .item {
            display: block;
            text-indent: -99999px;
            width: 110px;
            height: 38px;
            float: left;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 1.2rem;
            transition: all 0.3s ease;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                transform: translateY(-2px);
            }
            @include mq($md) {
                width: 92px;
                height: 32px;
                margin-right: 1rem;
            }
            @include mq($sm) {
                width: 110px;
                height: 38px;
                margin-right: 1.2rem;
            }
            @include mq($xsr) {
                width: 98px;
                height: 34px;
                margin-right: 1rem;
            }
        }
        .apps-store {
            background-image: url(../../assets/images/logo/apps-store.png);
        }
        .google-play {
            background-image: url(../../assets/images/logo/google-play.png);
        }
    }
}

@keyframes mouseScroll {
    0% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(4px);
    }
}

@keyframes showTestimonial {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes hideTestimonial {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(8px);
    }
}