@import '../../styles/helpers/index';

.personal-detail {
    .form-row {
        width: 100%;
        margin-bottom: 4rem;
        &:last-child {
            margin-bottom: 0;
        }
        @include mq($lg) {
            margin-bottom: 3.2rem;
        }
    }
    .btn-continue {
        margin-top: 4.2rem;
    }
}    