@import '../../styles/helpers/index';
$base-duration: 0.25s;

$primary: slategray;
$accent: tomato;
$white: whitesmoke;
$green: #2ecc71;
$red: #e74c3c;

// $sm: 20rem;
// $med: 48rem;
// $lg: 64rem;

.a-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0vh;
  background-color: transparent;
  overflow: hidden;
  transition: background-color $base-duration ease;
  z-index: 9999;

  &.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color $base-duration;

    &>.content-wrapper {
      transform: scale(1.0);
    }
  }

  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    padding: 2.5rem;
    background-color: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
    transform: scale(0.0);
    transition: transform $base-duration;
    transition-delay: 0.15s;

    &.large {
      width: 75%;
    }

    &.medium {
      width: 50%;

      @include mq($sm) {
        width: 90%;
      }
    }

    &.small {
      width: 30%;

      @include mq($sm) {
        width: 90%;
      }
    }

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      transition: $base-duration linear;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 2.25rem;
        height: 0.125rem;
        background-color: black;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }

      &:hover {
        transform: rotate(90deg);

        &::before,
        &::after {
          background-color: $accent;
        }
      }
    }

    .modal-header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0 0 1.25rem;

      &.left {
        justify-content: flex-start,
      }

      &.center {
        justify-content: center;
      }

      &.right {
        justify-content: flex-end;
      }
    }

    .modal-content {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-height: 400px;
      overflow: auto;

      &.left {
        justify-content: flex-start,
      }

      &.center {
        justify-content: center;
      }

      &.right {
        justify-content: flex-end;
      }
    }

    .modal-footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 0;
      padding: 1.875rem 0 0;

      button {
        min-width: 0;
      }

      &.center {
        justify-content: center;
      }

      &.right {
        justify-content: flex-end;
      }

      &.left {
        justify-content: flex-start;
      }

      .two-button {
        button {
          margin-right: 15px;
        }
      }
    }
  }

  &.success {
    h3 {
      color: #8A959E;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
