@import '../../styles/helpers/index';

.m-sidebar-payment-detail {
    background-color: $white;
    .payment-detail-title {
        padding: 2rem;
        font-size: 1.2rem;
        font-weight: map-get($fw, bold);
        text-transform: uppercase;
        @include mq($lg) {
            padding: 1.6rem;
            font-size: 1.15rem;
        }
        @include mq($md) {
            padding: 1.4rem;
            font-size: 1.1rem;
        }
        @include mq($sm) {
            padding: 2rem;
            font-size: 1.2rem;
        }
        @include mq($xsr) {
            font-size: 1.15rem;
        }
    }
    .row {
        margin: 0;
        display: table;
        width: 100%;
        vertical-align: middle;
        .col {
            display: table-cell;
        }
    }
    .payment-detail-content {
        padding: 0 2rem;
        .item {
            padding: 1.6rem 0;
            border-bottom: solid 1px $line-thin;
        }
        .label {
            font-size: 1.2rem;
            margin-bottom: 8px;
            font-weight: map-get($fw, bold);
            text-transform: uppercase;
        }
        .description {
            font-size: 1.4rem;
            line-height: 1.65;
            .col {
                &:last-child {
                    width: 100px;
                    text-align: right;
                    font-weight: map-get($fw, bold);
                }
            }
        }
        @include mq($lg) {
            padding: 0 1.6rem;
            .item {
                padding: 1.4rem 0;
            }
            .label {
                font-size: 1.1rem;
                margin-bottom: 6px;
            }
            .description {
                font-size: 1.3rem;
                line-height: 1.5;
            }
        }
        @include mq($md) {
            padding: 0 1.4rem;
            .item {
                padding: 1.2rem 0;
            }
            .label {
                font-size: 1rem;
                margin-bottom: 4px;
            }
            .description {
                font-size: 1.2rem;
            }
        }
        @include mq($sm) {
            padding: 0 2rem;
            .item {
                padding: 1.6rem 0;
            }
            .label {
                font-size: 1.2rem;
                margin-bottom: 8px;
            }
            .description {
                font-size: 1.4rem;
            }
        }
        @include mq($xsr) {
            .item {
                padding: 1.4rem 0;
            }
            .label {
                font-size: 1.1rem;
                margin-bottom: 6px;
            }
            .description {
                font-size: 1.3rem;
                line-height: 1.5;
            }
        }
    }
    .payment-detail-total {
        padding: 2rem;
        .row {
            font-weight: map-get($fw, bold);
            margin-bottom: 1.2rem;
            font-size: 1.4rem;
        }
        .col:last-child {
            text-align: right;
            font-size: 1.8rem;
        }
        .a-btn {
            width: 100%;
        }
        @include mq($lg) {
            padding: 1.6rem;
            .row {
                font-size: 1.3rem;
            }
            .col:last-child {
                font-size: 1.7rem;
            }
        }
        @include mq($md) {
            padding: 1.4rem;
            .row {
                font-size: 1.2rem;
            }
            .col:last-child {
                font-size: 1.6rem;
            }
        }
        @include mq($sm) {
            padding: 2rem;
            .row {
                font-size: 1.4rem;
            }
            .col:last-child {
                font-size: 1.8rem;
            }
            .button {
                display: none;
            }
        }
        @include mq($xsr) {
            .row {
                font-size: 1.2rem;
            }
            .col:last-child {
                font-size: 1.6rem;
            }
        }
    }
    .price-before {
        position: relative;
        display: inline-block;
        margin-right: 1.6rem;
        font-size: 1.4rem;
        color: map-get($grey, darkest);
        @include mq($lg) {
            font-size: 1.3rem;
            margin-right: 1.4rem;
        }
        @include mq($sm) {
            font-size: 1.4rem;
            margin-right: 1.6rem;
        }
        @include mq($xsr) {
            font-size: 1.3rem;
            margin-right: 1.4rem;
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: -2px;
            right: -2px;
            border-bottom: solid 1px #dd0000;
            transform: translateY(-50%);
        }
    }
}
