@import '../../styles/helpers/index';

.o-toggle-input {
    label {
      width: 36px;
      height: 22px;
      display: block;
      border-radius: 11px;
      background-color: #e5e5ea;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 1px;
        background-color: $white;
        transition: all 0.25s ease-in-out;
      }
    }
    .input-checkbox {
      display: none;
      &:checked {
        + label {
          background-color: $secondary;
          &:after {
            transform: translateX(14px);
          }
        }
      }
    }
}