@import '../../styles/helpers/index';

body.style-guide {
  background-color: #f0f0f0;
  #root {
    padding-bottom: 0;
    padding-bottom: 5.6rem;
  }
}

.style-guide-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.6rem 2.4rem;
  background-color: $secondary;
  color: $white;
  z-index: 2;
  @include cf;
  .track-logo {
    height: 40px;
  }
  .right-section {
    float: right;
    margin: 0;
  }
  h4 {
    margin-bottom: 4px;
  }
  h5 {
    margin: 0;
    font-weight: map-get($fw, normal);
  }
}

.style-guide-navigation {
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10rem 2.4rem 2.4rem;
  z-index: 1;
  background-color: rgba(map-get($grey, light), 0.1);
  h4 {
    color: $primary;
    margin-bottom: 32px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    margin: 0 0 12px;
    padding: 0;
  }
  a {
    font-size: 1.4rem;
    text-decoration: none;
    color: map-get($grey, darkest);
  }
}

.style-guide-space-x {
  width: 4px;
  display: inline-block;
}

.style-guide-space-y {
  margin-bottom: 2.4rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.style-guide-content {
  padding: 0 2.4rem 2.4rem 28rem;
}

.style-guide-box {
  padding-top: 10rem;
  margin-bottom: -6.4rem;
  overflow: hidden;
  padding-bottom: 2.4rem;
  &-title {
    font-size: 2.4rem;
    padding: 0.8rem 0;
    color: $black;
    border-bottom: 1px solid $secondary;
  }
  &-content {
    padding: 2.4rem 0 0;
  }
}

.style-guide-box-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  & > * {
    padding-right: 12px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.style-guide-box-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  & > * {
    padding-bottom: 12px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.style-guide-space {
  > * {
    margin: 8px 4px;
  }
}
