@import '../../styles/helpers/index';

.t-auth {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    .left {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        .m-slideshow,
        .slick-slider,
        .slick-list,
        .slick-track,
        .slick-slide,
        .slick-slide > div{
            height: 100%;
        }
        @include mq($sm) {
            display: none;
        }
    }
    .right {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        width: 460px;
        padding: 48px 60px 72px;
        position: relative;
        @include mq($lg) {
            width: 360px;
            padding: 32px 32px 72px;
        }
        @include mq($md) {
            width: 340px;
            padding: 24px 24px 72px;
        }
        @include mq($sm) {
            display: block;
            width: 100%;
            padding: 20px 24px 48px;
        }
        @include mq($xsr) {
            display: block;
            width: 100%;
            padding: 20px 20px 48px;
        }
        .logo {
            display: block;
            width: 76px;
            height: 38px;
            margin-bottom: 30px;
            @include mq($sm) {
                display: none;
            }
        }
        .text {
            margin-bottom: 20px;
            & a {
                text-decoration: none;
            }
            @include mq($md) {
                p.a-text{
                    font-size: 1.55rem;
                }
            }
            @include mq($sm) {
                text-align: center;
                h2{
                    font-size: 3rem;
                    margin-bottom: 20px;
                }
                p.a-text{
                    font-size: 1.6rem;
                }
            }
            @include mq($xsr) {
                text-align: center;
                h2{
                    font-size: 2.8rem;
                    margin-bottom: 16px;
                }
                p.a-text{
                    font-size: 1.5rem;
                }
            }
        }
        h2{
            margin: 0 0 8px;
        }
        .a-trac-field {
            margin: 24px 0;
        }
        form>.a-btn {
            width: 100%;
        }
    }
    .auth-row{
        display: table;
        width: 100%;
        padding-top: 12px;
        margin-bottom: 24px;
        .auth-col{
            display: table-cell;
            vertical-align: middle;
            &:last-child{
                text-align: right;
            }
        }
        .a-trac-field {
            margin: 0;
        }
    }
    .forgot-password {
        text-decoration: none;
        font-size: 1.2rem;
        white-space: nowrap;
        color: map-get($grey, darkest);
        &:hover {
            color: $secondary;
        }
    }
    .social-auth {
        margin-top: 24px;
        text-align: center;
        .a-text{
            margin-bottom: 20px;
        }
        .social-icon {
            > a {
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                width: 32px;
                height: 32px;
                margin: 0 12px;
                border-radius: 50%;
                transition: all .3s ease;
                text-indent: -99999px;
                box-shadow: 0 2px 10px 0 rgba($black, .2);
                transition: all .25s ease;
                &:hover{
                    transform: translateY(-2px);
                    box-shadow: 0 2px 10px 0 rgba($black, .3);
                }
            }
            .facebook {
                background-color: $facebook;
                background-image: url(../../assets/images/icons/facebook.svg);
            }
            .google {
                background-image: url(../../assets/images/icons/google.svg);
            }
        }
    }
    .corporate-rent-account{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 50px;
        background-color: #e8e9ec;
        text-align: center;
        h4{
            margin: 0 0 12px;
        }
        p{
            margin: 0 0 24px;
        }
        .a-btn{
            width: 100%;
        }
        @include mq($lg) {
            padding: 20px 32px 32px;
            h4{
                margin-bottom: 8px;
            }
            p{
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
        }
        @include mq($md) {
            padding: 20px 24px 24px;
            h4{
                font-size: 1.8rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
        @include mq($sm) {
            position: static;
            width: auto;
            margin-top: 48px;
            margin-left: -24px;
            margin-right: -24px;
        }
        @include mq($xsr) {
            padding: 20px 20px 24px;
            margin-top: 40px;
            margin-left: -20px;
            margin-right: -20px;
            h4{
                font-size: 1.7rem;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
    &.is-corporate-login{
        .right {
            padding: 48px 60px 192px;;
            @include mq($lg) {
                padding: 32px 32px 192px;
            }
            @include mq($md) {
                padding: 24px 24px 192px;
            }
            @include mq($sm) {
                padding: 20px 24px 0;
            }
            @include mq($xsr) {
                padding: 20px 20px 0;
            }
        }
    }
}

// utility
#root.full-height {
    height: 100%;
    padding: 0;
    overflow: visible;
    @include mq($sm) {
        padding-top: 58px;
    }
}

.hide-content {
    display: none;
}
