.confirm-order-mobile {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: auto;
    .list-tnc {
        margin-top: 5px;
        margin: 0px;
        padding: 0px;
        p.list-title {
            position: relative;
            padding: 2.1rem 2rem;
            background: #0038A9;
            color: white;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
            &::after {
                content: '';
                height: 1.2rem;
                width: 0.6rem;
                background: url('../../assets/images/icons/ic-next-white.svg') no-repeat;
                background-size: contain;
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%)
            }
        }
        .content-list {
            max-height: 0px;
            overflow: hidden;
            transition: all 0.35s ease;
            &.show {
                max-height: 1200px;
                overflow: hidden;
                ol {
                    opacity: 0;
                    transform: translateY(-8px);
                    animation: .35s ease .1s normal forwards 1 showTestimonial;
                }
            }
            ol {
                li {
                    font-size: 16px;
                    font-weight: 500;
                    color: #8A959E;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .header {
        height: 44px;
        .icon-close {
            width: 16px;
            height: 16px;
            float: right;
            margin-right: 20px;
            margin-top: 14px;
        }
    }
}