@import '../../styles/helpers/index';

.o-header {
    height: 68px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background-image: linear-gradient(-180deg,$white 0%,rgba($white, 0.75) 46%,rgba($white, 0.15) 100%);
    background-color: transparent;
    transition: all 0.25s ease;
    opacity: 1;
    transform: translateY(0);
    &.hide{
        opacity: 0;
        transform: translateY(1px);
    }
    &.solid-background {
        background-color: $white;
    }
    &.scrolled {
        background-color: $white;
        box-shadow: 0 2px 10px rgba($black, 0.2);
    }
    &.show-popup-dashboard {
        z-index: inherit;
    }
    .trac-logo {
        width: 86px;
        height: 44px;
        display: block;
        margin: 1rem 0;
        text-indent: -99999px;
        background: url(../../assets/images/logo/trac-logo-color.svg) no-repeat center center / contain;
        float: left;
    }
    .header-right-login{
        position: absolute;
        right: 0;
        top: 0;
        height: 68px;
        display: table;
        @include mq($lg) {
            right: 20px;
        }
        @include mq($sm) {
            right: 16px;
            height: 58px;
        }
        @include mq($xsr) {
            right: 10px;
        }
        &.dashboard {
            right: 70px;
        }
    }
    .header-user{
        display: table-cell;
        // display: table;
        padding-right: 44px;
        position: relative;
        vertical-align: middle;
        .user-caption{
            padding: 24px 0;
            // padding: 0px 0;
            font-size: 1.4rem;
            color: map-get($grey, light);
        }
        .user-avatar{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 18px;
            &:hover {
                cursor: pointer;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include mq($sm) {
            .user-avatar{
                top: 14px;
            }
            .user-caption{
                padding: 16px 0;
                text-align: right;
            }
            .user-description{
                display: block;
                font-size: 1.2rem;
            }
            .user-name{
                display: block;
            }
        }
    }

    .user-menu {
            &.show {
                transform: scaleY(1);
                ul {
                    li {
                        opacity: 1;
                        transition: opacity 0.2s ease;
                        transition-delay: 0.38s;
                        &:nth-child(1){
                            transition-delay: 0.40s;
                        }
                        &:nth-child(2){
                            transition-delay: 0.47s;
                        }
                    }
                }
            }
            position: absolute;
            top: 67px;
            right: -21px;
            background: white;
            width: 266px;
            border-radius: 3px;
            box-sizing: border-box;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.52);
            transform: scaleY(0);
            transform-origin: top center;
            transition: all 0.37s ease;
            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                li {
                    padding-right: 10px;
                    padding-left: 19px;
                    opacity: 0;
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #2A2E36;
                        font-size: 14px;
                        font-weight: 700;
                        display: block;
                        padding-left: 9px;
                        padding-top: 20px;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #C3C8D3;
                        &::before {
                            content: '';
                            width: 18px;
                            height: 18px;
                            display: inline-block;
                            margin-right: 14px;
                            background: transparent;
                            vertical-align: middle;
                        }
                    }
                    &.profile {
                        a {
                            &::before {
                                background: url('../../assets/images/icons/ic-profile.svg') no-repeat;
                                background-size: 177%;
                                background-position: center;
                            }
                        }
                    }
                    &.logout {
                        a {
                            &::before {
                                background: url('../../assets/images/icons/ic-logout.svg') no-repeat;
                                background-size: 181%;
                                background-position: -7px -6px;
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        background: #f1f1f1;
                    }
                    &:nth-last-child(1){
                        a {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

    .header-user-home{
        // display: table-cell;
        display: table;
        padding-right: 44px;
        position: relative;
        vertical-align: middle;
        .user-caption-home{
            // padding: 24px 0;
            padding: 0px 0;
            font-size: 1.4rem;
            color: map-get($grey, light);
        }
        .user-avatar-home{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            right: 0;
            // top: 18px;
            top: -5px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include mq($sm) {
            .user-avatar-home{
                // top: 14px;
                top: 0px;
            }
            .user-caption-home{
                padding: 16px 0;
                text-align: right;
            }
            .user-description-home{
                display: block;
                font-size: 1.2rem;
            }
            .user-name-home{
                display: block;
            }
        }
    }
    .header-close{
        display: table-cell;
        vertical-align: middle;
        padding-left: 28px;
        .close-icon{
            display: block;
            text-indent: -99999px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            background: url(../../assets/images/icons/close-blue.svg) no-repeat center center;
            transition: all .25s ease;
            transform: rotate(0deg);
            transform-origin: center center;
            &:hover{
                transform: rotate(90deg);
            }
        }
        @include mq($lg) {
            padding-left: 24px;
        }
        @include mq($md) {
            padding-left: 16px;
        }
        @include mq($sm) {
            padding-left: 6px;
        }
        @include mq($xsr) {
            padding-left: 4px;
        }
    }
    @include mq($sm) {
        height: 58px;
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        .trac-logo {
            width: 73px;
            height: 36px;
            margin-left: 2rem;
        }
    }
    @include mq($xsr) {
        .trac-logo {
            margin-left: 1.6rem;
        }
    }
}

.header-right-section {
    float: right;
    font-size: 1.4rem;
    @include cf;
    a {
        text-decoration: none;
        color: $primary;
        transition: all 0.25s ease;
        &:hover {
            color: $secondary;
        }
    }
    .header-right-links {
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        margin-right: 7.2rem;
        float: left;
        @include mq($lg) {
            margin-right: 6.4rem;
        }
        @include mq($md) {
            margin-right: 4.8rem;
        }
        @include mq($sm) {
            margin-top: 2rem;
            margin-right: 3.2rem;
        }
        @include mq($xsr) {
            margin-right: 2.4rem;
        }
    }
    .link-item {
        float: left;
    }
    .language {
        float: left;
        position: relative;
        margin-right: 5.6rem;
        padding-right: 24px;
        cursor: pointer;
        @include mq($lg) {
            margin-right: 4.8rem;
        }
        @include mq($md) {
            margin-right: 3.2rem;
        }
        @include mq($sm) {
            display: none;
        }
        .text {
            color: $primary;
            transition: color 0.25s ease;
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                right: 0;
                top: 4px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 6px solid $primary;
                transition: border-color 0.25s ease;
            }
        }
        .dropdown {
            position: absolute;
            left: 0;
            padding: 8px 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.35s ease;
        }
        &:hover {
            .text {
                color: $secondary;
                &:after {
                    border-top-color: $secondary;
                }
            }
            .dropdown {
                opacity: 1;
                visibility: visible;
            }
            ul {
                opacity: 1;
                transform: translateY(0);
            }
            li {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.15s;
                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
            }
        }
        ul {
            list-style: none;
            background-color: $white;
            margin: 0;
            padding: 8px 20px;
            border-radius: 3px;
            border: solid 1px rgba(map-get($grey, darkest), 0.2);
            box-shadow: 0 2px 10px rgba($black, 0.2);
            opacity: 0;
            transform: translateY(8px);
            transition: all 0.35s ease;
        }
        li {
            margin: 0;
            padding: 0;
            border-bottom: solid 1px rgba(#c3c8d3, 0.5);
            opacity: 0;
            transform: translateY(4px);
            transition: all 0.2s ease;
            transition-delay: 0s;
            &:last-child {
                border-bottom: 0;
            }
        }
        a {
            position: relative;
            padding: 1.4rem 0 1.4rem 2.8rem;
            display: block;
            min-width: 124px;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: map-get($fw, bold);
            color: map-get($grey, light);
            transition: color 0.25s ease;
            &:hover,
            &.active {
                color: map-get($grey, darkest);
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-position: center center;
                border: solid 1px #e1e1e1;
                background-size: 18px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        &-en:before {
            background-image: url(../../assets/images/icons/en.svg);
        }
        &-id:before {
            background-image: url(../../assets/images/icons/id.svg);
        }
    }
    .btn-call-center {
        margin-right: 5.6rem;
        @include mq($lg) {
            margin-right: 4.8rem;
        }
        @include mq($md) {
            margin-right: 3.2rem;
        }
        @include mq($sm) {
            display: none;
        }
        span {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
        .badge {
            background-color: $secondary;
            color: $white;
            padding: 0.3rem 0.9rem;
            border-radius: 12px;
            line-height: 1.2;
        }
    }
    .notif-dashboard {
        width: 23px;
        height: 23px;
        background: url(../../assets/images/icons/ic-notif.svg) no-repeat center;
        background-size: contain;
        float: right;
        margin-right: 40px;
        &:hover {
            cursor: pointer;
        }
        .notif-menu{
            position: absolute;
            top: 67px;
            right: 0px;
            background: white;
            width: 378px;
            border-radius: 3px;
            box-sizing: border-box;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.52);
            transform: scaleY(0);
            transform-origin: top center;
            overflow: hidden;
            transition: all 0.35s ease;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                margin-bottom: 32px;
                li{
                    padding-right: 24px;
                    padding-left: 0;
                    opacity: 0;
                    border-bottom: 1px solid #C3C8D3;
                    margin-left: 20px;
                    margin-right: 24px;
                    padding-bottom: 16px;
                    a{
                        text-decoration: none;
                        color: #2A2E36;
                        font-size: 16px;
                        font-weight: bold;
                        position: absolute;
                        padding-left: 0px;
                        padding-top: 32px;
                        padding-bottom: 16px;
                        &::before {
                            content: '';
                            width: 18px;
                            height: 18px;
                            display: inline-block;
                            margin-right: 14px;
                            background: transparent;
                            vertical-align: middle;
                        }
                    }
                    p{
                        color:#8A959E;
                        position: relative;
                        padding-bottom: 16px;
                        margin-bottom: 36px;
                        top: 55px;
                        left: 70px;
                    }
                    &.menu1 {
                        a {
                            &::before {
                                background: url('../../assets/images/logo/menu-1.svg') no-repeat;
                                width: 56px;
                                height: 56px;
                                background-position: center;
                                vertical-align: top;
                            }
                        }
                    }
                    &.menu2 {
                        a {
                            &::before {
                                background: url('../../assets/images/logo/menu-2.svg') no-repeat;
                                width: 56px;
                                height: 56px;
                                background-position: center;
                                vertical-align: top;
                            }
                        }
                    }
                    &.menu3 {
                        a {
                            &::before {
                                background: url('../../assets/images/logo/menu-3.svg') no-repeat;
                                width: 56px;
                                height: 56px;
                                background-position: center;
                                vertical-align: top;
                            }
                        }
                    }
                    &.menu4 {
                        a {
                            &::before {
                                background: url('../../assets/images/logo/menu-1.svg') no-repeat;
                                width: 56px;
                                height: 56px;
                                background-position: center;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
            &.show {
                transform: scaleY(1);
                transform-origin: top center;
                transition: all 0.35s ease;
                ul {
                    li {
                        opacity: 1;
                        transition: all 0.35s ease;
                        transition-delay: 0.35s;
                        &:nth-child(1){
                            transition-delay: 0.35s;
                        }
                        &:nth-child(2){
                            transition-delay: 0.40s;
                        }
                        &:nth-child(3){
                            transition-delay: 0.45s;
                        }
                        &:nth-child(4){
                            transition-delay: 0.50s;
                        }
                        &:nth-child(5){
                            transition-delay: 0.55s;
                        }
                        &:nth-child(6){
                            transition-delay: 0.60s;
                        }
                    }
                }
            }
        }
    }
    .btn-login {
        position: relative;
        padding-left: 2.4rem;
        text-transform: uppercase;
        &:before,
        &:after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: -1px;
            transition: all 0.25s ease;
        }
        &:before {
            background: url(../../assets/images/icons/lock-blue.svg) no-repeat center;
            opacity: 1;
            transform: scale(1) rotateY(0deg);
        }
        &:after {
            opacity: 0;
            background: url(../../assets/images/icons/lock-orange.svg) no-repeat
            center;
            transform: scale(0.75) rotateY(180deg);
        }
        &:hover {
            &:before {
                opacity: 0;
                transform: scale(0.75) rotateY(180deg);
            }
            &:after {
                opacity: 1;
                transform: scale(1) rotateY(0deg);
            }
        }
    }
    .burger-menu {
        width: 40px;
        height: 40px;
        float: left;
        text-align: right;
        padding: 1rem;
        cursor: pointer;
        margin-top: 1.4rem;
        @include mq($sm) {
            width: 58px;
            height: 58px;
            margin-top: 0;
            padding: 1.8rem;
        }
        &-bar {
            width: 21px;
            height: 2px;
            background-color: transparent;
            display: block;
            border-radius: 2px;
            margin-bottom: 6px;
            position: relative;
            overflow: hidden;
            &:last-child {
                width: 15px;
                margin-left: 6px;
                margin-bottom: 0;
            }
            &:after,
            &:before {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                background-color: $primary;
                transition: all 0.15s ease;
            }
            &:after {
                transform: translateX(-200%);
            }
            &:before {
                transform: translateX(0);
            }
            &:nth-child(1):before {
                transition-delay: 0.5s;
            }
            &:nth-child(2):before {
                transition-delay: 0.4s;
            }
            &:nth-child(3):before {
                transition-delay: 0.3s;
            }
            &:nth-child(1):after {
                transition-delay: 0.3s;
            }
            &:nth-child(2):after {
                transition-delay: 0.2s;
            }
            &:nth-child(3):after {
                transition-delay: 0.1s;
            }
        }
        &:hover {
            .burger-menu-bar {
                &:after {
                    transform: translateX(0);
                }
                &:before {
                    transform: translateX(100%);
                }
                &:nth-child(1):before {
                    transition-delay: 0.1s;
                }
                &:nth-child(2):before {
                    transition-delay: 0.2s;
                }
                &:nth-child(3):before {
                    transition-delay: 0.3s;
                }
                &:nth-child(1):after {
                    transition-delay: 0.3s;
                }
                &:nth-child(2):after {
                    transition-delay: 0.4s;
                }
                &:nth-child(3):after {
                    transition-delay: 0.5s;
                }
            }
        }
    }
}
