@import '../../styles/helpers/index';

.contactus-form{
    .left-form {
        .disabled_form{
            background: white;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            top: -9px;
            opacity: 0.9;
        }
        width: 60%;
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
        margin-top: 80px;

        @include mq($sm) {
            width: 100%;
            display: block;
            padding-right: 0px;
        }

        .form-col {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            .a-trac-field{
                margin-bottom: 55px;
                textarea{
                    padding-bottom: 50px;
                }
            }
        }
        .a-btn{
            margin-top: 15px;
            margin-bottom: 130px;
            @include mq($sm) {
                margin-bottom: 30px;
            }
        }
        .left-form1 {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding-right: 15px;
            margin-top: 0px;
    
            @include mq($sm) {
                width: 100%;
                display: block;
                padding-right: 0px;
            }
    
            .form-col {
                width: 100%;
                padding-right: 0px;
                padding-left: 0px;
                .a-trac-field{
                    margin-bottom: 55px;
                    position: relative;
                    z-index: 3;
                    .select{
                        font-size: 1.6rem;
                        padding: 10px 0;
                        display: block;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #8a959e;
                        background: transparent;
                        outline: none; 
                        margin-top: -15px;
                        @include mq($sm) {
                            display: inline-block;
                        }
                        .selected{
                            cursor: pointer;
                            font-size: 12px;
                            font-weight: 700;
                            padding-right: 6.4rem;
                            padding-left: 0px;
                            color: #8A959E; 
                            .select-label{
                                text-transform: initial;
                                @include mq($sm) {
                                    display: block;
                                }
                            }
                        }   
                    }
                }
            }
        }
        .right-form1 {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding-right: 15px;
            margin-top: 0px;
    
            @include mq($sm) {
                width: 100%;
                display: block;
                padding-right: 0px;
            }
    
            .form-col {
                width: 100%;
                padding-right: 0px;
                padding-left: 0px;
                .a-trac-field{
                    .select{
                        .select-icon{
                            top:-5px;
                        }
                    }
                }
                .input-group {
                    &-col {
                        display: inline-block;
                        padding: 0;
                    }
        
                    .phone-number {
                        position: relative;
                        z-index: 2;
                        width: 72px;
                        padding-bottom: 0px;
                        // border-bottom: 1px solid map-get($grey, light);
                        margin-right: 10px;
        
                        .select-item {
                            min-width: 180px;
        
                            @include mq($sm) {
                                left: 0;
                                right: auto;
                            }
                        }
        
                        .select-label {
                            display: none;
                        }
        
                        .selected {
                            padding-right: 0;
                            font-size: 1.6rem;
                            font-weight: map-get($fw, normal);
        
                            &:after {
                                top: 2px;
                                right: 0;
                            }
                        }
        
                        &+.input-group-col {
                            width: calc(100% - 82px);
        
                            label {
                                transform: translateX(0) translateY(10px);
                            }
        
                            input {
        
                                &:valid,
                                &:focus {
                                    + {
                                        label {
                                            transform: translateX(-82px) translateY(-12px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right-form2 {
                        width: 100%;
                        display: inline-block;
                        vertical-align: top;
                        padding-right: 15px;
                        margin-top: 0px;
                
                        @include mq($sm) {
                            width: 100%;
                            display: block;
                            padding-right: 0px;
                        }
                
                        .form-col {
                            width: 100%;
                            padding-right: 0px;
                            padding-left: 0px;
                            .a-trac-field{
                                margin-bottom: 55px;
                                position: relative;
                                z-index: 3;
                                .select{
                                    font-size: 1.6rem;
                                    padding: 0;
                                    display: block;
                                    width: 100%;
                                    border: none;
                                    border-bottom: 1px solid #8a959e;
                                    background: transparent;
                                    outline: none; 
                                    margin-top: 0px;
                                    @include mq($sm) {
                                        display: inline-block;
                                    }
                                    .selected{
                                        cursor: pointer;
                                        font-size: 12px;
                                        font-weight: 700;
                                        padding-right: 6.4rem;
                                        padding-left: 0px;
                                        color: #8A959E; 
                                        margin-bottom: 10px;
                                        .select-label{
                                            text-transform: initial;
                                            @include mq($sm) {
                                                display: block;
                                            }
                                        }
                                    }   
                                }
                            }
                        }
                    }
                }
                .a-trac-field{
                    margin-bottom: 55px;
                    .select{
                        font-size: 1.6rem;
                        padding: 10px 0;
                        display: block;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #8a959e;
                        background: transparent;
                        outline: none; 
                        margin-top: -15px;
                        .selected{
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: 700;
                            padding-right: 6.4rem;
                            padding-left: 25px;
                            // color: #8A959E; 
                            .select-label{
                                text-transform: initial;
                            }
                        }   
                    }
                }
            }
        }
    }
    
    .right-form {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        padding-left: 15px;
        margin-top: 80px;

        @include mq($sm) {
            width: 100%;
            display: block;
            padding-left: 0px;
            margin-top: 43px;
        }

        .form-col {
            padding-right: 0px;
            .phone-customer{
                padding-left: 20px;
                border-bottom: 1px solid #8a959e;
                margin-left: 90px;
                margin-bottom: 27px;
                @include mq($sm) {
                    padding-left: 0;
                    margin-left: 0;
                }
                .phone-icon{
                    &::before{
                        content: '';
                        width: 50px;
                        height: 50px;
                        background-image: url(../../assets/images/logo/phone-call.svg);
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        margin-left: 0px;
                        margin-top: 0px;
                        display: block;
                        position: absolute;
                        @include mq($sm){
                            margin-left: 0px;
                            // display: none;
                        }
                    }
                    h4{
                        position: relative;
                        left: 50px;
                        margin-bottom: 10px;
                    }
                    p{
                        position: relative;
                        left: 50px; 
                    }
                }
                .contact-call{
                    padding-left: 50px;
                    margin-bottom: 37px;
                }
            }
            .contact-mail{
                padding-left: 20px;
                border-bottom: 1px solid #8a959e;
                margin-left: 90px;
                margin-bottom: 27px;
                @include mq($sm) {
                    padding-left: 0;
                    margin-left: 0;
                }
                .phone-mail{
                    &::before{
                        content: '';
                        width: 50px;
                        height: 50px;
                        background-image: url(../../assets/images/logo/message.svg);
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        margin-left: 0px;
                        margin-top: 0px;
                        display: block;
                        position: absolute;
                        @include mq($sm){
                            margin-left: 0px;
                            // display: none;
                        }
                    }
                    h4{
                        position: relative;
                        left: 50px;
                        margin-bottom: 10px;
                    }
                    p{
                        position: relative;
                        left: 50px; 
                    }
                }
                .mail-contact{
                    padding-left: 50px;
                    margin-bottom: 37px;
                }
                
            }
            .locate{
                padding-left: 20px;
                margin-left: 90px;
                margin-bottom: 27px;
                @include mq($sm) {
                    padding-left: 0;
                    margin-left: 0;
                }
                .locate-pin{
                    &::before{
                        content: '';
                        width: 50px;
                        height: 50px;
                        background-image: url(../../assets/images/logo/placeholder.svg);
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        margin-left: 0px;
                        margin-top: 0px;
                        display: block;
                        position: absolute;
                        @include mq($sm){
                            margin-left: 0px;
                            // display: none;
                        }
                    }
                    h4{
                        position: relative;
                        left: 50px;
                        margin-bottom: 10px;
                    }
                    a{
                        position: relative;
                        left: 50px; 
                    }
                }    
            }
        }
        
    }
    
}