.a-image {
  position: relative;
  display: inline-block;
  width: 60%;
  height: auto;

  &:hover {
    opacity: 0.8;
  }

  &.image-tiny {
    width: 20%;
  }

  &.image-small {
    width: 40%;
  }

  &.image-medium {
    width: 60%;
  }

  &.image-large {
    width: 80%;
  }

  &.image-big {
    width: 100%;
  }

  &.rounded {
    border-radius: 10px;
  }
}
