@import "../../../styles/helpers/index";

.dashboard {
  &-content {
    .content {
      &:after {
        clear: both;
        display: block;
        content: '';
      }

      .booking-header-detail {
        @include mq($sm) {
          flex-wrap: wrap;
        }

        .detail-item {
          @include mq($sm) {
            height: 68px;
            border-bottom: 1px solid rgba(42, 46, 54, 0.12);

            &.update-order {
              @include mq($sm) {
                min-width: 50%;
              }
            }

            &.back {
              @include mq($sm) {
                min-width: 5%;
              }
            }

            &.booking-number {
              @include mq($sm) {
                min-width: 45%;
              }
            }

            &.car-total {
              @include mq($sm) {
                min-width: 40%;
              }
            }
          }

          .detail-item-back {
            @include mq($sm) {
              line-height: 0;
              font-size: 0;
              color: transparent;
              min-width: 20px;
            }
          }
        }
      }

      .left-content,
      .right-content {
        float: left;
      }

      .left-content {
        width: 60%;

        @include mq($sm) {
          width: 100%;
        }
      }

      .right-content {
        width: 40%;

        @include mq($sm) {
          width: 100%;
        }
      }
    }
  }
}


.booking {
  &-header {
    &-detail {
      display: flex;
      flex: 0 0 100%;
      border-bottom: 1px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
      align-items: center;

      .detail-item {
        flex: 1;
        height: 85px;
        padding: 0 20px;
        border-right: 1px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        sup {
          line-height: 1;
          color: map-get($grey, dark);
        }

        h3 {
          margin: 0;
          font-size: 16px;
        }

        &:last-child {
          border-right: 0;
        }

        a {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 12px;
          color: map-get($grey, darkest);
        }

        &-back {
          min-width: 210px;

          img {
            padding-right: 10px;
          }
        }

        &-button {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            padding-right: 10px;
          }
        }
      }
    }
  }

  &-detail-content {
    display: flex;

    @include mq($sm) {
      display: block;
    }

    &:after {
      clear: both;
      display: block;
      content: '';
    }

    .right-content {
      border-left: 1.3px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
    }
  }

  &-information-detail {
    .detail-items {
      padding: 20px;
      border-bottom: 1px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);

      &-value {
        font-size: 16px;
      }

      &-sup {
        text-transform: uppercase;
        font-size: 12px;
      }

      &-date {
        img {
          padding: 0 5px;
        }
      }

      sup {
        text-transform: uppercase;
      }

    }

    .booking-information-payment {
      padding: 20px;

      .detail-items {
        padding: 20px 0;

        &:last-child {
          border: 0;
        }

        &-total {
          sup {
            top: 0;
            font-size: 14px;
          }

          span {
            font-weight: bold;
            font-size: 18px;
          }
        }

        &-info-price,
        &-total {

          vertical-align: middle;

          &:after {
            clear: both;
            display: block;
            content: '';
          }

          span {
            &:nth-child(2) {
              float: right;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  &-driver-detail {
    padding: 20px;

    h3 {
      font-size: 16px;
    }

    .wrapper-detail {
      margin: 0 -20px 20px;
      padding-top: 20px;
      border-bottom: 1.3px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);

      .detail-tracker {
        width: 100%;
        height: 7px;
        background: #B0B8CF;
        border-radius: 25px;

        &-wrapper {
          padding-bottom: 20px;
          max-width: 300px;
          margin: 0 auto;
        }

        .tracker-active {
          width: 20%;
          background: #2246A8;
          height: 100%;
          border-radius: 25px;
          position: relative;

          &.car-on-the-way {
            width: calc(100%/3 / 2);
          }

          &.car-with-you {
            width: 50%;
          }

          &.complete {
            width: 100%;
          }

          .icon-tracker {
            width: 16px;
            height: 16px;
            background: #F27D20;
            border-radius: 100%;
            position: absolute;
            top: -5px;
            right: 0;
          }
        }
      }

      .label-track {
        width: calc(100%/3);
        margin-top: 10px;
      }

      .detail-info-on-the-way {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: left;

        @include mq($sm) {
          margin-bottom: 18px;
        }
      }

      .detail-info-with-you {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;

        @include mq($sm) {
          margin-bottom: 18px;
        }
      }

      .detail-info-complete {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: right;

        @include mq($sm) {
          margin-bottom: 18px;
        }
      }
    }

    .information {
      &-avatar {
        width: 86px;
        height: 86px;
        overflow: hidden;
        border-radius: 50%;
      }

      &-list {
        padding-top: 10px;
      }

      li {
        font-size: 16px;
        list-style: disc;
      }
    }

    .rating {
      // padding-top: 20px;
    }
  }

  &-cancel-detail {
    padding: 40px 20px;
    border-top: 1px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);

    &:after {
      clear: both;
      display: block;
      content: '';
    }

    .information {
      padding-right: 20px;

      h3 {
        font-size: 16px;
        color: map-get($primary-alt, darkest);
      }

      p {
        font-size: 14px;
      }
    }

    .status {
      text-align: center;
    }
  }
}


.p-dashboard {
  .dashboard-content {
    .dashboard-content-wrapper {
      .a-modal {
        &.success {
          .two-button {
            @include mq($sm) {
              text-align: center;
            }
          }

          .content-wrapper {
            .modal-footer {
              &center {
                @include mq($sm) {
                  text-align: center;
                }
              }

              .a-btn {
                @include mq($sm) {
                  width: 200px;
                  margin: 6px auto;
                }
              }

              .two-button {
                button {
                  display: block;
                  width: 100%;

                  &:nth-child(1) {
                    margin-bottom: 16px;
                  }

                  @include mq($sm) {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }

        &.modal-booking-cancel {
          .content-wrapper {
            .modal-content {
              @include mq($sm) {
                justify-content: flex-start;
                max-height: initial;
              }
            }
          }

          .content-wrapper {
            .modal-footer {
              &center {
                @include mq($sm) {
                  text-align: center;
                }
              }

              .a-btn {
                @include mq($sm) {
                  width: 200px;
                  margin: 6px auto;
                }
              }

              .two-button {
                button {
                  @include mq($sm) {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .a-modal.modal-rate-booking {
      .content-wrapper {
        &.medium {
          width: 50%;
          margin: 0;

          @include mq($sm) {
            width: 335px;
            height: 542px;
            margin: 0;
          }
        }
      }
    }
  }
}

// modal
.dashboard-popup-content {
  .booking-cancel-detail {
    border-top: 0;
    border-bottom: 1.3px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
    padding: 10px 0;

    &-car,
    &-reason {
      &-wrapper {
        display: none;

        &.show {
          display: block;

          @include mq($sm) {
            display: grid;
          }
        }

        .select-icon {
          width: 20px;
          height: 20px;
          border: 1px solid #d8d8d8;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
          background-color: white;
          display: inline-block;
          vertical-align: middle;

          @include mq($sm) {
            margin-right: 12px;
          }

          &.selected {
            background: url('../../../assets/images/icons/ic-card-selected.svg') no-repeat center;
            background-size: contain;
            border: none;
          }
        }

        .row {
          &:after {
            clear: both;
            display: block;
            content: '';
          }
        }

        .col-6 {
          float: left;
          padding: 20px 0;
          width: 50%;
          vertical-align: middle;

          @include mq($sm) {
            width: 100%;
            padding-top: 17px;
            padding-bottom: 16px;
          }

          h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
          }

          &:first-child {
            padding-right: 10px;
          }

          &:last-child {
            text-align: right;

            span {
              padding-right: 15px;
            }
          }
        }
      }

      &-list {
        .car-item {
          border-radius: 6px;
          border: 1.3px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
          padding: 10px 20px;
          display: flex;
          flex: 0 0 100%;
          align-items: center;
          flex-direction: row;
          margin-bottom: 10px;

          &-image {
            width: 30%;
          }

          &-title {
            padding: 0 20px;

            h3 {
              font-size: 18px;
              margin-bottom: 0;
            }
          }

          &-select {
            flex: 1;
            text-align: right;

            span {
              padding-right: 15px;
            }
          }
        }
      }
    }

    &-reason {
      &-wrapper {
        padding-top: 20px;

        h2 {
          font-size: 18px;
          margin-bottom: 0;

          @include mq($sm) {
            margin: 0;
            padding-bottom: 6px;
          }
        }

        h3 {
          font-size: 14px;
          color: #8A959E;

          @include mq($sm) {
            margin: 0;
            padding-bottom: 22px;
          }
        }

        .reason-item {
          padding-bottom: 10px;

          span {
            padding-left: 15px;

            @include mq($sm) {
              padding-left: 0;
            }
          }
        }
      }
    }
  }

}

.modal-booking-cancel {
  .left-content.information {
    width: 40%;

    @include mq($sm) {
      width: 100%;
      display: block;
    }
  }

  .right-content.status {
    width: 60%;

    @include mq($sm) {
      width: 100%;
      display: block;
    }
  }
}

.modal-modify-booking {
  .content-wrapper {
    .modal-footer {
      .two-button {
        @include mq($sm) {
          width: 100%;
        }

        button {
          @include mq($sm) {
            margin-right: 0;
            display: block;
            margin: auto;
          }

          &.btn-primary {
            @include mq($sm) {
              width: 100%;
              margin-bottom: 20px;
            }
          }

          &.btn-outline {
            @include mq($sm) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.confirm {
    .content-wrapper {
      @include mq($sm) {
        width: 90% !important;
        height: initial !important;
      }
    }

    h2 {
      font-size: 24px;

      @include mq($sm) {
        font-size: 20px;
      }
    }

    h3 {
      color: #8A959E;
      font-size: 18px;

      @include mq($sm) {
        font-size: 14px;
      }

      span {
        color: initial;
      }
    }


    .modal-footer {
      display: block;

      .success {
        padding: 5px 0;
        display: block;
      }

      &.center {
        .success {
          text-align: center;

          button {
            @include mq($sm) {
              width: 100%;
            }
          }
        }

        button {
          display: inline;
        }

        .success-block {
          text-align: center;
          button {
            @include mq($sm){
              width: 100%;
            }
          }
        }

        button {
          display: inline-block;
          min-width: 250px;
          margin-top: 10px;
        }

      }
    }
  }

  .content-wrapper {
    .modal-content {
      overflow: inherit;
    }
  }

  .booking-modify-detail {
    padding-top: 20px;

    h4 {
      font-size: 16px;
      color: #8A959E;
    }

    &-list {
      padding: 0 0 20px;
    }

    &-item {
      padding: 20px 0;
      border-bottom: 1.3px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);

      &.current-booking {
        opacity: .6;
      }

      h2 {
        font-size: 18px;
      }

      .desc-wrapper {
        display: flex;
        flex: 0 0 100%;
      }

      .desc-item {
        flex: 1;
        position: relative;

        &-value {
          &.disabled {
            display: none;
          }
        }

        &.disabled {
          display: none;
        }
      }

      sup {
        color: #8A959E;
        display: block;
      }
    }
  }

  .form-input {
    position: relative;

    &.disabled {
      display: none;
    }

    .form-select,
    .form-date {
      min-width: 120px;
      margin-top: 5px;
      display: inline-block;
      margin-right: 20px;
      border-radius: 5px;
      padding: 7px 7px;
      padding-right: 30px;
      border: 1.3px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
      position: relative;

      &:after {
        top: 10px;
        right: 5px;
        position: absolute;
        display: inline-block;
        font-size: 12px;
        content: '\25BC';
      }
    }

    .form-select-list {
      border-radius: 5px;
      padding: 0 7px;
      min-width: 120px;
      display: inline-block;
      background-color: $white;
      top: 35px;
      left: 0;
      margin-top: 5px;
      border: 1.3px solid rgba($color: map-get($grey, darkest), $alpha: 0.12);
      position: absolute;
      z-index: 2;
      display: none;
      list-style: none;
      margin-left: 0;

      &.show {
        display: block;
      }

      li {
        padding: 5px 0;
      }
    }
  }

  .trac-calendar-theme {
    display: none;
    background-color: #12265B;
    position: absolute;
    z-index: 1;
    padding-top: 1.6rem;

    &.show {
      display: block;
      opacity: 1;
    }

    .react-datepicker__navigation--next {
      right: 1rem;
    }

    .react-datepicker__month-container {
      // padding-top: 1.6rem;
      padding-bottom: 0;
    }
  }
}

//status progress wrapper
.status-progress-wrapper {
  padding-bottom: 40px;

  .cancel-wrapper {
    width: 100%;
    padding: 10px 20px 10px;

    .cancel-section {
      width: 33.33%;
      height: 8px;
      background: grey;
      display: inline-block;

      .status {
        height: 8px;
        position: relative;


        &.disable {
          background: grey;
        }

        &.active {
          background: orange;
        }
      }

      .bulet {
        border-radius: 100%;
        width: 15px;
        height: 15px;
        position: absolute;
        left: -10px;
        top: -4px;
        background: grey;

        &.active {
          background: orange;
        }

        &.last {
          left: inherit;
          right: 0;
        }
      }
    }
  }

  .title-cancel,
  .title-dates {
    padding: 0 20px;
    display: table;
    font-size: 10px;
    width: 100%;

    p {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      span {
        white-space: nowrap;
      }
    }
  }

  .title-dates {
    padding: 0 20px;

    p {
      text-align: left;
      position: relative;

      span {
        position: absolute;
        left: -15px;
      }
    }
  }
}

.modal-extended-booking {
  .booking-modify-detail {
    h4 {
      font-size: 14px;
    }

    &-item {
      sup {
        padding-bottom: 10px;
        padding-top: 5px;
      }
    }
  }

  .desc-item {
    &-counter {
      display: inline-block;
      border: 1px solid rgba(42, 46, 54, 0.12);
      border-radius: 20px;
      &-minus, &-plus {
        &:hover {
          cursor: pointer;
        }
      }

      >div {
        display: inline-block;
        padding: 10px 15px;
      }
    }
  }

  .modal-footer {
    .two-button {
      button {
        width: 100%;
        &:nth-child(1){
          margin-bottom: 16px;
        }
      }
    }
  }
}
