@import '../../../styles/helpers/index';

.myBooking-settings {
    padding: 5px 0 0 35px;
    background: white;
    border-bottom: 1px solid #E8EAEC;
    margin-bottom: 36px;

    @include mq($sm) {
        padding: 0;
    }

    .wrapper-my-booking {
        width: 100%;
        position: relative;

        @include mq($sm) {
            position: unset;
        }

        .status-car {
            position: absolute;
            top: 5px;
            left: 295px;
            width: 470px;

            @include mq($sm) {
                position: unset;
                width: 100%;
                padding-left: 14px;
                padding-right: 24px;
                margin-top: 16px;
            }

            .title-cars {
                display: inline-block;
            }

            .driver-status {
                display: inline-block;
                float: right;
                font-size: 14px;
                font-weight: bold;
                color: #F27D20;
                &.waiting-payment {
                    color: #F22020;
                    &::before {
                        content: '';
                        width: 28px;
                        height: 28px;
                        background: url('../../../assets/images/icons/waiting-payment.svg') no-repeat center;
                        background-size: contain;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 6px;
                        margin-top: -2px;
                    }
                }
            }

            .under-line {
                border-top: 1px solid #E8EAEC;
                margin: 0;
                margin-top: -5px;
            }
        }

        .my-booking-cars {
            width: 267px;
            height: 122px;
            display: inline-block;
            vertical-align: top;
            object-fit: contain;
            margin-top: 10px;
            margin-bottom: 54px;

            @include mq($sm) {
                text-align: center;
                width: 100%;
                margin-bottom: 0;
            }

            &-image {
                width: 100%;

                img {
                    margin: 0 auto;
                    display: none;
                    height: 122px;

                    &.active {
                        display: block;
                    }
                }
            }

            &-dot {
                text-align: center;
                padding-top: 10px;

                span {
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    margin: 0 5px;
                    background-color: #D1D7E6;

                    &.active {
                        background-color: #1A3681;
                    }
                }
            }
        }

        .detail-cars {
            display: inline-block;
            width: 470px;
            margin-left: 28px;
            margin-top: 64px;

            @include mq($sm) {
                margin-left: 0;
                width: 100%;
                padding-right: 14px;
                padding-left: 14px;
                margin-top: 44px;
            }

            .title-cars {
                display: inline-block;

                @include mq($sm) {
                    margin: 0px;
                    font-size: 12px;
                    margin-bottom: 11px;
                }
            }

            &.btn {
                margin-left: 0;
                margin-top: 38px;

                @include mq($sm) {
                    margin-top: 18px;
                    padding-left: 0;
                    margin-bottom: 21px;
                }

                .a-btn.btn-outline {
                    float: right;
                    margin-top: -10px;
                }
            }

            .wrapper-detail {
                width: 300px;
                float: right;

                @include mq($sm) {
                    width: 100%;
                    float: inherit;
                }

                .detail-tracker {
                    width: 100%;
                    height: 7px;
                    background: #B0B8CF;
                    border-radius: 25px;

                    .tracker-active {
                        width: 20%;
                        background: #2246A8;
                        height: 100%;
                        border-radius: 25px;
                        position: relative;

                        &.car-on-the-way {
                            width: calc(100%/3 / 2);
                        }

                        &.car-with-you {
                            width: 50%;
                        }

                        &.complete {
                            width: 100%;
                        }

                        .icon-tracker {
                            width: 16px;
                            height: 16px;
                            background: #F27D20;
                            border-radius: 100%;
                            position: absolute;
                            top: -5px;
                            right: 0;
                        }
                    }
                }

                .label-track {
                    width: calc(100%/3);
                    margin-top: 10px;
                }

                .detail-info-on-the-way {
                    display: inline-block;
                    font-size: 10px;
                    font-weight: bold;
                    margin-bottom: 0;
                    text-align: left;

                    @include mq($sm) {
                        margin-bottom: 18px;
                    }
                }

                .detail-info-with-you {
                    display: inline-block;
                    font-size: 10px;
                    font-weight: bold;
                    margin-bottom: 0;
                    text-align: center;

                    @include mq($sm) {
                        margin-bottom: 18px;
                    }
                }

                .detail-info-complete {
                    display: inline-block;
                    font-size: 10px;
                    font-weight: bold;
                    margin-bottom: 0;
                    text-align: right;

                    @include mq($sm) {
                        margin-bottom: 18px;
                    }
                }
            }

            .car-desc {
                display: inline-block;
                margin-top: -10px;

                @include mq($sm) {
                    margin-top: 22px;
                }

                .car-total {
                    margin: 0;
                    font-size: 12px;
                    color: #8A959E;
                }

                .value-car-total {
                    color: #2A2E36;
                    font-size: 16px;
                    font-weight: bold;
                    margin-right: 45px;
                    margin-bottom: 0;
                }

                .book-numb {
                    margin: 0;
                    font-size: 12px;
                    color: #8A959E;
                }

                .value-book-numb {
                    color: #2A2E36;
                    font-size: 16px;
                    font-weight: bold;
                    margin-right: 46px;
                    margin-bottom: 0;
                }

                .dates {
                    margin: 0;
                    font-size: 12px;
                    color: #8A959E;
                }

                .value-dates {
                    color: #2A2E36;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }

            .detail-cars {
                button {
                    &:first-child {
                        margin-right: 16px;
                    }
                }
            }

        }

    }
}

.a-modal{
    &.modal-booking-cancel{
        .content-wrapper{
            .modal-footer{
                .a-btn{
                    @include mq($sm) {
                        min-width: 100%;
                        margin: 14px 0;
                    }
                }
                .two-button{
                    button{
                        @include mq($sm) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .modal-footer{
            &.left{
                @include mq($sm) {
                    justify-content: center;
                }
            }
        }
    }
    &.modal-payment-guide {
        .content-wrapper {
            width: 580px;
            .modal-content {
                display: block;
                @include mq($sm){
                    max-height: initial;
                }
                .info-header {
                    color: #2A2E36;
                }
                .sub-title {
                    font-size: 14px;
                    font-weight: 500;
                    color: #8A959E;
                    strong {
                        color: #2A2E36;
                    }
                }
                .detail-virtual-account {
                    .account-number-wrapper {
                        .account-number {
                            font-size: 16px;
                            font-weight: 500;
                            color: #8A959E;
                            display: inline-block;
                            margin-right: 30px;
                            span {
                                color: #2A2E36;
                                padding: 3px;
                                @include mq($sm){
                                    display: block;
                                }
                            }
                        }
                        &.copied {
                            .account-number {
                                span {
                                    background: #ccc;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.modal-rate-booking {
    h2 {
        font-size: 24px;
    }

    h3 {
        color: #8A959E;
        font-size: 16px
    }

    .rate-star {
        margin: 0 5px;

        &-wrapper {
            text-align: center;
        }
    }
}
