@import '../../styles/helpers/index';
@import '../../styles/helpers/variables';

.pos-map {
    width: 100%;
    height: 100%;
}

.bg-blue-outlet-locations {
    width: 100%;
    height: 160px;
    background-color: $primary;
    padding-top: 90px;
    float: left;

    @include mq($lg) {
        height: 160px;
        .btnSearch {
            display: initial;
            margin: 10px;
        }
    }
    @include mq($sm) {
        height: 280px;
        .btnSearch {
            display: initial;
            margin: 10px;
        }
    }
}
.selectType {
    width: 300px;
    display: inline-block;
    padding: 10px;
}
.btnSearch {
    display: initial;
    margin: 10px;
}
.container-outlet-locations {
    .side-list {
        width: 30%;
        height: 800px;
        float:left;
        overflow-y: auto;
        margin-top: 0;

        @include mq($sm) {
            width: 100%;
            height: 500px;
            margin-top: 0;
        }
    }
    .container-content {
        width: 70%;
        height: 800px;
        float: right;
        background: white;
        margin-top: 0;

        @include mq($sm) {
            width: 100%;
            height: 500px;
            margin-top: 0;
        }
    }
}
.type-outlet {
    color: lightest;
    font-size: 12px;
    margin-bottom: 0px;

    @include mq($sm) {
        font-size: 10px;
    }
}
.name-outlet {
    color: black;
    font-size: 18px;

    @include mq($sm) {
        font-size: 14px;
    }
}
.ico-distance-outlet {
    padding-left: 30px;
    line-height: 25px;
    color: black;
    font-size: 12px;
    width: 100px;
    height: 30px;
    background: url(../../assets/images/icons/ico-placeholder.svg) no-repeat
}
.phone-outlet {
    color: lightest;
    font-size: 12px;
    margin-bottom: 0px;

    @include mq($sm) {
        font-size: 10px;
    }
}
.address-outlet {
    color: lightest;
    font-size: 12px;

    @include mq($sm) {
        font-size: 10px;
    }
}
.title-open-outlet {
    color: black;
    font-size: 12px;
    margin-bottom: 0px;

    @include mq($sm) {
        font-size: 10px;
    }
}
.open-outlet {
    color: lightest;
    font-size: 12px;

    @include mq($sm) {
        font-size: 10px;
    }
}
.location-link {
    display: inline-block;
    @include mq($sm) {
        display: inherit;
    }
}
.title-set-location-outlet {
    color: black;
    font-size: 12px;
    text-decoration: underline;
    display: inline;
    float: left;

    @include mq($sm) {
        font-size: 10px;
        float: left;
        display: inline-block;
    }
}
.open-link-outlet {
    color: lightest;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    float: left;
    display: inline;

    @include mq($sm) {
        font-size: 10px;
        float: right;
        margin-right: 10px;
        display: inline-block;
    }
}
.phone-address {
    display: inherit;
    @include mq($sm) {
        display: inline-block;
    }
}
.title-outlet {
    display: inherit;
    float: left;
    @include mq($sm) {
        display: inline-block;
        float: right;
        margin-right: 10px;
    }
}
.container-list {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    position: relative;

    @include mq($sm) {
        padding-left: 10px;
        padding-top: 10px;
        //padding-bottom: 10px;
        display: block;
        position: relative;
    }
}
.container-list:nth-child(odd) {
    background: #EFEFEF;
}
.container-list:nth-child(even) {
    background: white;
}
.left-side {
    float:left;
    width: 150px;;
}
.right-side {
    padding-top: 10px;
    float:right;
}
.clear {
    clear: both;
}
.container-pin {
    width: 180px;
    height: auto;
    background-color: grey;
    border-radius: 25px;
    padding: 20px;
}
.name-outlet-pin {
    color: white;
    font-size: 14px;
    margin: 0;
}
.address-outlet-pin {
    color: white;
    font-size: 14px;
}
.marker{
    background: white;
    padding: 6px;
    border: 2px solid;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 200px;
}
.o-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    color: $white;
    background-color: map-get($nav, background);
    @include mq($sm) {
        position: static;
        .container {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}