@import '../../styles/helpers/index';

.m-sidebar-promo-code {
    background-color: $white;
    margin-bottom: 5px;
    @include mq($sm) {
        display: none;
    }
    .promo-code-title {
        padding: 2rem;
        font-size: 1.2rem;
        font-weight: map-get($fw, bold);
        text-transform: uppercase;
        @include mq($lg) {
            padding: 1.6rem;
            font-size: 1.15rem;
        }
        @include mq($md) {
            padding: 1.4rem;
            font-size: 1.1rem;
        }
        @include mq($sm) {
            padding: 2rem;
            font-size: 1.2rem;
        }
        @include mq($xsr) {
            font-size: 1.15rem;
        }
    }
    .promo-code-content {
        padding: 1rem 2rem 2rem;
        display: table;
        width: 100%;
        @include mq($lg) {
            padding: .8rem 1.6rem 2rem;
        }
        @include mq($md) {
            display: block;
            padding: .4rem 1.4rem 1.6rem;
        }
        @include mq($sm) {
            display: table;
            padding: 1rem 2rem 2rem;
        }
        @include mq($xsr) {
            padding: .8rem 1.6rem 2rem;
        }
    }
    .input,
    .button {
        display: table-cell;
        @include mq($md) {
            display: block;
        }
        @include mq($sm) {
            display: table-cell;
        }
    }
    .button {
        width: 116px;
        padding-left: 16px;
        .a-btn {
            width: 100%;
            min-width: initial;
            padding: 0.6rem 2rem;
            line-height: 1.5;
        }
        @include mq($lg) {
            width: 100px;
        }
        @include mq($md) {
            margin-top: 8px;
            width: auto;
            text-align: right;
            padding-left: 0;
        }
        @include mq($sm) {
            width: 100px;
            padding-left: 16px;
        }
    }
    .input-text {
        outline: 0;
        border: 0;
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.75;
        border-bottom: solid 1px $line-thin;
        @include mq($lg) {
            font-size: 1.3rem;
        }
        @include mq($md) {
            font-size: 1.2rem;
        }
        @include mq($sm) {
            font-size: 1.4rem;
        }
        @include mq($xsr) {
            font-size: 1.3rem;
        }
    }
}
