@import '../../styles/helpers/index';
.m-pagination {
    position: relative;
    display: block;
    width: 100%;
    .pagination {
        margin: 0;
        list-style: none;
        text-align: center;
        .page-item {
            display: inline-block;
            width: 68px;
            height: 68px;
            padding: 0;
            border-left: 1px solid rgba(map-get($grey, darkest), .12);
            transition: all .3s ease;
            @include mq($lg) {
                width: 60px;
                height: 60px;
            }
            @include mq($md) {
                width: 56px;
                height: 56px;
            }
            @include mq($sm) {
                width: 48px;
                height: 48px;
            }
            &:last-child {
                border-right: 1px solid rgba(map-get($grey, darkest), .12);
            }
            &.active {
                .page-link{
                    background-color: map-get($primary-alt, dark);
                    color: $white;
                }
            }
            &:hover:not(.active) {
                border-left: 1px solid map-get($primary-alt, darkest);
                .page-link{
                    background-color: map-get($primary-alt, darkest);
                    color: $white;
                }
            }
            .page-link {
                padding: 1.2rem;
                font-size: 1.2rem;
                font-weight: map-get($fw, bold);
                transition: background-color .2s ease;
                width: 100%;
                height: 100%;
                cursor: pointer;
                background-color: transparent;
            }
        }
    }
}