@import '../../styles/helpers/index';

.p-payment {
    background: white;
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    @include mq($md) {
        display: block;
    }
    .payment-option {
        display: table-cell;
        vertical-align: top;
        width: 216px;
        background: map-get($primary-alt, extremely-darkest);
        @include mq($lg) {
            width: 196px;
        }
        @include mq($md) {
            display: block;
            width: 100%;
        }
        h3.title {
            color: white;
            margin: 42px 32px 32px;
            @include mq($lg) {
                font-size: 2.2rem;
                margin: 32px 24px 24px;
            }
            @include mq($md) {
                display: none;
            }
        }
        ul.list-payment {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-bottom: 20px;
            background: map-get($primary-alt, extremely-darkest);
            @include mq($md) {
                display: table;
                width: 100%;
                padding-bottom: 0;
            }
            li {
                margin: 0;
                padding: 22px 32px;
                box-sizing: border-box;
                border-bottom: solid 1px rgba($white, .2);
                color: white;
                user-select: none;
                position: relative;
                transition: all 0.25s ease;
                cursor: pointer;
                @include mq($lg) {
                    font-size: 1.5rem;
                    padding: 20px 28px;
                }
                @include mq($md) {
                    font-size: 1.6rem;
                    display: table-cell;
                    width: 50%;
                    text-align: center;
                    padding: 24px 24px 18px;
                    border-bottom: 0;
                }
                @include mq($xsr) {
                    font-size: 1.4rem;
                    padding: 22px 16px 16px;
                }
                &:before {
                    content: '';
                    width: 5px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    background-color: $secondary;
                    transform: scaleX(0);
                    transform-origin: left center;
                    transition: all 0.3s ease;
                    @include mq($md) {
                        right: 0;
                        top: auto;
                        width: 100%;
                        height: 5px;
                        transform: scaleY(0);
                        transform-origin: bottom center;
                    }
                    @include mq($xsr) {
                        height: 4px;
                    }
                }
                &.active,
                &:hover {
                    background-color: map-get($nav, active-background);
                    border-color: transparent;
                    &:before {
                        transform: scaleX(1);
                        @include mq($md) {
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }
    }
    .payment-info {
        display: table-cell;
        vertical-align: top;
        padding-bottom: 16rem;
        @include mq($lg) {
            padding-bottom: 12rem;
        }
        @include mq($md) {
            display: block;
            padding-bottom: 4.8rem;
        }
        @include mq($sm) {
            padding-bottom: 3.2rem;
        }
        .info-wrapper {
            padding: 40px;
            @include mq($lg) {
                padding: 36px 32px;
            }
            @include mq($sm) {
                padding: 24px 20px;
            }
            .info-header {
                margin-bottom: 12px;
                @include mq($sm) {
                    display: block;
                }
                h3 {
                    color: map-get($grey, darkest);
                    display: inline-block;
                    margin: 0 40px 0 0;
                    @include mq($lg) {
                        font-size: 2.2rem;
                        margin-right: 36px;
                    }
                    @include mq($md) {
                        margin-right: 40px;
                    }
                    @include mq($sm) {
                        display: block;
                        margin-right: 0;
                        margin-bottom: 12px;
                    }
                }
                .brand-wrapper {
                    display: inline-block;
                    vertical-align: bottom;
                    .item-brand {
                        height: 23px;
                        display: inline-block;
                        vertical-align: bottom;
                        img {
                            height: 100%;
                            width: auto;
                        }
                        @include mq($lg) {
                            height: 20px;
                        }
                    }
                }
            }
            .payment-info-form {
                max-width: 340px;
                + form .form-input{
                    padding-top: 28px;
                }
                @include mq($lg) {
                    max-width: initial;
                }
            }
            .virtual-account-form {
                .form-input{
                    padding-top: 24px;
                }
                + form .form-input{
                    padding-top: 32px;
                    + .action-wrapper{
                        margin-top: 32px;
                    }
                }
                .a-trac-field{
                    margin-bottom: 14px;
                    width: 45%;
                    margin-right: 3%;
                    &:nth-child(2n),
                    &:last-child{
                        margin-right: 0;
                    }
                    &:nth-last-child(2),
                    &:last-child{
                        margin-bottom: 0;
                    }
                    @include mq($lg) {
                        width: 48%;
                    }
                }
            }
            .detail-virtual-account {
                .account-number-wrapper {
                    margin-top: 30px;
                    position: relative;
                    p.account-number {
                        font-size: 16px;
                        font-weight: 500;
                        color: #8A959E;
                        display: inline-block;
                        margin: 0px;
                        margin-right: 30px;
                        margin-bottom: 48px;
                        span {
                            color: #2A2E36;
                            @include mq($sm) {
                                display: block;
                            }
                        }
                    }
                    a {
                        position: relative;
                        @include mq($sm) {
                            position: absolute;
                            right: 8px;
                            top: 20px;
                        }
                        &::after {
                            opacity: 0;
                            content: "Copy to Clipboard";
                            position: absolute;
                            top: -36px;
                            right: -50px;
                            background: #252525c7;
                            padding: 10px 14px;
                            font-size: 10px;
                            color: white;
                            border-radius: 8px;
                            text-align: center;
                            width: 130px;
                            transition: all 0.2s ease;
                        }
                    }
                    &.copied {
                        p.account-number {
                            span {
                                background: #bfbfbf;
                            }
                        }
                        a {
                            &::after {
                                opacity: 1;
                                transition: all 0.2s ease;
                            }
                        }
                    }
                }
                ol.desc-list {
                    li {
                        color: #8A959E;
                        font-size: 16px;
                        font-weight: 500;
                        span {
                            color: #2A2E36;
                        }
                    }
                }
            }
            .form-input {
                padding-top: 54px;
                clear: both;
                @include mq($sm) {
                    padding-top: 36px;
                }
                @include mq($xsr) {
                    padding-top: 32px;
                }
                .col {
                    display: inline-block;
                    vertical-align: top;
                    box-sizing: border-box;
                    width: 50%;
                    &:nth-child(1){
                        padding-right: 12px;
                    }
                    &.relative {
                        position: relative;
                        .info-note {
                            position: absolute;
                            bottom: -20px;
                            left: 0;
                            a {
                                font-size: 12px;
                                font-weight: 500;
                                color: #00C0F2;
                            }
                        }
                    }
                }
                .inline {
                    display: inline-block;
                    vertical-align: middle;
                    &:nth-child(1){
                        margin-right: 4px;
                    }
                    a {
                        font-size: 12px;
                    }
                    .a-trac-field {
                        margin-top: 3px;
                    }
                }
                .action-wrapper-toggle {
                    position: relative;
                }
                &.save-info {
                    padding-top: 24px;
                    @include cf;
                    .desc {
                        float: left;
                        width: 210px;
                        line-height: 21px;
                        color: map-get($grey, light);
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .toggle-wrapper {
                        float: right;
                    }
                    @include mq($xsr) {
                        padding-top: 20px;
                    }
                }
            }
            .action-wrapper {
                margin-top: 28px;
                button.a-btn.btn-outline {
                    margin-right: 14px;
                }
            }
            .sub-title {
                font-size: 1.4rem;
                font-weight: map-get($grey, normal);
                color: map-get($grey, light);
                margin: 0;
            }
        }
    }
}

.modal-footer-action {
    .a-btn:nth-child(1){
        margin-right: 20px;
    }
}