@import '../../styles/helpers/index';

.a-btn {
    padding: 1.2rem 2.4rem;
    min-width: 156px;
    text-transform: uppercase;
    border-radius: 7px;
    font-size: map-get($fz, button);
    font-weight: map-get($fw, bold);
    line-height: 1.1;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
    border: solid 1px transparent;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease;
    color: map-get($grey, darkest);
    @include mq($lg) {
        padding: 1rem 2rem;
        min-width: 140px;
        border-radius: 6px;
        font-size: 1.3rem;
    }
    @include mq($sm) {
        padding: 1.2rem 2rem;
        font-size: 1.4rem;
        line-height: 1.25;
    }
    @include mq($xsr) {
        font-size: 1.4rem;
        line-height: 1.15;
        font-size: 1.3rem;
    }
    &:hover {
        color: map-get($grey, dark);
    }
    &:active {
        color: $secondary;
    }
    &.btn-primary {
        color: $white;
        background-color: map-get($button, primary-default);
        border: solid 1px map-get($button, primary-default);
        &:hover {
            background-color: map-get($button, primary-hover);
            border: solid 1px map-get($button, primary-hover);
        }
        &:active {
            background-color: map-get($button, primary-press);
            border: solid 1px map-get($button, primary-press);
        }
        &.block {
            width: 100%;
            border-radius: 0px;
        }
    }
    &.btn-secondary {
        color: $white;
        background-color: map-get($button, secondary-default);
        border: solid 1px map-get($button, secondary-default);
        &:hover {
            background-color: map-get($button, secondary-hover);
            border: solid 1px map-get($button, secondary-hover);
        }
        &:active {
            background-color: map-get($button, secondary-press);
            border: solid 1px map-get($button, secondary-press);
        }
    }
    &.btn-disabled {
        color: $white;
        background-color: map-get($button, primary-disabled);
        border: solid 1px map-get($button, primary-disabled);
        cursor: default;
    }
    &.btn-outline {
        background-color: transparent;
        border: solid 1px map-get($button, outline-default);
        color: map-get($grey, darkest);
        &:not(.btn-disabled) {
            &:hover {
                background-color: map-get($button, outline-hover);
                border: solid 1px map-get($button, outline-hover);
                color: $white;
            }
            &:active {
                background-color: map-get($button, outline-press);
                border: solid 1px map-get($button, outline-press);
            }
        }
        &.btn-disabled {
            border: solid 1px map-get($button, outline-disabled);
            color: map-get($button, outline-disabled);
        }
    }
    &.btn-outline-white {
        background-color: transparent;
        border: solid 1px $white;
        color: $white;
        &:hover {
            background-color: $secondary;
            border: solid 1px $secondary;
        }
    }
    &.btn-text {
        padding: 0;
        min-width: initial;
        padding-right: 2.4rem;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -8px;
            background: url(../../assets/images/icons/arrow-right.svg) no-repeat
            center center;
            transition: all 0.25s ease;
        }
        &:hover {
            &:after {
                transform: translateX(2px);
            }
        }
        @include mq($lg) {
            padding-right: 2.2rem;
        }
    }
    &.btn-clear-date {
        color: $secondary;
        min-width: initial;
        padding-left: 1.4rem;
        position: relative;
        text-transform: lowercase;
        &:hover {
            &:after {
                transform: translateX(2px);
            }
        }
        @include mq($lg) {
            padding-right: 2.2rem;
        }
        @include mq($sm) {
            width: 100vw
        }
    }
    &.btn-icon{
        padding-left: 5.6rem;
        min-width: 175px;
        background-repeat: no-repeat;
        background-position: 24px center;
        background-color: rgba($black, .45);
        color: $white;
        border: solid 1px $white;
        text-transform: initial;
        &:hover{
            background-color: rgba($black, .15);
        }
        &.active{
            border-color: $secondary;
            background-color: $secondary;
        }
    }
    &.car-rental{
        background-image: url(../../assets/images/icons/car-rental.svg)
    }
    &.airport-transfer{
        background-image: url(../../assets/images/icons/airport-transfer.svg)
    }
    &.bus-rental{
        background-image: url(../../assets/images/icons/bus-rental.svg)
    }
}

.wrapper-button {
    text-align: left;
    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }
}
