@import '../../styles/helpers/index';

.none-line{
    text-decoration: none;
    margin: 1em;
}

/* Create two unequal columns that floats next to each other */
.column-pp {
    float: left;
    // padding: 10px;
    height: 100%;

    @include mq($sm) {
        float: none;
        padding: 20px;
    }
}

.left-pp {
    width: 25%;
    height: 100%;

    @include mq($sm) {
        width: 100%;
    }
}

.right-pp {
    width: 75%;
    height: 100%;

    @include mq($sm) {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
 
.side-badges-pp {
    color: grey;
    padding: 2rem 3rem;
    width: 100%;
    text-align: left;
    border: 1px;
    border-bottom: 1px solid grey;
    font-size: 18px;

    &.active {
        color: black;
    }
    &:hover {
        color: black;
    }

    @include mq($sm) {
        color: grey;
        /* padding: 1rem 2rem; */
        width: auto;
        margin: 5px;
        padding: 5px;
        text-align: left;
        border: 1px;
        border: 1px black;
        /* border-bottom: 1px solid grey; */
        font-size: 18px;
    }
}

.gone {
    opacity: 0;
}

.tnc-button-list {
    //margin: 6rem 0 4rem 0;
}

.list-question-wrapper {
    margin: 0 4rem;
    @include mq($sm){
        margin: 0px 0px;
    }
    .accordion-wrapper .accordion-content.show {
        margin-top: 10px;
    }
    .accordion-wrapper p.accordion-title {
        border-bottom: .1px solid $secondary-disable;
        @include mq($sm){
            padding-right: 40px;
        }
    }
}

.info-header {
    margin: 0 4rem;
}

.tnc-content-wrapper{
    // position: relative;
    // display: block;
    // margin: auto;
    // width: 100%;
    max-width: 1180px;
    // background: #F0F0F3;
    // z-index: 1;
    margin: 50px auto;
    top: 100px;
    //width: 80%;
}

.bg-blue {
    width: 100%;
    height: 130px;
    background-color: $primary;

    .title-header {
        color: $white;
        
        .txt-label {
            padding-top: 50px;
        }
    }
}

