@import '../../../../../styles/helpers/index';

.language {
    float: left;
    position: relative;
    margin-right: 5.6rem;
    padding-right: 24px;
    cursor: pointer;
    z-index: 100;
    @include mq($lg) {
        margin-right: 4.8rem;
    }
    @include mq($md) {
        margin-right: 3.2rem;
    }
    @include mq($sm) {
        display: none;
    }
    .text {
        color: $primary;
        transition: color 0.25s ease;
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            top: 4px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 6px solid $primary;
            transition: border-color 0.25s ease;
        }
    }
    .dropdown {
        position: absolute;
        left: 0;
        padding: 8px 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s ease;
    }
    &:hover {
        .text {
            color: $secondary;
            &:after {
                border-top-color: $secondary;
            }
        }
        .dropdown {
            opacity: 1;
            visibility: visible;
        }
        ul {
            opacity: 1;
            transform: translateY(0);
        }
        li {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0.15s;
            &:nth-child(2) {
                transition-delay: 0.2s;
            }
        }
    }
    ul {
        list-style: none;
        background-color: $white;
        margin: 0;
        padding: 8px 20px;
        border-radius: 3px;
        border: solid 1px rgba(map-get($grey, darkest), 0.2);
        box-shadow: 0 2px 10px rgba($black, 0.2);
        opacity: 0;
        transform: translateY(8px);
        transition: all 0.35s ease;
    }
    li {
        margin: 0;
        padding: 0;
        border-bottom: solid 1px rgba(#c3c8d3, 0.5);
        opacity: 0;
        transform: translateY(4px);
        transition: all 0.2s ease;
        transition-delay: 0s;
        &:last-child {
            border-bottom: 0;
        }
    }
    a {
        position: relative;
        padding: 1.4rem 0 1.4rem 2.8rem;
        display: block;
        min-width: 124px;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: map-get($fw, bold);
        color: map-get($grey, light);
        transition: color 0.25s ease;
        &:hover,
        &.active {
            color: map-get($grey, darkest);
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center center;
            border: solid 1px #e1e1e1;
            background-size: 18px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    // &-en:before {
    //     background-image: url(../../assets/images/icons/en.svg);
    // }
    // &-id:before {
    //     background-image: url(../../assets/images/icons/id.svg);
    // }
}


.card-item {
    padding-bottom: 20px;
    //border-bottom: 1px solid #8B93A4;
    padding-left: 23px;
    padding-top: 20px;

    &.show {
        background: #E8EAEC;
        border-bottom: none;

        .card-action {
            display: block;
        }

        .card-info {
            margin-bottom: 41px;
            
        }

        &:hover {
            background: #E8EAEC;
        }
    }

    // &:hover {
    //     cursor: pointer;
    //     background: #f9f9f9;
    // }

    .card-info {
        margin-bottom: 0px;
        display: flex;
        .select-icon {
            width: 20px;
            height: 20px;
            border: 1px solid #d8d8d8;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
            background-color: white;
            display: inline-block;
            vertical-align: middle;
            margin-right: 39px;

            @include mq($sm) {
                margin-right: 19px;
            }

            // &.selected {
            //     background: url('../../../assets/images/icons/ic-card-selected.svg') no-repeat center;
            //     background-size: contain;
            //     border: none;
            // }
        }

        .card-img {
            width: 39px;
            height: 27px;
            border: 1px solid #E8EAEC;
            border-radius: 2px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 46px;
            background: white;
            padding: 2px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .card-desc {
            display: inline-block;
            margin-right: 48px;
            vertical-align: middle;

            @include mq($sm) {
                margin-right: 0px;
                display: block;
                margin-top: 18px;
                padding-left: 40px;
            }

            p.label-card {
                font-size: 12px;
                font-weight: 500;
                color: #8A959E;
                margin: 0px;
                text-align: left;
                margin-bottom: 5px;
            }

            p.value-card {
                font-size: 16px;
                font-weight: 500;
                color: #2A2E36;
                margin: 0px;
                text-align: left;
            }
        }
    }

    .card-action {
        display: none;

        .btn-primary {
            margin-right: 24px;

            @include mq($sm) {
                margin-right: 0px;
                margin-bottom: 12px;
            }
        }
    }
}

.card-wrapper {
    display: inline-block;
    width: 50%;
    .card-desc{
        display: block;
    }
}

.modal-modify-booking .trac-calendar-theme .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box{
    padding-right: 20px;
}

.modal-modify-booking .trac-calendar-theme .react-datepicker__navigation--next {
    right: 10rem;
}

.modal-modify-booking .trac-calendar-theme{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}
.modal-modify-booking .trac-calendar-theme .react-datepicker__day{
    color: #12265B;
}
.modal-modify-booking .trac-calendar-theme .trac-calendar-title div {
    color: #12265B;
}
.modal-modify-booking .trac-calendar-theme .react-datepicker__current-month{
    color: #12265B;
}
.modal-modify-booking .trac-calendar-theme .react-datepicker__day-name {
    color: #12265B;
}
.modal-modify-booking .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item{
    color: #12265B;
}
.modal-modify-booking .trac-calendar-theme .react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
    color: white;
}
.modal-modify-booking .trac-calendar-theme .react-datepicker__day--in-range {
    color: white !important;
}