@import '../../styles/helpers/index';

.personal-detail {
    background-color: $white;
    padding: 4rem 3.2rem 3.2rem;
    @include mq($lg) {
        padding: 3.2rem 2.4rem;
    }
    @include mq($sm) {
        padding: 3.2rem 2rem 4rem;
    }
    @include mq($xsr) {
        padding: 3.2rem 2rem;
    }
    .title {
        margin-bottom: 5.6rem;
        h3 {
            margin-bottom: 1.2rem;
            @include mq($sm){
                text-align: left;
            }
        }
        p {
            font-size: 1.4rem;
            color: map-get($grey, light);
            @include mq($sm){
                text-align: left;
            }
        }
        @include mq($lg) {
            margin-bottom: 4.8rem;
            h3 {
                font-size: 2.2rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.3rem;
            }
        }
        @include mq($sm) {
            text-align: center;
            h3 {
                font-size: 2.4rem;
            }
            p {
                font-size: 1.4rem;
            }
        }
        @include mq($xsr) {
            h3 {
                font-size: 2.2rem;
            }
            p {
                font-size: 1.3rem;
            }
        }
    }
    .form-wrapper {
        margin-bottom: 5.6rem;
        @include mq($lg) {
            margin-bottom: 4.8rem;
        }
        @include mq($sm) {
            margin-bottom: 4rem;
        }
    }
    .form-row {
        width: 100%;
        margin-bottom: 4rem;
        &:last-child {
            margin-bottom: 0;
        }
        @include mq($lg) {
            margin-bottom: 3.2rem;
        }
    }
    .form-remember-forgot {
        display: inline-block;
        width: 50%;
        padding-right: 1.6rem;
        > div {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
            &:last-child {
                text-align: right;
                a {
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: map-get($grey, darkest);
                    transition: color 0.25s ease;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
        @include mq($md) {
            width: 100%;
        }
    }
    .form-col {
        display: inline-block;
        width: 50%;
        margin: 0;
        vertical-align: top;
        &.initial {
            width: initial;
        }
        &:first-child {
            padding-right: 1.6rem;
        }
        &:nth-child(2) {
            padding-left: 1.6rem;
        }
        @include mq($lg) {
            &:first-child {
                padding-right: 1.2rem;
            }
            &:nth-child(2) {
                padding-left: 1.2rem;
            }
        }
        @include mq($md) {
            width: 100%;
            margin-bottom: 3.2rem;
            &:first-child {
                padding-right: 0;
            }
            &:nth-child(2) {
                padding-left: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .input-group{
        &-col{
            display: inline-block;
        }
        .phone-number{
            position: relative;
            z-index: 2;
            width: 72px;
            padding-bottom: 10px;
            border-bottom: 1px solid map-get($grey, light);
            margin-right: 10px;
            .select-item{
                min-width: 180px;
                @include mq($sm) {
                    left: 0;
                    right: auto;
                }
            }
            .select-label{
                display: none;
            }
            .selected{
                padding-right: 0;
                font-size: 1.6rem;
                font-weight: map-get($fw, normal);
                &:after{
                    top: 6px;
                    right: 0;
                }
            }
            & + .input-group-col{
                width: calc(100% - 82px);
                label{
                    transform: translateX(0) translateY(10px);
                }
                input{
                    &:valid,
                    &:focus{
                        + {
                            label{
                                transform: translateX(-82px) translateY(-12px);
                            }
                        }
                    }
                }
            }
        }
    }
    .form-action-col {
        display: inline-block;
        margin-right: 2.2rem;
        vertical-align: middle;
        &:nth-child(2) {
            font-size: 1.2rem;
        }
        &:last-child {
            margin-right: 0;
        }
        @include mq($lg) {
            margin-right: 2rem;
        }
        @include mq($sm) {
            width: 100%;
            margin-bottom: 2.8rem;
            margin-right: 0;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
            .a-btn{
                width: 100%;
            }
        }
    }
    .social-icon {
        @include cf;
        @include mq($sm) {
            display: inline-block;
        }
        a {
            display: block;
            width: 32px;
            height: 32px;
            float: left;
            border-radius: 50%;
            background-color: $white;
            margin-right: 3.2rem;
            box-shadow: 0 2px 20px rgba($black, 0.2);
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 0.3s ease;
            line-height: 0; 
            font-size: 0;
            color: transparent;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                transform: translateY(-2px);
            }
            @include mq($lg) {
                margin-right: 2.8rem;
            }
        }
        .facebook {
            background-color: $facebook;
            background-image: url(../../assets/images/icons/facebook.svg);
        }
        .google {
            background-image: url(../../assets/images/icons/google.svg);
        }
    }
    .action-bottom {
        h5 {
            font-weight: map-get($fw, normal);
            margin-bottom: 1rem;
        }
        @include mq($lg) {
            h5 {
                font-size: 1.5rem;
            }
        }
        @include mq($sm) {
            text-align: center;
            h5 {
                font-size: 1.6rem;
            }
            .a-btn{
                width: 100%;
            }
        }
        @include mq($xsr) {
            h5 {
                font-size: 1.5rem;
            }
        }
    }
    .input-note {
        margin-top: 8px;
        font-size: 1rem;
        color: map-get($grey, light);
    }
    .input-multiple-radio{
        .a-trac-field{
            margin-bottom: 1.6rem;
            &:last-chidl{
                margin-bottom: 0;
            }
            .label.medium{
                font-size: 1.4rem;
            }
        }
    }
    .add-other-pasenger{
        height: 100px;
        border: dashed 1px rgba(map-get($primary-alt, light), 0.5);
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        padding: 7.2rem 2.4rem 2rem;
        color: map-get($grey, light);
        font-size: 1rem;
        position: relative;
        .icon{
            position: absolute;
            top: 2rem;
            left: 50%;
            display: block;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: $primary url(../../assets/images/icons/add-passenger.svg) no-repeat center center;
            transform: translateX(-50%);
        }
    }

    .self-drive {
        padding-bottom: 40px;
    }

    .flight-detail {
        margin-bottom: 4.6rem;
        .form-flight {
            max-width: 33.8rem;
            @include mq($sm) {
                max-width: 100%;
            }
            .form-col {
                @include mq($sm){
                    width: 50%;
                }
                &:nth-child(1){
                    padding-right: 0.5rem;
                }
                &:nth-child(2){
                    padding-left: 0.5rem;
                }
            }
        }
        p.flight-destination {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 43px;
            &::before {
                content: '';
                width: 24px;
                height: 24px;
                background: url('../../assets/images/icons/airport.svg') no-repeat;
                background-size: contain;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}

.success-login-wrapper {
    width: 100%;
    .img-success {
        display: block;
        height: 200px;
        margin: auto;
        text-align: center;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .main-title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: #2A2E36;
        margin: auto;
        margin-top: 22px;
    }
    .sub-title {
        font-size: 16px;
        font-weight: 500;
        color: #8A959E;
        text-align: center;
        margin-top: 18px;
    }
}

.form-passenger-detail{
    margin-bottom: 3.2rem;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    .form-passenger-detail-box{
        margin-bottom: 3.2rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.active {
        // max-height: 1000px;
        max-height: max-content;
        transition: all 0.3s ease;
    }
}

.position-relative{
    position: relative;
}

.disabled-input{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

// ID CARD PHOTO
.m-id-card-photo {
    .upload-area {
        width: 220px;
        position: relative;
        @include mq($sm) {
            width: 100%;
        }
    }
    .drag-zone {
        position: relative;
        width: 100%;
        height: 150px;
        padding: 9rem 4.4rem 2.4rem;
        border-radius: 3px;
        border: dashed 1px rgba(map-get($primary-alt, light), 0.5);
        text-align: center;
        font-size: 1.2rem;
        color: map-get($grey, light);
        margin-bottom: 5px;
        @include mq($sm) {
            height: 172px;
            padding: 11.4rem 4.4rem 2.4rem;
        }
    }
    .icon{
        position: absolute;
        top: 2.6rem;
        left: 50%;
        width: 48px;
        height: 48px;
        background: url(../../assets/images/icons/drag-id-card.svg) no-repeat center center;
        transform: translateX(-50%);
        @include mq($sm) {
            top: 4.8rem;
        }
    }
    .a-btn{
        width: 100%;
    }
    .input-file{
        border: 0;
        outline: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }
    .preview-zone {
        position: relative;
        width: 100%;
        height: 150px;
        // padding: 9rem 4.4rem 2.4rem;
        border-radius: 3px;
        border: dashed 1px rgba(map-get($primary-alt, light), 0.5);
        text-align: center;
        font-size: 1.2rem;
        color: map-get($grey, light);
        margin-bottom: 5px;
        @include mq($sm) {
            height: 172px;
            padding: 11.4rem 4.4rem 2.4rem;
        }
    }
    .preview-image {
        border-radius: 3px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        /* max-height: 150px; */
        /* width: 100%; */
        height: 80%;
    }
}
