@import '../../styles/helpers/index';

.o-promo {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    height: 261px;
    background: #2246A8;
    padding: 24px;
    padding-left: 17px;

    @include mq($sm) {
        display: block;
        width: 100%;
        padding: 18px;
    }

    p.label {
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: 900;
        color: white;
    }

    p.value-small {
        font-size: 16px;
        font-weight: 500;
        color: white;
        margin-bottom: 12px;
    }

    input.promo-code {
        padding: 20px 17px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        margin-bottom: 18px;
        color: white;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.1);
        font-weight: 900;

        @include mq($sm) {
            font-size: 16px;
            padding: 16px 13px;
        }

        &.copied {
            background: rgba(255, 255, 255, 0.4);
        }
    }

    .btn-primary {
        width: 100%;
    }
}
