@import '../../styles/helpers/index';

.t-static {
    .static-banner {
        height: 452px;
        position: relative;
        @include mq($sm){
            height: 228px;
        }
        img.cover {
            width: 100%;
            height: 452px;
            object-fit: cover;
            position: absolute;
            @include mq($sm){
                height: 228px;
            }
        }
        .container {
            height: 100%;
            .content-banner {
                position: absolute;
                top: 50%;
                margin-top: 30px;
                transform: translateY(-50%);
                @include mq($sm){
                    margin-top: 20px;
                }
                p.title-banner {
                    color: white;
                    font-size: 40px;
                    font-weight: 700;
                    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
                    margin: 0px;
                    @include mq($sm){
                        font-size: 24px;
                    }
                }
                p.sub-title-banner {
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
                    margin: 0px;
                    max-width: 80%;
                    @include mq($sm){
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .bread-crumb {
        background: #E1E1E6;
        padding: 18px 0px;
        a {
            text-decoration: none;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            color: #2A2E36;
            vertical-align: middle;
            @include mq($sm){
                font-size: 10px;
            }
            &::before{
                content: '';
                width: 6px;
                height: 6px;
                margin-top: -2px;
                background: url('../../assets/images/icons/next-bread-crumb.svg') no-repeat;
                background-size: contain;
                margin-right: 12px;
                margin-left: 12px;
                display: inline-block;
                vertical-align: middle;
                @include mq($sm){
                    margin-right: 8px;
                    margin-left: 8px;
                }
            }
            &:nth-child(1){
                &::before{
                    display: none;
                }
            }
        }
    }
}