@import '../../styles/helpers/index';

.o-sidebar {
    width: 40rem;
    display: table-cell;
    vertical-align: top;
    padding-left: 2rem;
    .sidebar-mobile-header{
        display: none;
    }
    @include mq($lg) {
        width: 35.6rem;
        padding-left: 1.6rem;
    }
    @include mq($md) {
        width: 28rem;
        padding-left: 1.2rem;
    }
    @include mq($sm) {
        display: block;
        position: fixed;
        top: 0;
        z-index: 17;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        padding-left: 0;        
        transition: all .35s ease;
        transform-origin: top center;
        transform: translateY(110%);
        transition-delay: 0s;
        .sidebar-mobile-header{
            display: block;
            position: relative;
            padding: 1.6rem 2rem;
            transform: translateY(-8px);
            .title{
                margin: 0;
            }
        }
        .sidebar-scrollover{
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            position: absolute;
            top: 58px;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 2rem;
        }
        .close-sidebar{
            width: 32px;
            height: 32px;
            text-indent: -99999px;
            position: absolute;
            top: 14px;
            right: 16px;
            background: url(../../assets/images/icons/close-blue.svg) no-repeat center center;
            opacity: 0;
            transform: rotate(-90deg) scale(.25);
            transition: all .45s ease;
            transition-delay: .5s;
        }
        > * {
            opacity: 0;
            transform: translateY(8px);
            transition: all .3s ease;
            transition-delay: .65s;
            &:nth-child(2){
                transition-delay: .7s;
            }
            &:nth-child(3){
                transition-delay: .75s;
            }
            &:nth-child(4){
                transition-delay: .8s;
            }
            &:nth-child(5){
                transition-delay: .85s;
            }
            &:nth-child(6){
                transition-delay: .9s;
            }
        }
        &.show{
            transform: translateY(0);
            transition-delay: .3s;
            > * {
                opacity: 1;
                transform: translateY(0);
            }
            .close-sidebar{
                opacity: 1;
                transform: rotate(0deg) scale(1);
            }
        }
    }
}