@import '../../styles/helpers/index';

@media only screen and (max-width: 767px){

    .confirm{
        display: block;
        color: #fff;
        background-color: #f47d00;
        border: solid 1px #f47d00;
        width: 100%;
        border-radius: 0;
    }
}

@media only screen and (min-width: 768px){
    .confirm{
        display: none;
    }
}



.tnc-order {
    .btn-primary.block {
        display: none;
        @include mq($sm){
            display: block;
        }
    }
}
.tnc-popup-wrapper {
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    .tnc-popup-content {
        width: 50%;
        height: 100%;
        max-height: 400px;
        overflow: hidden;
        float: left;
        padding-right: 20px; 
        .tnc-content-body {
            height: 100%;
            max-height: calc(400px - 27px);
            overflow: auto;
            padding-bottom: 20px;
        }
    }
    .tnc-popup-menu {
        width: 50%;
        height: 100%;
        max-height: 400px;
        overflow: auto;
        float: right;
        padding-left: 20px;
    }
}