@import '../../styles/helpers/index';

.m-id-card-photo {
    // &.dashboard-id {
        .upload-area {
            width: 220px;
            position: relative;
            @include mq($sm) {
                width: 100%;
            }
        }
        .drag-zone {
            position: relative;
            width: 100%;
            height: 150px;
            padding: 9rem 4.4rem 2.4rem;
            border-radius: 3px;
            border: dashed 1px rgba(map-get($primary-alt, light), 0.5);
            text-align: center;
            font-size: 1.2rem;
            color: map-get($grey, light);
            margin-bottom: 5px;
            @include mq($sm) {
                height: 172px;
                padding: 11.4rem 4.4rem 2.4rem;
            }
            &.plus{
                background: #f2f2f2;
                border: dashed 1px #8A959E;
                margin-bottom: 12px;
            }
        }
        .icon{
            position: absolute;
            top: 2.6rem;
            left: 50%;
            width: 48px;
            height: 48px;
            background: url(../../assets/images/icons/drag-id-card.svg) no-repeat center center;
            transform: translateX(-50%);
            @include mq($sm) {
                top: 4.8rem;
            }
            &.plus {
                background: url(../../assets/images/icons/lingkarplus.svg) no-repeat center center;
            }
        }
    
        .verified{
            background: #2246A8;
            width: 81px;
            height: 22px;
            transition: all .25s ease;
            position: absolute;
            top: 5px;
            right: 5px;
            border-radius: 25px;
            text-transform: uppercase;
            padding: 2px;
            z-index: 1;
            @include mq($sm){
                width: 71px;
                height: 19px;
            }
            &.hide{
                display: none;
            }
            .verified-icon{
                color: #ffffff;
                vertical-align: middle;
                margin-bottom: 0px;
                @include mq($sm){
                    font-size: 10px;
                }
                &::after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-image: url(../../assets/images/logo/check.svg);
                    background-repeat: no-repeat;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                    margin-top: -2px;
                }
            }
        }
        .a-btn{
            width: 100%;
        }
        .img-uploaded {
            position: absolute;
            top: 1px;
            left: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: 4px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .input-file{
            border: 0;
            outline: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
    // }
}

.m-id-card-photo {
    &.dashboard-id {
        @include mq($sm) {
            display: inline-block;
            vertical-align: top;
            width: calc(50% - 4px) !important;
            height: 91px;
            position: relative;
    
            &:nth-child(1) {
                margin-right: 2px;
            }
    
            &:nth-child(2) {
                margin-left: 2px;
            }
        }
    
        .drag-zone,
        .upload-area {
            @include mq($sm) {
                height: 91px;
                padding: 0px;
                padding-bottom: 20px;
            }
        }
    
        .icon {
            @include mq($sm) {
                top: 23px;
                width: 23px;
                height: 23px;
                background-size: contain;
            }
        }
    
        .description {
            @include mq($sm) {
                position: absolute;
                bottom: 10px;
                width: 100%;
            }
        }
    }
}