@import "../../styles/helpers/index";
// radio
$radio-checked-color: $primary;
$radio-border-color: map-get($grey, lightest);
$radio-size: 20px;
$radio-checked-size: 10px;
$radio-ripple-size: 10px;
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0);
    }
    50% {
        box-shadow: 0 0 0 $radio-ripple-size rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 $radio-ripple-size rgba(0, 0, 0, 0);
    }
}

// checkbox
$checkbox-size: 20px;
$checkbox-animation-ripple: 700ms;
$checkbox-animation-check: 0.3s;
$lightbg-text: rgba(0, 0, 0, 0.84);
@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0;
        height: 0;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
    51% {
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 10px inset;
    }
    100% {
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: scale(13, 13);
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: scale(13, 13);
    }
}

// input text
@keyframes inputHighlighter {
    from {
        background: transparent;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.pick-hour {
    position: relative;
    .a-trac-field {
        transform: none;
        label {
            color: map-get($grey, light);
            font-size: 1.2rem;
            font-weight: normal;
            position: absolute;
            top: -22px;
            pointer-events: none;
            left: 0;
            transition: 0.25s ease all;
            transform: translateY(10px);
        }
        .icon {
            right: 15px;
            top: 5px;
            @include mq($sm){
                right: 5px;
            }
        }
        .react-datepicker-popper {
            width: calc(100% - 15px);
            .react-datepicker.react-datepicker--time-only {
                width: 100%;
                border: none;
                background: white;
                box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
                .react-datepicker__triangle {
                    display: none;
                }
                .react-datepicker__time-container  {
                    float: none;
                    width: 100%;
                    background: white;
                    border-radius: 4px;
                    .react-datepicker__header.react-datepicker__header--time {
                        display: none;
                    }
                    .react-datepicker__time {
                        .react-datepicker__time-box {
                            width: 100%;
                            text-align: left;
                            ul.react-datepicker__time-list{
                                li.react-datepicker__time-list-item {
                                    font-size: 14px;
                                    color: gray;
                                }
                                .react-datepicker__time-list-item.react-datepicker__time-list-item--selected {
                                    background: #d0d4dd;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.a-trac-field {
    // position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    transform: translateZ(0);
    &.initial {
        width: initial;
    }
    // input text /////////////////////////////////////////////////////////////
    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea {
        font-size: 1.6rem;
        padding: 10px 0;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid map-get($grey, light);
        background: transparent;
        outline: none;
        &:focus~label,
        &:valid~label {
            transform: translateY(-12px);
            font-size: 1.2rem;
            color: map-get($grey, light);
        }
        & + label {
            color: map-get($grey, light);
            font-size: 1.6rem;
            font-weight: normal;
            position: absolute;
            top: 0;
            pointer-events: none;
            left: 0;
            transition: 0.25s ease all;
            transform: translateY(10px);
        }
        @include mq($lg) {
            font-size: 1.5rem;
            &:focus~label,
            &:valid~label {
                font-size: 1.15rem;
            }
            & + label {
                font-size: 1.5rem;
            }
        }
        @include mq($sm) {
            font-size: 1.6rem;
            &:focus~label,
            &:valid~label {
                font-size: 1.2rem;
            }
            & + label {
                font-size: 1.6rem;
            }
        }
        @include mq($xsr) {
            font-size: 1.5rem;
            &:focus~label,
            &:valid~label {
                font-size: 1.15rem;
            }
            & + label {
                font-size: 1.5rem;
            }
        }
    }
    .bar {
        position: relative;
        display: block;
        width: 100%;
        &::before {
            content: "";
            height: 2px;
            width: 100%;
            bottom: 0;
            position: absolute;
            left: 0;
            background: $primary;
            transition: 0.2s ease all;
            transform: scaleX(0);
            transform-origin: center center;
        }
    }
    input[type="text"]:focus~.bar:before,
    input[type="number"]:focus~.bar:before,
    input[type="password"]:focus~.bar:before {
        transform: scaleX(1);
    }
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    input[type="text"]:focus~.highlight {
        animation: inputHighlighter 0.3s ease;
    }
    input[type="number"]:focus~.highlight {
        animation: inputHighlighter 0.3s ease;
    }
    input[type="password"]:focus~.highlight {
        animation: inputHighlighter 0.3s ease;
    }
    .icon {
        position: absolute;
        right: 5px;
        top: 10px;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: transparent;
        cursor: pointer;
        &.password-hide {
            background-image: url(../../assets/images/icons/show-password.svg);
        }
        &.password-show {
            background-image: url(../../assets/images/icons/hide-password.svg);
        }
        &.clock {
            background-image: url(../../assets/images/icons/ic-hour.svg);
        }
        @include mq($lg) {
            width: 22px;
            height: 22px;
        }
        @include mq($sm) {
            width: 24px;
            height: 24px;
        }
        @include mq($xsr) {
            width: 22px;
            height: 22px;
        }
    }
    // input radio ////////////////////////////////////////////////////////////////////////
    input[type="radio"] {
        display: none;
        &:checked+label::before {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
            border-color: $radio-checked-color;
            animation: ripple .3s linear forwards;
        }
        &:checked+label::after {
            transform: scale(1);
        }
        &+label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: $radio-size;
            position: relative;
            padding: 0 ($radio-size + 10px);
            margin-bottom: 0;
            cursor: pointer;
            vertical-align: bottom;
            &::before,
            &::after {
                position: absolute;
                content: '';
                border-radius: 50%;
                transition: all .3s ease;
                transition-property: transform, border-color;
            }
            &::before {
                left: 0;
                top: 0;
                width: $radio-size;
                height: $radio-size;
                border: 1px solid $radio-border-color;
                background-color: white;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
            }
            &::after {
                top: $radio-size / 2 - $radio-checked-size / 2;
                left: $radio-size / 2 - $radio-checked-size / 2;
                width: $radio-checked-size;
                height: $radio-checked-size;
                transform: scale(0);
                background: $radio-checked-color;
            }
        }
    }
    // input checkbox //////////////////////////////////////////////////////////////////
    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        margin: 0;
        z-index: -1;
        width: 0;
        height: 0;
        overflow: hidden;
        left: 0;
        pointer-events: none;
    }
    input[type=checkbox]:focus+.checkbox-material .check:after {
        opacity: 0.2;
    }
    input[type=checkbox]:checked+.checkbox-material .check {
        border-color: $primary;
    }
    input[type=checkbox]:checked+.checkbox-material .check:before {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
        animation: checkbox-on $checkbox-animation-check forwards ease-out;
        color: $primary;
    }
    input[type=checkbox]:not(:checked)+.checkbox-material:before {
        animation: rippleOff $checkbox-animation-ripple forwards ease-out;
    }
    input[type=checkbox]:checked+.checkbox-material:before {
        animation: rippleOn $checkbox-animation-ripple forwards ease-out;
    }
    input[type=checkbox]:not(:checked)+.checkbox-material .check:after {
        animation: rippleOff $checkbox-animation-ripple forwards ease-out;
    }
    input[type=checkbox]:checked+.checkbox-material .check:after {
        animation: rippleOn $checkbox-animation-ripple forwards ease-out;
    }
    input[type=checkbox][disabled]+.checkbox-material .check:after {
        background-color: $lightbg-text;
        transform: rotate(-45deg);
    }
    .checkbox-material {
        vertical-align: middle;
        position: relative;
        top: 3px;
        &:before {
            position: absolute;
            left: 8px;
            top: 2px;
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            height: 4px;
            width: 4px;
            border-radius: 100%;
            z-index: 1;
            opacity: 0;
            margin: 0;
        }
        .check {
            position: relative;
            display: inline-block;
            width: $checkbox-size;
            height: $checkbox-size;
            border: 1px solid $radio-border-color;
            border-radius: 50%;
            overflow: hidden;
            z-index: 1;
            margin-right: 10px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
            background-color: white;
            &:before {
                position: absolute;
                content: "";
                transform: rotate(45deg);
                display: block;
                margin-top: -3px;
                margin-left: 7px;
                width: 0;
                height: 0;
                box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
                animation: checkbox-off $checkbox-animation-check forwards ease-out;
            }
        }
        &+.checkbox-text {
            display: table-cell;
            vertical-align: middle;
            padding-top: 4px;
        }
    }
    // select ////////////////////////////////////////////////////////////////////////////
    .select {
        display: block;
        .selected {
            cursor: pointer;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: map-get($fw, bold);
            padding-right: 6.4rem;
            padding-left: 2rem;
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                right: 2rem;
                top: 2px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid black;
            }
            @include mq($md) {
                font-size: 1.1rem;
                &::after {
                    border-width: 5px;
                }
            }
            @include mq($sm) {
                padding-right: 4.8rem;
                padding-left: 1.6rem;
                .select-label{
                    display: none;
                }
                &::after {
                    right: 1.6rem;
                }
            }
            &.display-icon {
                padding-left: 2.4rem;
            }
        }
        .select-icon{
            top: 0;
            display: block;
            width: 2rem;
            height: 2rem;
            border: solid 1px #e1e1e1;
            overflow: hidden;
            border-radius: 50%;
            position: absolute;
            left: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .select-item {
            position: absolute;
            display: block;
            opacity: 0;
            top: 26px;
            left: 0;
            width: 100%;
            background: white;
            border-radius: 3px;
            box-shadow: 0 2px 10px rgba($black, .2);
            transform: translateY(8px);
            transition: all 0.2s ease;
            transition-delay: .15s;
            border: 1px solid rgba(map-get($grey, darkest), .12);
            visibility: hidden;
            @include mq($sm) {
                left: auto;
                right: 0;
                min-width: 20rem;
            }
            &.active {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0s;
                visibility: visible;
                .select-list {
                    .item {
                        opacity: 1;
                        transform: translateY(0);
                        transition: opacity .25s ease 0.15s, transform .25s ease 0.15s, color .25s ease 0s;
                    }
                }
            }
            .select-list {
                list-style: none;
                margin: 0;
                padding: 4px 18px;
            }
            .item {
                margin: 0;
                padding: 12px 0;
                cursor: pointer;
                color: map-get($grey, light);
                opacity: 0;
                transform: translateY(4px);
                border-bottom: 1px solid rgba(map-get($grey, darkest), .12);
                transition: opacity .25s ease 0s, transform .25s ease 0s, color .25s ease 0s;
                position: relative;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: map-get($fw, bold);
                &:hover,
                &.selected-item{
                    color: black;
                    color: map-get($grey, darkest);
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        &.list-has-icon{
            .icon-select{
                display: block;
                width: 2rem;
                height: 2rem;
                border: solid 1px #e1e1e1;
                overflow: hidden;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 1.1rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item{
                padding-left: 2.8rem;
            }
        }
    }
    // error /////////////////////////////////////////////////////////////////////////////
    .error-text {
        margin-top: 16px;
        color: red;
        font-size: 12px;
    }
    // label /////////////////////////////////////////////////////////////////////////////
    .label {
        display: table;
        cursor: pointer;
        color: black;
        &.small {
            font-size: 12px
        }
        &.medium {
            font-size: 18px;
        }
    }
    // range //////////////////////////////////////////////////////////////////////////////
    .rc-slider-track {
        background-color: $primary;
    }
    .rc-slider-rail {
        background-color: #d3d7df;
    }
    .rc-slider-handle {
        border: none;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        margin-top: -8px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35);
        &:active {
            box-shadow: 0 2px 6px 0 $primary;
        }
    }
    .container-radio {
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 12px 20px 12px 52px;
        display: inline-block;
        width: 100%;
        transition: all .25s ease;
        box-shadow: 0px 2px 10px 0px rgba(#314a62, .2);
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:checked + .checkmark {
                border-color: $primary;
                background-color: $primary;
                &:after{
                    transform: scale(1);
                }
            }
        }
        .bank-wrapper{
            height: 24px;
            img{
                max-height: 100%;
                width: auto;
            }
        }
        .checkmark {
            position: absolute;
            top: 50%;
            left: 20px;
            height: 20px;
            width: 20px;
            margin-top: -10px;
            background-color: $white;
            border-radius: 50%;
            border: 1px solid $line-thin;
            box-shadow: 0px 2px 5px 0px #d0d4dd;
            transition: all .25s ease;
            &:after{
                content: "";
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                background: url(../../assets/images/icons/checklist-white.svg) no-repeat center center / 10px;
                border-radius: 50%;
                top: -1px;
                left: -1px;
                transform-origin: center center;
                transition: all .35s ease;
                transform: scale(0);
            }
        }
        &:hover  {
            transform: translateY(-2px);
            box-shadow: 0px 2px 12px 0px rgba(#314a62, .35);
        }
    }
}
