@import '../../styles/helpers/index';

.a-text {
  color: $black;

  &.indent-1 {
    text-indent: 1em;
  }

  &.indent-2 {
    text-indent: 2em;
  }

  &.indent-3 {
    text-indent: 3em;
  }
  
  &.bold {
    font-weight: bold;
  }

  &.disabled {
    color: map-get($grey, light);
  }

  &.centered {
    text-align: center;
  }
}
