@import '../../styles/helpers/index';

.o-counter {
    display: table;
    min-width: 160px;
    height: 48px;
    background-color: $white;
    border-top: solid 1px $line-thin;
    color: map-get($grey, darkest);
    overflow: hidden;
    border-collapse: separate;
    @include mq($lg) {
        min-width: 124px;
        height: 42px;
    }
    .counter-col {
        display: table-cell;
        vertical-align: middle;
        table-layout: fixed;
        &:first-child {
            min-width: 48px;
            max-width: 64px;
            border-right: solid 1px $line-thin;
        }
        &:last-child {
            min-width: 48px;
            max-width: 64px;
            border-left: solid 1px $line-thin;
        }
        &:nth-child(2) {
            padding: 4px 8px;
            text-align: center;
            width: 45%;
        }
    }
    button {
        text-indent: -99999px;
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 0.2s ease;
        background-color: transparent;
        &:active {
            transform: translateY(1px);
        }
    }
    .counter-decrement {
        background-image: url(../../assets/images/icons/counter-decrement.svg);
        @include mq($lg) {
            background-size: 9px auto;
        }
    }
    .counter-increment {
        background-image: url(../../assets/images/icons/counter-increment.svg);
        @include mq($lg) {
            background-size: 9px auto;
        }
    }
    .value {
        font-size: 1.4rem;
        font-weight: map-get($fw, bold);
        @include mq($lg) {
            font-size: 1.35rem;
        }
    }
    &.rounded {
        border-radius: 48px;
        border: solid 1px $line-thin;
        .counter-col:first-child {
            border-right: 0;
        }
        .counter-col:last-child {
            border-left: 0;
        }
    }
}
