@import '../../styles/helpers/index';

.rental-list-container {
    position: relative;
    width: 100%;
    display: table;
    height: auto;
    background-color: white;
    box-shadow: 0px 2px 20px 0 rgba(#314a62, .2);
    border-collapse: collapse;
    table-layout: fixed;
    @include mq($sm) {
        display: block;
        position: static;
    }
    // Filter
    .rental-filter {
        position: relative;
        display: table-cell;
        top: 0;
        left: 0;
        width: 340px;
        background-color: map-get($grey, filter-side);
        border-right: 1px solid rgba(map-get($grey, darkest), .12);
        vertical-align: top;
        padding-bottom: 4.8rem;
        @include mq($lg) {
            width: 300px;
            padding-bottom: 4rem;
        }
        @include mq($md) {
            width: 260px;
            padding-bottom: 3.2rem;
        }
        @include mq($sm) {
            display: block;
            position: fixed;
            width: 100%;
            top: 0;
            bottom: 0;
            z-index: 10;
            padding-top: 4rem;
            transition: all .4s ease;
            transform-origin: top center;
            transform: translateY(100%);
            transition-delay: .15s;
            // transform: scaleY(0);
            .filter-list{
                position: absolute;
                bottom: 0;
                width: 100%;
                top: 48px;
                padding-bottom: 10rem;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                transition: all .3s ease;
                opacity: 0;
                transform: translateY(-8px);
                transition-delay: 0s;
            }
            &.show{
                transform: translateY(0);
                .filter-list,
                .filter-close,
                .footer-filter-action{
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: .5s;
                }
            }
        }
        @include mq($xsr) {
            .filter-list{
                top: 44px;
                padding-bottom: 8.8rem;
            }
        }
        // Filter  Header
        .filter-header{
            height: 75px;
            display: table;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            background-color: $white;
            border-bottom: 1px solid rgba(map-get($grey, darkest), .12);
            @include mq($lg) {
                height: 68px;
            }
            @include mq($md) {
                height: 56px;
            }
            @include mq($sm) {
                display: none;
            }
            .title,.reload{
                display: table-cell;
                vertical-align: middle;
            }
            .title{
                padding: 0 4rem;
                text-transform: uppercase;
                border-right: 1px solid rgba(map-get($grey, darkest), .12);
                font-size: 1.2rem;
                font-weight: map-get($fw, bold);
                color: map-get($grey, darkest);
                @include mq($lg) {
                    padding: 0 2.8rem;
                }
                @include mq($md) {
                    padding: 0 2rem;
                    font-size: 1.1rem;
                }
            }
            .reload{
                width: 80px;
                text-align: center;
                @include mq($lg) {
                    width: 68px;
                }
                @include mq($md) {
                    width: 58px;
                }
            }
            .icon {
                width: 25px;
                height: 25px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto;
                cursor: pointer;
                transition: transform .25s ease;
                transform-origin: center center;
                transition-delay: .1s;
                &.ic-reload {
                    background-image: url(../../assets/images/icons/refresh.svg);
                    &:hover {
                        transform: rotate(180deg);
                    }
                }
                @include mq($lg) {
                    width: 18px;
                    height: 18px;
                    background-size: contain;
                }
                @include mq($md) {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .filter-close{
            display: none;
            @include mq($sm) {
                display: block;
                width: 36px;
                height: 36px;
                position: absolute;
                top: .6rem;
                right: .8rem;
                background: url(../../assets/images/icons/close-blue.svg) no-repeat center center;
                opacity: 0;
                transition: all .3s ease;
                transform: translateY(-8px);
                transition-delay: 0s;
            }
            @include mq($xsr) {
                width: 32px;
                height: 32px;
                right: .5rem;
                background-size: 16px auto;
            }
        }
        // filter-item
        .filter-item{
            padding: 3rem 4rem;
            border-bottom: 1px solid rgba(map-get($grey, darkest), .12);
            @include mq($lg) {
                padding: 2.4rem 3.2rem;
            }
            @include mq($md) {
                padding: 2rem 2.4rem;
            }
            @include mq($sm) {
                padding: 3.2rem 4rem;
            }
            @include mq($xsr) {
                padding: 2.4rem 3.2rem;
            }
            &:last-child{
                border-bottom: 0;
            }
            // title
            &-title{
                width: 100%;
                @include cf;
                margin-bottom: 2rem;
                @include mq($lg) {
                    margin-bottom: 1.6rem;
                }
                .a-text{
                    float: left;
                    font-size: 1.2rem;
                    font-weight: map-get($fw, bold);
                    color: map-get($grey, darkest);
                    @include mq($md) {
                        font-size: 1.1rem;
                    }
                    @include mq($sm) {
                        font-size: 1.2rem;
                    }
                }
                .btn-clear{
                    padding: 0;
                    bottom: 0;
                    outline: 0;
                    background-color: transparent;
                    cursor: pointer;
                    font-size: 1.2rem;
                    float: right;
                    text-align: right;
                    margin-top: 2px;
                    color: map-get($primary-alt, light);
                    @include mq($md) {
                        font-size: 1.1rem;
                    }
                    @include mq($sm) {
                        font-size: 1.2rem;
                    }
                }
            }
            &-body{
                .rc-slider{
                    margin-top: 1rem;
                    @include mq($lg) {
                        margin-top: .8rem;
                    }
                    @include mq($md) {
                        margin-top: .5rem;
                    }
                    @include mq($sm) {
                        margin-top: .8rem;
                    }
                }
            }
            &-has-space{
                .a-trac-field{
                    margin-bottom: 2rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .checkbox-text{
                        font-size: 1.4rem;
                    }
                    @include mq($lg) {
                        margin-bottom: 1.6rem;
                    }
                    @include mq($md) {
                        margin-bottom: 1.2rem;
                    }
                    @include mq($sm) {
                        margin-bottom: 1.6rem;
                    }
                }
            }
        }
        .luxury{
            padding: 0;
            bottom: 0;
            outline: 0;
            font-size: 1.2rem;
            display: flex;
            padding-bottom: 40px;
            @include mq($md) {
                font-size: 1.1rem;
            }
            @include mq($sm) {
                font-size: 1.2rem;
            }
        }
        .filter-price-range{
            margin-top: 3.2rem;
            display: table;
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            @include mq($lg) {
                margin-top: 2.8rem;
            }
            @include mq($md) {
                margin-top: 2rem;
            }
            @include mq($sm) {
                margin-top: 2.8rem;
            }
            .price{
                display: table-cell;
                width: 50%;
                text-align: center;
                &:first-child{
                    border-right: 1px solid rgba(map-get($grey, darkest), .12);
                }
                &-text{
                    font-size: 1.2rem;
                    color: $secondary;
                    margin-bottom: 4px;
                    font-weight: map-get($fw, extra-bold);
                    @include mq($md) {
                        font-size: 1.05rem;
                    }
                    @include mq($sm) {
                        font-size: 1.2rem;
                    }
                }
                &-currency{
                    font-size: 1.4rem;
                    color: map-get($grey, darkest);
                    font-weight: map-get($fw, bold);
                    margin: 0;
                    @include mq($md) {
                        font-size: 1.2rem;
                    }
                    @include mq($sm) {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .footer-filter-action {
            display: none;
            @include mq($sm) {
                display: table;
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;
                position: absolute;
                bottom: 0;
                background-color: $white;
                opacity: 0;
                transition: all .3s ease;
                transform: translateY(8px);
                transition-delay: 0s;
                .col{
                    display: table-cell;
                    width: 50%;
                    padding: 2.4rem 1.2rem;
                    &:first-child{
                        text-align: right;
                    }
                    @include mq($xsr) {
                        padding: 2rem .6rem;
                        .a-btn{
                            min-width: 132px;
                        }
                    }
                }
            }
        }
    }
    .rental-content {
        position: relative;
        display: table-cell;
        vertical-align: top;
        height: 100%;
        &-filter-wrapper{
            border-bottom: 1px solid rgba(map-get($grey, darkest), .12);
            height: 75px;
            position: relative;
            z-index: 2;
            @include mq($lg) {
                height: 68px;
            }
            @include mq($md) {
                height: 56px;
            }
            @include mq($sm) {
                height: 44px;
            }
        }
        &-filter{
            display: table;
            border-collapse: collapse;
            padding: 0;
            height: 100%;
            @include mq($sm) {
                width: 100%;
                background-color: map-get($grey, filter-side);
            }
        }
        .filter-item{
            padding: 0;
            display: table-cell;
            vertical-align: middle;
            min-width: 25rem;
            position: relative;
            border-right: 1px solid rgba(map-get($grey, darkest), .12);
            @include mq($lg) {
                min-width: 20rem;
            }
            @include mq($sm) {
                min-width: initial;
                &:last-child{
                    border-right: 0;
                }
            }
        }
    }
    .loading-event {
        table-layout: fixed;
        border-collapse: collapse;
        text-align: center;
        position: relative;
        height: 100%;
        margin-top: 20px;
        @include mq($md) {
            display: block;
            width: 100%;
        }
        @include mq($sm) {
            display: table;
            width: 100%;
        }
    }
    .filter-title-mobile{
        display: none;
        @include mq($sm) {
            width: 10rem;
            display: table-cell;
            vertical-align: middle;
            padding: .5rem 1.6rem .5rem 2rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            border-right: 1px solid rgba(map-get($grey, darkest), .12);
            font-weight: map-get($fw, bold);
            background: url(../../assets/images/icons/filter.svg) no-repeat 85% center;
        }
        @include mq($xsr) {
            width: 9rem;
            padding-left: 1.6rem;
        }
    }
}

.car-rental-list {
    position: relative;
    display: block;
    z-index: 3;
    padding-bottom: 3.2rem;
    @include mq($md) {
        padding-bottom: 2.4rem;
    }
    @include mq($sm) {
        position: static;
        margin-left: -2rem;
        margin-right: -2rem;
    }
}

.airport-destination-info {
    background: #E2E6EA;
    padding: 15px 26px 12px;
    @include mq($sm) {
        padding: 15px 20px 12px;
    }
    p.content-info {
        display: inline-block;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        vertical-align: middle;
        max-width: 380px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include mq($sm) {
            font-size: 10px;
            max-width: 150px;
        }
        span.label-info {
            font-weight: 700;
        }
    }
    .icon-to {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin: 0px 15px;
        @include mq($sm) {
            width: 16px;
            height: 16px;
            margin: 0px 7px;
        }
        img {

        }
    }
}

p.recomendation-label {
    margin: 0;
    padding: 14px 26px;
    background: #2246A8;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.recomendation-summary {
    background: white;
    margin-bottom: 20px;
    height: 70px;
    box-shadow: 0px -6px 20px 0px rgba(0, 0, 0, 0.1);
    .sum-wrapper {
        float: right;
        padding-right: 50px;
        margin-top: 14px;
        .sum-info {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            .label {
                font-size: 14px;
                font-weight: 700;
                margin: 0px;
                color: #8A959E;
            }
            .value {
                font-size: 18px;
                font-weight: 700;
                margin: 0px;
                color: #2A2E36;
            }
        }
        .sum-action {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
