@import '../../styles/helpers/index';

.rent-top-form {
    position: relative;
    z-index: 4;

    .rent-booking-detail,
    .close-booking-detail {
        display: none;
    }

    .o-rent-form {
        width: calc(100% + 6rem);
        margin-left: -3rem;
        margin-right: -3rem;

        @include mq($lg) {
            width: calc(100% + 4.8rem);
            margin-left: -2.4rem;
            margin-right: -2.4rem;
        }
        @include mq($md) {
            width: calc(100% + 4rem);
            margin-left: -2rem;
            margin-right: -2rem;
        }
        @include mq($sm) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .rent-form-item {
            width: 25%;

            @include mq($sm) {
                width: 100%;
            }
        }
    }

    @include mq($sm) {
        position: static;

        .rent-booking-detail {
            position: relative;
            display: block;
            font-size: 1.2rem;
            line-height: 1.2;
            padding: 1.5rem 2rem 1.3rem 4.4rem;
            font-weight: map-get($fw, bold);
            text-transform: uppercase;
            color: $white;
            transition: transform .3s ease;
            transform: translateY(0);
            background: map-get($primary-alt, light) url(../../assets/images/icons/booking-detail.svg) no-repeat 20px center;

        }

        .toggle-booking-detail {
            display: block;
            width: 44px;
            height: 44px;
            position: absolute;
            top: 1px;
            right: 8px;
            text-indent: -99999px;
            cursor: pointer;
            transform-origin: center center;

            &:before,
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                top: -3px;
                left: 0;
                display: block;
                position: absolute;
                transition: all .35s ease;
                transform-origin: center center;
            }

            &:before {
                background: url(../../assets/images/icons/arrow-right-white.svg) no-repeat center center;
                opacity: 1;
                transform: rotate(0deg);
            }

            &:after {
                background: url(../../assets/images/icons/close.svg) no-repeat center center / 18px auto;
                opacity: 0;
                transform: rotate(-180deg) scale(.5);
            }
        }

        .container {
            padding: 0;
            width: 100%;
            position: fixed;
            width: 100%;
            z-index: 11;
            top: 45px;
            bottom: 0;
            opacity: 0;
            transform: translateY(24px) scaleY(0);
            transform-origin: top center;
            transition: all .25s ease;
            background-color: map-get($primary-alt, dark);
        }

        &.show {
            .rent-booking-detail {
                position: fixed;
                z-index: 11;
                width: 100%;
                padding: 1.6rem 2rem;
                background: none;
                background-color: map-get($primary-alt, dark);
                transform: translateY(-58px);
            }

            .toggle-booking-detail:before {
                opacity: 0;
                transform: rotate(90deg);
            }

            .toggle-booking-detail:after {
                opacity: 1;
                transform: rotate(0deg) scale(1);
            }

            .container {
                opacity: 1;
                transform: translateY(0) scaleY(1);
                transition: all .35s ease;
            }
        }

        &.showed-input {
            .container {
                top: 0;
            }
        }
    }
}

.rent-top-background {
    width: 100%;
    top: 68px;
    position: absolute;
    z-index: 2;
    &:before,
    &:after {
        content: "";
        width: 50%;
        position: absolute;
        height: 124px;
        top: 0;
        z-index: 1;
        @include mq($lg) {
            height: 116px;
        }
    }

    &:before {
        left: 0;
        background-color: map-get($map: $primary-alt, $key: light);
    }

    &:after {
        right: 0;
        background-color: map-get($map: $primary-alt, $key: extremely-darkest);
    }

    @include mq($sm) {
        display: none;
    }
}

.o-rent-form {
    color: $white;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);
    display: table;
    border: 0;
    border-collapse: collapse;
    table-layout: fixed;
    transition: all .5s ease;
    transition-delay: .75s;

    &.input-on-top {
        position: absolute;
        top: 0;
        left: 0;
    }
    @include mq($sm) {
        top: 0;
        bottom: 0;
        display: block;
        background-color: map-get($map: $primary-alt, $key: extremely-darkest);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        transition-delay: 0s;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transform: translateX(-10%) scale(0.9);
        z-index: 2;

        &.input-on-top {
            padding-top: 120px;
        }
    }

    &.active {
        opacity: 1;
        transform: translateY(0);
        z-index: 3;

        @include mq($sm) {
            transform: translateX(0) scale(1);
            transition-delay: 0s;

            +.o-rent-form {
                transform: translateX(100%) scale(1);
            }
        }
    }
    .rent-form-item {
        width: 33.33%;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        background-color: $primary;
        position: relative;
        transition: width .25s linear;
        @include mq($sm) {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .switch-button {
        position: absolute;
        top: 50%;
        right: -15px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        z-index: 10;
        text-indent: -99999px;
        cursor: pointer;
        background: map-get($button, primary-default) url(../../assets/images/icons/switch.svg) no-repeat center center;
        transition: all .3s ease;
        transform-origin: center center;
        transform: translateY(-25%) rotateY(0deg);

        &:hover {
            background-color: map-get($button, primary-hover);
        }

        &:active {
            background-color: map-get($button, primary-press);
        }

        &.switched {
            transform: translateY(-25%) rotateY(180deg);
        }

        @include mq($sm) {
            display: none;
        }
    }

    .primary {
        &-light {
            background-color: map-get($map: $primary-alt, $key: light);

            .rent-form-input {
                background-color: map-get($map: $primary-alt, $key: light);
            }
        }

        &-dark {
            background-color: map-get($map: $primary-alt, $key: dark);

            .rent-form-input {
                background-color: map-get($map: $primary-alt, $key: dark);
            }

            .input-search-filter:after {
                background-image: linear-gradient(-180deg, rgba(31, 65, 155, 0.00) 0%, rgba(31, 65, 155, 0.75) 50%, #1F419B 100%);
            }
        }

        &-darkest {
            background-color: map-get($map: $primary-alt, $key: darkest);

            .rent-form-input {
                background-color: map-get($map: $primary-alt, $key: darkest);
            }
        }

        &-medium-darkest {
            background-color: map-get($map: $primary-alt, $key: medium-darkest);

            .rent-form-input {
                background-color: map-get($map: $primary-alt, $key: medium-darkest);
            }
        }

        &-extremely-darkest {
            background-color: map-get($map: $primary-alt, $key: extremely-darkest);

            .rent-form-input {
                background-color: map-get($map: $primary-alt, $key: extremely-darkest);
            }
        }
    }
}

// Form Display
.o-rent-form {
    .rent-form-display {
        padding: 2rem 3rem;
        position: relative;
        z-index: 9;
        user-select: none;

        @include mq($lg) {
            padding: 2rem 2.4rem;
        }

        @include mq($md) {
            padding: 2rem 2rem;
        }

        .label {
            color: $label-rent-form;
            font-size: 1.2rem;
            margin-bottom: 1.2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include mq($lg) {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }
            @include mq($sm) {
                font-size: 1.2rem;
            }
        }
        .value {
            font-size: 1.6rem;
            line-height: 1.5;
            color: $white;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include mq($lg) {
                font-size: 1.5rem;
            }

            @include mq($sm) {
                font-size: 1.6rem;
            }
        }
        .arrow-right {
            display: inline-block;
            width: 16px;
            height: 16px;
            text-indent: -99999px;
            cursor: pointer;
            margin: 0 1.2rem;
            position: relative;
            top: 2px;
            background: transparent url(../../assets/images/icons/arrow-right-white.svg) no-repeat center center;
        }

        .hour-minutes {
            margin-left: 1.6rem;
        }

        &.search-icon {
            .value {
                padding-left: 3.5rem;
                background: url(../../assets/images/icons/search.svg) no-repeat left center;

                @include mq($lg) {
                    padding-left: 2.4rem;
                    background-size: 16px auto;
                }
            }
        }
    }
    .search-form {
        .value {
            padding-left: 4.4rem;
            background: url(../../assets/images/icons/search.svg) no-repeat left center;
            @include mq($lg) {
                padding-left: 2.4rem;
                background-size: 16px auto;
            }
        }
    }

    &.input-on-top {
        .rent-form-display {
            padding: 4.8rem 3rem 4.3rem;

            @include mq($lg) {
                padding: 4rem 2.4rem;
            }

            @include mq($md) {
                padding: 3.2rem 2rem;
            }
        }
    }
}

// Form Input Show
.o-rent-form {
    .rent-form-item {
        &.width-20 {
            width: 22%;

            @include mq(1440px) {
                width: 25%;
            }

            @include mq($lg) {
                width: 30%;
            }

            @include mq($md) {
                width: 50%;
            }

            @include mq($sm) {
                width: 100%;
            }
        }

        &.show {
            transition-delay: 0s;

            &.width-20 {
                width: 25%;

                @include mq(1440px) {
                    width: 25%;
                }

                @include mq($lg) {
                    width: 30%;
                }

                @include mq($md) {
                    width: 50%;
                }

                @include mq($sm) {
                    width: 100%;
                }
            }

            &.width-25 {
                width: 25%;

                @include mq(1440px) {
                    width: 30%;
                }

                @include mq($lg) {
                    width: 35%;
                }

                @include mq($md) {
                    width: 50%;
                }

                @include mq($sm) {
                    width: 100%;
                }
            }

            &.width-50 {
                width: 50%;

                @include mq(1440px) {
                    width: 60%;
                }

                @include mq($lg) {
                    width: 70%;
                }

                @include mq($md) {
                    width: 120%;
                }

                @include mq($sm) {
                    width: 100%;
                }
            }

            &.width-85 {
                width: 85%;

                @include mq(1440px) {
                    width: 105%;
                }

                @include mq($lg) {
                    width: 180%;
                }

                @include mq($md) {
                    width: 500%;
                }

                @include mq($sm) {
                    width: 100%;
                }
            }

            &.width-95 {
                // width: 95%;
                width: 110%;
                max-width: 600px;

                @include mq(1440px) {
                    width: 145%;
                }

                @include mq($lg) {
                    width: 180%;
                }

                @include mq($md) {
                    width: 500%;
                }

                @include mq($sm) {
                    width: 100%;
                }
            }

            .rent-form-input {
                transform: scaleY(1);
                transition-delay: .15s;

                .item,
                .filter-list,
                .input-search,
                .input-search-filter.active,
                .trac-calendar-theme {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: .35s;
                }
            }

            @include mq($sm) {
                z-index: 16;

                .mobile-top-header {
                    opacity: 1;
                    transition-delay: .25s;
                }

                .rent-form-input {
                    .input-search-filter.active {
                        z-index: 16;
                        transition: all .35s ease;
                        transition-delay: 0s;
                    }
                }
            }
        }
    }

    &-add-button {
        display: table;
        width: 100%;
        height: 75px;
        text-align: center;
        background-color: #091A46;

        &-caption {
            cursor: pointer;
            display: table-cell;
            vertical-align: middle;
        }
    }
}

// Form Input
.o-rent-form {
    .rent-form-input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.2s ease-out;
        z-index: 10;
        transform: scaleY(0);
        transform-origin: top center;
        transition-delay: .1s;
        overflow: hidden;

        .mobile-top-header {
            display: none;
        }

        @include mq($sm) {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 10;
            overflow-x: hidden;
            overflow-y: scroll;
            padding-top: 52px;
            padding-bottom: 32px;
            -webkit-overflow-scrolling: touch;

            .mobile-top-header {
                display: block;
                padding: 2rem;
                position: fixed;
                z-index: 4;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all .25s ease;
                transition-delay: 0s;

                h4 {
                    margin: 0;
                    line-height: 1.25;
                }

                .close-button {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    width: 32px;
                    height: 32px;
                    text-indent: -99999px;
                    cursor: pointer;
                    background: url(../../assets/images/icons/close.svg) no-repeat center center / 16px auto;
                }
            }
        }

        .input-group-radio {
            padding: 3.2rem 4rem;

            &.hasChild {
                padding-top: 5.6rem;
                position: absolute;
                opacity: 0;
                top: 0;
                z-index: 1;
                transform: scale(.985) translateX(0);
                transition: all .3s ease;

                &.active {
                    position: relative;
                    opacity: 1;
                    z-index: 2;
                    transform: scale(1) translateX(0);

                    @include mq($sm) {
                        position: absolute;
                        top: 58px;
                        width: 100%;
                    }
                }

                .input-radio-label {
                    padding-bottom: 20px;
                    font-size: 1.2rem;
                    color: $label-rent-form;
                }
            }

            @include mq($lg) {
                padding: 2.8rem 2.4rem;
            }

            input.form-input-passanger {
                text-align: center;
                background: transparent;
                border-bottom: 1px solid rgba(142, 155, 191, 0.2);
                padding-bottom: 4px;
                font-size: 30px;
                box-sizing: border-box;
                width: 100%;
                color: white;
                margin-top: 4px;
            }

            .count-wrapper {
                margin-bottom: 17px;
                margin-top: 27px;

                .count {
                    width: 50%;
                    border: 1px solid rgba(142, 155, 191, 0.2);
                    padding: 6px 25px;
                    background: transparent;
                    color: white;
                    font-size: 30px;

                    &:hover {
                        cursor: pointer;
                    }

                    &:nth-child(1) {
                        border-right: none;
                    }
                }
            }
        }

        .item {
            margin-bottom: 2.4rem;
            opacity: 0;
            transform: translateY(-4px);
            transition: all 0.2s ease;
            transition-delay: 0s;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .input-radio {
            display: none;

            &:checked {
                +label:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        label {
            padding-left: 2.8rem;
            position: relative;
            font-size: 1.6rem;
            cursor: pointer;
            user-select: none;

            @include mq($lg) {
                font-size: 1.5rem;
            }

            @include mq($sm) {
                font-size: 1.6rem;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
            }
            &:before {
                width: 16px;
                height: 16px;
                border: solid 1px $white;
            }
            &:after {
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                background-color: $white;
                transition: all 0.25s ease;
                opacity: 0;
                transform: scale(0);
            }

        }

        .sub-label {
            display: block;
            font-size: 1.2rem;
            color: $label-rent-form;
            padding-left: 2.8rem;
        }
    }

    .rent-form-search-button {
        width: 140px;
        text-align: center;
        cursor: default;
        background-color: map-get($button, primary-disabled);
        transition: transform .15s ease;
        transform: scaleX(0);
        transform-origin: right center;
        position: absolute;
        padding: 3.2rem 0;
        top: 0;
        right: 0;
        transition-delay: 0s;
        display: none;

        &.active {
            background-color: map-get($button, primary-default);
            cursor: pointer;
            transition: all .25s ease;

            &:hover {
                background-color: map-get($button, primary-hover);
            }

            &:active {
                background-color: map-get($button, primary-press);
            }
        }

        .search-text {
            padding-top: 4rem;
            background: url(../../assets/images/icons/search.svg) no-repeat top center;
            opacity: 0;
            transform: translateY(4px);
            transition: all .25s ease;
            transition-delay: 0s;
        }

        @include mq($lg) {
            width: 120px;

            .search-text {
                font-size: 1.5rem;
                padding-top: 3.2rem;
                background-size: 20px auto;
            }
        }

        @include mq($md) {
            width: 100px;
        }

        @include mq($sm) {
            transform: scaleX(1);
            height: auto;
            width: 100%;
            top: auto;
            bottom: 0;
            z-index: 9;
            padding: 2rem 0;
            display: block;
            .search-text {
                opacity: 1;
                transform: translateY(0);
                background-image: none;
                padding: 0;
                font-size: 1.4rem;
                text-transform: uppercase;
                font-weight: map-get($fw, bold);
            }
        }
        @media screen and (max-height: 440px) {
            position: static;
        }
    }

    &.input-on-top {
        .rent-form-input {
            top: auto;
            bottom: 100px;
            transform-origin: bottom center;
            @include mq($sm) {
                top: 0;
                bottom: 0;
            }
        }

        .rent-form-search-button {
            display: table-cell;
            max-height: 140px;
            height: 100%;

            @include mq($sm) {
                display: block;
            }

            @media screen and (max-height: 580px) {
                position: static;
            }
        }
    }
}

// Rent Form Opened
.rent-form-wrapper.opened {
    .o-rent-form .o-rent-form-wrapper-button {
        display: table-cell;

        @include mq($sm) {
            display: block;
        }

        .rent-form-search-button {
            position: relative;
            display: block;
        }
    }

    .rent-form-search-button {
        transform: scaleX(1);
        position: static;
        transition-delay: .15s;
        transform-origin: left center;
        .search-text {
            opacity: 1;
            transform: translateY(0);
            transition-delay: .25s;
        }
        @include mq($sm) {
            position: absolute;
        }
    }
}

.p-home {
    .rent-form-wrapper {
        &.auto-height {
            height: auto;
            // min-height: 140px;

            .o-rent-form.input-on-top {
                bottom: 0;
                top: inherit;
            }
        }

        &.popup-show {
            height: 100%;

            .o-rent-form {
                height: 140px;
                top: inherit;
                bottom: 0;
            }
        }
    }
}

.rent-form-wrapper {
    &-popup {
        &-close {
            display: none;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 30px;
            top: 30px;

            &.show {
                display: block;
            }

            img {
                height: 100%;
            }
        }
    }

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: all .35s ease;
        transition-delay: .6s;

        &.show {
            opacity: 1;
            visibility: visible;
            transition-delay: .1s;
        }
    }

    .o-rent-form.multi {
        bottom: 0;
        top: inherit;

        .rent-form-input.calendar-input {
            bottom: 75px;
        }

        .o-rent-form-wrapper {
            height: 76px;
            border-top: 1px solid #4060B2;

            @include mq($sm) {
                height: inherit;
                border: 0;
            }

            &:first-child {
                border-top: 0;
            }

            .rent-form-display {
                padding: 1.3rem 3rem 1.3rem;

                @include mq($sm) {
                    padding: 3.2rem 2rem;
                }
            }
        }

        .o-rent-form-wrapper-button {
            max-height: 150px;

            @include mq($sm) {
                width: 100%;
                display: block;
            }

            .rent-form-search-button {
                height: 150px;
                display: table-cell;

                @include mq($sm) {
                    height: inherit;
                    position: relative;
                    display: block;
                }
            }
        }
    }
}

.o-rent-form {
    &.input-on-top {

        .text-input,
        .search-input {
            top: auto;
            bottom: 0;

            @include mq($sm) {
                top: 0;
            }
        }
    }

    .o-rent-form-wrapper {
        table-layout: fixed;
        display: table;
        width: 100%;

        &-button {
            display: none;
            width: 140px;
            vertical-align: bottom;

            @include mq($sm) {
                display: block;
                position: relative;
                width: 100%;
            }
        }
    }

    .input-flight-detail,
    .input-search-filter {
        padding: 5.6rem 2.4rem 3.2rem;
        position: absolute;
        opacity: 0;
        top: 0;
        z-index: 1;
        transform: scale(.985) translateX(0);
        transition: all .3s ease;

        &~.input-search-filter {
            transform: scale(1) translateX(10%);
        }

        @include mq($lg) {
            padding: 5.6rem 2rem 2.8rem;
        }

        @include mq($sm) {
            bottom: 0;
            top: 58px;
            padding: 2.4rem 2rem 2.8rem;
            transition: transform .35s ease;
            transition-delay: 0s;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 6rem;
        }
        &.active {
            position: relative;
            opacity: 1;
            z-index: 2;
            transform: scale(1) translateX(0);
            @include mq($sm) {
                position: absolute;
                top: 58px;
                width: 100%;
            }
        }

        .label {
            font-size: 1.2rem;
            color: $label-rent-form;

            @include mq($lg) {
                font-size: 1.1rem;
            }

            @include mq($sm) {
                font-size: 1.2rem;
            }
        }
        input {
            outline: none;
            padding: 1.6rem 0 1.6rem 4rem;
            width: 100%;
            border: 0;
            color: $white;
            background: transparent url(../../assets/images/icons/search.svg) no-repeat left center;
            border-bottom: solid 1px rgba($color: $white, $alpha: 0.2);
            font-size: 1.6rem;
            border-radius: 0;
            @include mq($lg) {
                padding: 1.2rem 0 1.2rem 2.8rem;
                background-size: 16px auto;
                font-size: 1.5rem;
            }
            @include mq($sm) {
                font-size: 1.6rem;
            }
        }
    }
    .back-form {
        position: absolute;
        top: 2rem;
        left: 2.4rem;
        width: 24px;
        height: 24px;
        text-indent: -99999px;
        cursor: pointer;
        background: transparent url(../../assets/images/icons/arrow-left.svg) no-repeat center center / 95% auto;
        @include mq($lg) {
            width: 20px;
            height: 20px;
        }
        @include mq($sm) {
            top: -.8rem;
            left: 2rem;
        }
    }
    .filter-list {
        padding: 3.2rem 2.4rem;
        max-height: 280px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        @include mq($lg) {
            padding: 2.4rem 1.6rem;
        }

        @include mq($sm) {
            height: 100%;
            max-height: calc(100vh - 125px);
        }
        .item {
            margin-bottom: 3.2rem;
            font-size: 1.6rem;
            line-height: 1.45;

            &:last-child {
                margin-bottom: 0;
            }

            @include mq($lg) {
                font-size: 1.5rem;
                margin-bottom: 2.4rem;
            }
            @include mq($sm) {
                font-size: 1.6rem;
            }
        }
        &.multiline {
            .item {
                line-height: 1.5;
            }
        }
    }
    .filter-list,
    .input-search {
        opacity: 0;
        transition: all .3s ease;
        transform: translateY(-4px);
        transition-delay: 0s;
    }

    .calendar-input {
        padding: 3.2rem 1.6rem 1.6rem;

        @include mq($lg) {
            padding: 2.8rem 1.2rem 1.2rem;
        }

        @include mq($sm) {
            padding: 52px 0 32px;
        }
    }

    .input-flight-detail {
        padding-top: 3.2rem;
        min-height: 400px;

        .input-title {
            text-align: center;
            padding-bottom: 3.2rem;
        }

        .row {
            &:after {
                content: '';
                clear: both;
                display: block;
            }
        }

        .input-flight-detail-item {
            width: 50%;
            padding: 0 12px;
            float: left;
        }

        input {
            background-image: url();
            padding-left: 0;
        }

        .flight-detail-airline-name {
            padding-top: 3.2rem;
        }
    }
}

// Trac Calendar Theme
.trac-calendar-theme {
    opacity: 0;
    transform: translateY(-4px);
    transition: all 0.2s ease;
    transition-delay: 0s;
    @include mq($sm) {
        position: absolute;
        top: 56px;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 2rem 1.6rem;
    }
    .trac-calendar-title {
        display: table;
        width: 100%;
        margin-bottom: 2.4rem;

        @include mq($sm) {
            margin-bottom: 2rem;
        }

        div {
            display: table-cell;
            text-align: center;
            color: $label-rent-form;
            font-size: 1.2rem;
            user-select: none;
            @include mq($xsr) {
                font-size: 1.1rem;
            }
        }

        .title-calendar {
            width: 80%;

            @include mq($sm) {
                width: 70%;
            }

            @include mq($xsr) {
                width: 72%;
            }
        }

        .title-time {
            width: 20%;
            padding-left: 1.6rem;

            @include mq($md) {
                padding-left: 3.2rem;
            }

            @include mq($sm) {
                width: 30%;
                padding-left: 1.6rem;
            }
            @include mq($xsr) {
                width: 28%;
                padding-left: 3.2rem;
            }
        }
    }
    .react-datepicker {
        width: 100%;
        background-color: transparent;
        border: 0;
    }
    .react-datepicker__header {
        background-color: transparent;
        border: 0;
        padding-top: 0;
    }
    .react-datepicker__current-month,
    .react-datepicker__day-name,
    .react-datepicker__day {
        color: $white;
        user-select: none;
        font-size: 1.2rem;
    }
    .react-datepicker__day-names {
        margin-top: 2.4rem;
        padding-bottom: 8px;
        border-bottom: solid 1px rgba($color: $white, $alpha: 0.25);
    }

    .react-datepicker__day-name {
        margin: 0 4px;

        @include mq($sm) {
            margin: 0 7px;
        }
    }

    .react-datepicker__month {
        margin: 8px 0;
    }

    .react-datepicker__day {
        margin: 0;
        padding: 3.5px 3px;
        width: 28px;
        height: 28px;
        line-height: 1.75;
        text-align: center;
        border-radius: 0;
        @include mq($sm) {
            padding: 5px 3px;
            width: 32px;
            height: 32px;
        }
    }
    // Hightlighted
    .react-datepicker__day--highlighted {
        color: $secondary;
        background-color: transparent;
    }
    // Disable Day
    .react-datepicker__day--disabled {
        color: rgba($color: $white, $alpha: 0.5);
    }
    // Today
    .react-datepicker__day--today {
        font-weight: map-get($map: $fw, $key: bold);
    }
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-start.react-datepicker__day--in-range,
    .react-datepicker__day--in-range:first-child {
        border-radius: 14px 0 0 14px;
    }
    .react-datepicker__day--range-end,
    .react-datepicker__day--in-range:last-child {
        border-radius: 0 14px 14px 0;
    }

    .react-datepicker__day--range-end:not(.react-datepicker__day--range-start) {
        @include mq($sm) {
            border-radius: 0 14px 14px 0 !important;
        }
    }
    // Hover and Selected
    .react-datepicker__day--selected,
    .react-datepicker__day--range-start.react-datepicker__day--in-range:last-child,
    .react-datepicker__day--highlighted.react-datepicker__day--range-start,
    .react-datepicker__day--selected.react-datepicker__day--range-end,
    .react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
        background-color: $date-range;
        border-radius: 50%;
    }
    // Date Range
    .react-datepicker__day--in-range {
        background-color: $date-range;
    }
    // Pickup Hour
    .calendar-time {
        color: $label-rent-form;
        font-size: 1.2rem;
        text-align: center;
        padding: 1.4rem 2rem;
        padding-right: 11rem;
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        border-bottom: solid 1px rgba($color: $white, $alpha: 0.25);
        border-top: solid 1px rgba($color: $white, $alpha: 0.25);
    }
    .react-datepicker {
        display: table;
        width: 100%;
        border: 0;
        border-collapse: collapse;
        padding-bottom: 1.6rem;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: -1.6rem;
            right: -1.6rem;
            bottom: -1px;
            border-bottom: solid 1px rgba($color: $white, $alpha: 0.25);
        }
    }
    .react-datepicker__month-container {
        width: 40%;
        display: table-cell;
        padding: 0 1.6rem 1.6rem;
        float: none;
        vertical-align: top;

        @include mq($lg) {
            padding: 0 1.2rem 1.2rem;
        }

        @include mq($sm) {
            width: 70%;
            padding-left: 0;
            padding-right: 1.6rem;
        }
        @include mq($xsr) {
            padding-right: 1rem;
        }
    }
    .react-datepicker__navigation {
        width: 20px;
        height: 20px;
        top: -4px;
        border-radius: 50%;
        border: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 8px auto;
    }

    .react-datepicker__navigation--previous {
        left: 1rem;
        background-image: url(../../assets/images/icons/datepicker-prev.svg);

        @include mq($sm) {
            left: 0;
        }
    }

    .react-datepicker__navigation--next {
        right: 23%;
        background-image: url(../../assets/images/icons/datepicker-next.svg);

        @include mq($sm) {
            right: 33.5%;
        }
    }
    .react-datepicker__time-container {
        width: 20%;
        display: table-cell;
        float: none;
        position: relative;
        border-left: 0;
        vertical-align: top;
        padding-left: 1.6rem;
        &:before {
            content: "";
            position: absolute;
            top: -8rem;
            left: 0;
            bottom: 0;
            border-left: solid 1px rgba($color: $white, $alpha: 0.25);
        }

        @include mq($sm) {
            width: 30%;

            &:before {
                top: 0;
            }
        }
        @include mq($xsr) {
            padding-left: 1rem;
        }
    }

    .react-datepicker__time {
        background-color: transparent;
    }

    .react-datepicker__header--time {
        display: none;
    }

    .react-datepicker__time-list {
        color: $white;
        font-size: 1.2rem;
        max-height: 235px;

        @include mq($sm) {
            max-height: initial;
            height: 222px !important;

            .react-datepicker__time-list-item {
                padding: 7px 10px !important;
                line-height: 1.2;
                height: auto !important;
            }
        }
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected,
    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
        background-color: transparent;
        color: $secondary;
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
        width: 100%;
    }

    .date-hightlight-description {
        width: 80%;
        border: 0;
        margin-top: 2.4rem;
        border-collapse: collapse;
        @include cf;
        .item {
            float: left;
            padding: 0 2rem;
            width: 50%;
            font-size: 1.2rem;
        }

        @include mq($sm) {
            width: 100%;

            .item {
                width: 100%;
                float: none;
                padding: 0 1rem;
                margin-bottom: 1.6rem;
            }
        }
    }
    .react-datepicker__day--outside-month {
        visibility: hidden;
    }
}

.trac-calendar-button-mobile {
    display: none;

    @include mq($sm) {
        display: block;
        margin-top: 2.4rem;
        padding: 0 1rem;

        .a-btn {
            width: 100%;
        }
    }
}

.filter-empty-list {
    max-width: 250px;
    margin: 0 auto;

    img {
        padding-top: 1rem;
    }

    p {
        color: $white;
        margin: 1rem 0;
    }
}
