@import '../../styles/helpers/index';

.o-sidebar-note {
    background-color: $white;
    margin-bottom: 5px;
    .note-title {
        padding: 2rem;
        font-size: 1.2rem;
        font-weight: map-get($fw, bold);
        text-transform: uppercase;
        user-select: none;
        span {
            display: none;
            position: relative;
            top: -1px;
            width: 0;
            height: 0;
            margin-left: 8px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid map-get($grey, darkest);
            transition: all 0.3s ease;
        }
        @include mq($lg) {
            padding: 1.6rem;
            font-size: 1.15rem;
        }
        @include mq($md) {
            padding: 1.4rem;
            font-size: 1.1rem;
        }
        @include mq($sm) {
            padding: 2rem;
            font-size: 1.2rem;
        }
        @include mq($xsr) {
            font-size: 1.15rem;
        }
    }
    .note-content {
        padding: 1rem 2rem 2rem;
        position: relative;
        @include mq($lg) {
            padding: .8rem 1.6rem 2rem;
        }
        @include mq($md) {
            padding: .4rem 1.4rem 1.6rem;
        }
        @include mq($sm) {
            padding: 1rem 2rem 2rem;
        }
    }
    .input {
        position: relative;
    }
    .input-text {
        outline: 0;
        border: 0;
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.75;
        padding: 0.5rem 3.2rem 0.5rem 0;
        border-bottom: solid 1px $line-thin;
        @include mq($lg) {
            font-size: 1.3rem;
            padding: 0.5rem 2.4rem 0.5rem 0;
        }
        @include mq($md) {
            font-size: 1.125rem;
            padding: 0.5rem 0;
        }
        @include mq($sm) {
            font-size: 1.4rem;
        }
        @include mq($xsr) {
            font-size: 1.3rem;
        }
    }
    .edit {
        width: 24px;
        height: 24px;
        position: absolute;
        top: -1.6rem;
        right: 0;
        text-indent: -99999px;
        cursor: pointer;
        background: url(../../assets/images/icons/edit-note.svg) no-repeat center center;
        transition: all 0.25s ease;
        &:hover {
            transform: translateY(-2px);
        }
        @include mq($lg) {
            width: 20px;
            height: 20px;
            background-size: 18px auto;
        }
        @include mq($md) {
            top: -3.2rem;
        }
        @include mq($sm) {
            top: -2.4rem;
        }
    }
    .note {
        margin-top: 8px;
        font-size: 1rem;
        color: map-get($grey, light);
        @include mq($lg) {
            margin-top: 6px;
            font-size: .9rem;
        }
        @include mq($md) {
            font-size: 8px;
        }
        @include mq($sm) {
            font-size: 1rem;
        }
        @include mq($xsr) {
            font-size: .9rem;
        }
    }
    &.has-content {
        .note-title {
            cursor: pointer;
        }
        .note-title span {
            display: inline-block;
        }
        .note-content {
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: all 0.2s ease;
            transition-delay: 0.2s;
            .text {
                padding: 1rem 2rem 2rem;
                font-size: 1.4rem;
                line-height: 1.45;
                opacity: 0;
                transition: all 0.35s ease;
                transform: translateY(4px);
                transition-delay: 0s;
                color: map-get($grey, dark);
                @include mq($lg) {
                    padding: .8rem 1.6rem 2rem;
                    font-size: 1.3rem;
                }
                @include mq($md) {
                    padding: .4rem 1.4rem 1.6rem;
                    font-size: 1.2rem;
                }
            }
        }
        &.show {
            .note-title span {
                transform: rotate(-180deg);
            }
            .note-content {
                max-height: 400px;
                .text {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: 0.2s;
                }
            }
        }
    }
}
