@import '../../styles/helpers/index';

.tabs-list {
    .tab-item {
        text-align: center;
        border-bottom: 2px solid orange;
    }
    .slick-slide {
        width: 100px !important;
    }
    .slick-slide > div {
        width: 100px;
        padding: 0 1rem;
        @include mq($md) {
            padding: 0 0.8rem;
        }
    }
    .slick-list {
        overflow: visible;
    }
    .slick-prev,
    .slick-next {
        z-index: 2;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $white;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 0 1px 7px rgba($color: $black, $alpha: 0.15);
        text-indent: -99999px;
        cursor: pointer;
        transition: all 0.3s ease;
        transform: translate(0, -50%);
        @include mq($lg) {
            width: 40px;
            height: 40px;
        }
        @include mq($md) {
            width: 32px;
            height: 32px;
            background-size: 7px auto;
        }
        &:before {
            content: '';
            display: none;
        }
        &.slick-disabled {
            opacity: 0;
            cursor: default;
        }
        &:hover {
            transform: translate(0, -52%);
        }
    }
    .slick-prev {
        background-image: url(../../assets/images/icons/slick-prev.svg);
        &.slick-disabled {
            transform: translate(-12px, -50%);
        }
        @include mq($lg) {
            left: -10px;
        }
    }
    .slick-next {
        background-image: url(../../assets/images/icons/slick-next.svg);
        &.slick-disabled {
            transform: translate(12px, -50%);
        }
        @include mq($lg) {
            right: -10px;
        }
    }
}
