@import '../../styles/helpers/index';

.p-about-us {
    .static-content {
        &>.container {
            max-width: inherit;
            @include mq($sm){
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        .about-visi {
            background: #F5F5F5;
            padding: 77px 0px;
            @include mq($sm){
                padding: 37px 0px;
            }
            .left-content {
                display: inline-block;
                width: 402px;
                padding-right: 80px;
                vertical-align: top;
                @include mq($sm){
                    width: 100%;
                    display: block;
                    padding-right: 0px;
                }
                p.title {
                    text-align: right;
                    color: #2A2E36;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 36px;
                    @include mq($sm){
                        text-align: center;
                    }
                }
                p.sub-title {
                    text-align: right;
                    vertical-align: top;
                    color: #2A2E36;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    @include mq($sm){
                        text-align: center;
                    }
                }
            }
            .right-content {
                display: inline-block;
                width: calc(100% - 402px);
                @include mq($sm){
                    width: 100%;
                    display: block;
                }
                p.content {
                    font-size: 16px;
                    font-weight: 500;
                    color: #8A959E;
                    margin-bottom: 20px;
                    line-height: 26px;
                }
            }
        }
        .features {
            padding-top: 66px;
            @include mq($sm){
                padding-top: 36px;
            }
            .feature-item {
                margin-bottom: 31px;
                &::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                .content-feature {
                    display: inline-block;
                    width: calc(100% - 630px);
                    vertical-align: top;
                    padding-top: 50px;
                    padding-right: 60px;
                    float: left;
                    @include mq($sm){
                        width: 100%;
                        padding-right: 0px;
                        float: inherit;
                        display: block;
                        padding-top: 10px;
                    }
                    p.title-feature {
                        font-size: 30px;
                        color: #2A2E36;
                        font-weight: 700;
                        margin-bottom: 24px;
                        @include mq($sm){
                            margin-bottom: 16px;
                        }
                    }
                    p.sub-title-feature {
                        font-size: 16px;
                        color: #8A959E;
                        font-weight: 500;
                    }
                }
                .img-feature {
                    display: inline-block;
                    width: 630px;
                    height: 329px;
                    float: right;
                    @include mq($sm){
                        width: 100%;
                        height: 209px;
                        float: inherit;
                        display: block;
                    }
                    img {
                        width: 630px;
                        height: 329px;
                        object-fit: cover;
                        @include mq($sm){
                            width: 100%;
                            height: 209px;
                        }
                    }
                }
            }
        }
    }
}