@import '../../styles/helpers/index';

.none-line{
    text-decoration: none;
    margin: 1em;
}
 
.badges {
    background-color: $secondary-disable;
    color: $white;
    padding: 1rem 3rem;
    border-radius: 20px;
    margin: 5px;

    &.active {
        background-color: $secondary;
    }
    &:hover {
        background-color: $secondary;
    }
}

.gone {
    opacity: 0;
}

.faq-button-list {
    margin: 6rem 0 4rem 0;
}

.list-question-wrapper {
    margin: 0 4rem;
    @include mq($sm){
        margin: 0px 0px;
    }
    .accordion-wrapper .accordion-content.show {
        margin-top: 10px;
    }
    .accordion-wrapper p.accordion-title {
        border-bottom: .1px solid $secondary-disable;
        @include mq($sm){
            padding-right: 40px;
        }
    }
}

.faq-content-wrapper{
    // position: relative;
    // display: block;
    // margin: auto;
    // width: 100%;
    // max-width: 1180px;
    // background: #F0F0F3;
    // z-index: 1;
    margin: auto;
    //width: 80%;
}

.bg-blue {
    width: 100%;
    height: 130px;
    background-color: $primary;

    .title-header {
        color: $white;
        
        .txt-label {
            padding-top: 50px;
        }
    }
}

.header-faq {
    form{
        min-width: 300px;
        width: 90%;
        position: relative;
        height: 50px;
        @include mq($xsr) {
            min-width: 240px;
        }
        @include mq($sm){
            width: 100%;
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    input[type="text"]{
        padding:.8rem 1.6rem;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: solid 1px #ecece9;
        border-radius: 2px;
        outline: 0;
        transition: border-color .25s ease;
        font-size: 1.4rem;
        &:focus{
            border-color: $secondary;
        }
    }
    button{
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        height: 100%;
        border-radius: 0 2px 2px 0;
        text-indent: -9999px;
        transition: background-color .3s ease;
        background-color: map-get($button, primary-default);
        cursor: pointer;
        overflow: hidden;
        &:before,
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: url(../../assets/images/icons/ic-search.svg) no-repeat center center;
            transition: all .45s ease;
        }
        &:before{
            opacity: 0;
            transform: translate3d(-50%, 50%, 0);
        }
        &:after{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        &:hover{
            background-color: map-get($button, primary-hover);
            &:before{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
            &:after{
                opacity: 0;
                transform: translate3d(50%, -50%, 0);
            }
        }
    }
}