@import '../../styles/helpers/index';

.a-cover {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &:focus {
        outline: none;
    }
    @include mq($md) {
        background-position: 65% center
    }
}