@import '../../styles/helpers/index';

.p-not-found {
  .not-found-content {
    text-align: center;
    padding: 12rem 2.4rem;
    @include mq($sm) {
      padding: 8.8rem 2.4rem;
    }
  }
  h1 {
    font-size: 8rem;
    font-weight: map-get($map: $fw, $key: extra-bold);
  }
}
