/* ==========================================================================
   BASE
   ========================================================================== */

pre {
    margin: 1rem 0 2rem;
    display: block;
}

code {
    display: block;
    padding: 1rem 2rem;
    white-space: pre;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $black;
    background: map-get($grey, light);
    border: 1px solid rgba($primary, 0.2);
    box-shadow: 0 0 20px 5px rgba($black, 0.2);
    border-radius: 4px;
}

label,
button {
    -webkit-tap-highlight-color: rgba($black, 0);
}

button,
input,
textarea {
    -webkit-appearance: none;
    font-family: $ff;
    font-size: 100%;
    border: 0;
    outline: 0;
}

::-webkit-input-placeholder {
    font-family: $ff;
}
:-moz-placeholder {
    font-family: $ff;
}
::-moz-placeholder {
    font-family: $ff;
}
:-ms-input-placeholder {
    font-family: $ff;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

html {
    height: 100%;
    font-size: map-get($fz, base);
    @include mq($xsr) {
        min-width: 320px;
    }
}

body {
    height: 100%;
    font-family: $ff;
    font-size: map-get($fz, text1);
    font-weight: map-get($fw, normal);
    color: map-get($grey, darkest);
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    &.remove-scroll {
        overflow: hidden;
        @include mq($sm){
            width: 100%;
        }
    }
    &.remove-scroll-ios {
        overflow: hidden;
        position: fixed;
        @include mq($sm){
            width: 100%;
        }
    }
    &.background-grey{
        background-color: map-get($grey, body);
    }
}

#root {
    min-height: 100%;
    position: relative;
    padding-bottom: 443px;
    overflow: hidden;
    @include mq($md) {
        padding-bottom: 617px;
    }
    @include mq($sm) {
        padding-bottom: 0;
    }
}

.add-padding-top {
    #root {
        padding-top: 68px;
        @include mq($sm) {
            padding-top: 58px;
        }
    }
}

a {
    color: $primary;
    cursor: pointer;
    &:hover {
        color: $secondary;
    }
}

a img {
    border: none;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

strong,
b {
    font-weight: map-get($fw, bold);
}

em,
i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

img {
    max-width: 100%;
    font-size: 1.4rem;
    @include mq($md) {
        font-size: 1.2rem;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
}

p,
li,
th,
td,
dt,
dd {
    line-height: 1.5;
}

p,
ul,
ol,
table,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd {
    margin: 0 0 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.15;
    font-weight: map-get($fw, bold);
}

h1 {
    font-size: map-get($fz, h1);
    @include mq($md) {
        font-size: map-get($fz, h1-md);
    }
    @include mq($sm) {
        font-size: map-get($fz, h1-sm);
    }
}

h2 {
    font-size: map-get($fz, h2);
    @include mq($md) {
        font-size: map-get($fz, h2-md);
    }
    @include mq($sm) {
        font-size: map-get($fz, h2-sm);
    }
}

h3 {
    font-size: map-get($fz, h3);
    @include mq($md) {
        font-size: map-get($fz, h3-md);
    }
    @include mq($sm) {
        font-size: map-get($fz, h3-sm);
    }
}

h4 {
    font-size: map-get($fz, h4);
    @include mq($md) {
        font-size: map-get($fz, h4-md);
    }
    @include mq($sm) {
        font-size: map-get($fz, h4-sm);
    }
}

h5 {
    font-size: map-get($fz, h5);
    @include mq($md) {
        font-size: map-get($fz, h5-md);
    }
    @include mq($sm) {
        font-size: map-get($fz, h5-sm);
    }
}

h6 {
    font-size: map-get($fz, h6);
    @include mq($md) {
        font-size: map-get($fz, h6-md);
    }
    @include mq($sm) {
        font-size: map-get($fz, h6-sm);
    }
}

ul,
ol {
    padding: 0;
    margin: 0 0 1.6rem;
    li {
        margin: 0;
        padding: 0 0 0 0.8rem;
    }
    ul,
    ol {
        margin-bottom: 0;
    }
}

ol {
    margin-left: 2.4rem;
    list-style-type: decimal;
    ol {
        list-style-type: lower-alpha;
        ol {
            list-style-type: decimal;
            ol {
                list-style-type: lower-alpha;
                ol {
                    list-style-type: decimal;
                }
            }
        }
    }
}

ul {
    margin-left: 2.4rem;
    list-style-type: square;
    li {
        padding-left: 0.4rem;
    }
    ul {
        list-style-type: disc;
        ul {
            list-style-type: square;
            ul {
                list-style-type: disc;
                ul {
                    list-style-type: square;
                }
            }
        }
    }
}

dl {
    dd {
        padding: 0;
        margin: 0 0 1.6rem 2.4rem;
    }
}

table {
    border-collapse: collapse;
    th,
    td {
        border-bottom: 1px solid rgba(map-get($grey, light), 0.2);
        &:first-child {
            border-left: 1px solid rgba(map-get($grey, light), 0.2);
        }
        &:last-child {
            border-right: 1px solid rgba(map-get($grey, light), 0.2);
        }
    }
    th {
        padding: 0.8rem 1.6rem;
        background-color: $primary;
        color: $white;
    }
    td {
        padding: 0.8rem 1.6rem;
    }
}
