/*==========================================================================
  GRID
  ========================================================================== */

// container
.container {
  position: relative;
  max-width: map-get($container, large);
  @include container-no-padding;
  &.has-padding {
    @include container-has-padding;
  }
  @include mq($lg) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include mq($md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-fluid {
  @include container-no-padding;
  &.has-padding {
    @include container-has-padding;
  }
}

// row
.row {
  @include make-row;
}

.row-no-padding {
  @include make-row;
  > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

// columns
@include make-grid-columns;
@include make-grid(lg);
@media only screen and (max-width: $md) {
  @include make-grid(md);
}
@media only screen and (max-width: $sm) {
  @include make-grid(sm);
}
@media only screen and (max-width: $sm) {
  @include make-grid(xs);
}
